<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <button>
    <div class="text">
      <span>Back</span>
      <span>to</span>
      <span>top</span>
    </div>
    <div class="clone">
      <span>Back</span>
      <span>to</span>
      <span>top</span>
    </div>
    <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none" class="h-6 w-6"
      xmlns="http://www.w3.org/2000/svg" width="20px">
      <path d="M14 5l7 7m0 0l-7 7m7-7H3" stroke-linejoin="round" stroke-linecap="round"></path>
    </svg>
  </button>

</body>

</html>