<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/e03d7ac5cf.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <title>Google Search Bar</title>
</head>

<body>
    <div class="search-container">
        <a class="g-icon" href="https://google.com" target="_blank"><img
                src="https://user-images.githubusercontent.com/48612525/86507657-d54fbd80-bd8e-11ea-866b-ac26496481ae.png"
                alt="google icon" /></a>
        <input id="mysearch" class="search-bar" type="text" placeholder="Search here" />
        <button onclick="search()"><i class="fa fa-search"></i></button>
    </div>
    <div class="voice"></div>
</body>

<!-- partial -->
<script src="./script.js"></script>

</body>

</html>