html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.search-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #ffffff;
    border-radius: 500px;
    padding: 10px 25px 10px 25px;
    border: 5px solid #39FF14;
    z-index: 100;
}

.search-container:hover {
    box-shadow: 0px 1px 40px -1px #39ff14;
    color: green;
}

.search-container img {
    height: 30px;
    width: 30px;
}

.search-container .search-bar {
    padding: 5px;
    margin-left: 15px;
    margin-right: 15px;
    width: 300px;
    border-radius: 5px;
    background: transparent;
    border: 1px solid transparent;
    outline: none;
    font-size: 1.2rem;
    color: green;
    overflow-x: scroll;
}

.search-container button {
    background: transparent;
    border: none;
}

.search-container button i {
    font-size: 1.5rem;
    margin: 3px;
    color: black;
}

.search-container button:hover {
    cursor: pointer;
}

@media only screen and (max-width: 570px) {
    .search-bar {
        width: 200px !important;
    }
}