body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eee;
}

.search-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #fff;
    border-radius: 500px;
    padding: 10px 25px 10px 25px;
    border: 5px solid #39FF14;
    z-index: 100;
}

.search-container .fc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-container img {
    height: 30px;
    width: 30px;
}

.search-container .search-bar {
    padding: 5px;
    margin-left: 15px;
    margin-right: 15px;
    width: 300px;
    border-radius: 5px;
    background: transparent;
    border: 1px solid transparent;
    outline: none;
    font-size: 1.2rem;
    color: green;
    overflow-x: scroll;
}

.search-container button {
    background: transparent;
    border: none;
}

.search-container button i {
    font-size: 1.5rem;
    margin: 3px;
    color: white;
}

.search-container button:hover {
    cursor: pointer;
}

.search-container:hover {
    box-shadow: 0px 1px 40px -1px #39ff14;
    color: green;
}

.voice {
    position: relative;
    left: 13%;
    height: 40px;
    background: #111;
    color: #FFF;
    opacity: 0;
    clip-path: polygon(0 84%, 100% 84%, 100% 18%, 56% 18%, 51% 8%, 45% 19%, 0 19%);
}

.voice .access-voice {
    color: #FFF;
    text-align: center;
    background: #000;
    font-size: 1rem;
    margin: 3px;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 10px;
    vertical-align: center;
}

@media only screen and (max-width: 570px) {
    .search-bar {
        width: 200px !important;
    }

    .voice {
        position: relative;
        left: 23% !important;
    }

    .voice .access-voice {
        font-size: 0.8rem;
    }
}

body {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: black;
}

section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#particles {
    background: #000000;
}

#hexagonGrid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#hexagonGrid .row {
    display: inline-flex;
    margin-top: -32px;
    margin-left: -50px;
}

#hexagonGrid .row:nth-child(even) {
    margin-left: 2px;
}

#hexagonGrid .row .hexagon {
    position: relative;
    width: 100px;
    height: 110px;
    margin: 4px 2px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

#hexagonGrid .row .hexagon::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.95;
    transition: 1s;
}

#hexagonGrid .row .hexagon::after {
    content: "";
    position: absolute;
    top: 4px;
    right: 4px;
    bottom: 4px;
    left: 4px;
    background: #141414;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

#hexagonGrid .row .hexagon:hover::before {
    background: #8CFD0B;
    opacity: 1;
    transition: 0s;
}

#hexagonGrid .row .hexagon:hover::after {
    background: #000000;
}

.vertical-centered-box {
    position: absolute;
    text-align: center;
    width: 100%;
}

html {
    height: 100%;
}

@keyframes ring {
    100% {
        transform: rotateX(70deg) rotateY(0deg) rotate(360deg);
    }
}

@keyframes ring2 {
    100% {
        transform: rotateX(70deg) rotateY(60deg) rotate(360deg);
    }
}

@keyframes ring3 {
    100% {
        transform: rotateX(70deg) rotateY(-60deg) rotate(360deg);
    }
}