<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Glassmorphism Card</title>
</head>

<body>
    <div class="container">
        <div class="box"></div>
        <div class="content">
            <img src="https://avatars.githubusercontent.com/u/73993775?v=4">
            <h3>Rakesh</h3> <span class="role">Software Engineer</span>
        </div>
        <ul class="card">
            <li>
                <span class="value">50</span>
                <span class="parameter">Posts</span>
            </li>
            <li>
                <span class="value">5M</span>
                <span class="parameter">Followers</span>
            </li>
            <button class="follow">Follow</button>
        </ul>
    </div>
</body>

</html>