<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Flipside Button</title>
</head>

<body>

    <div class="btn">
        <div class="btn-back">
            <p>Are you sure you want to do that?</p>
            <button class="yes">Yes</button>
            <button class="no">No</button>
        </div>
        <div class="btn-front">Delete</div>
    </div>

    <p class="description">Try clicking different sides of the button</p>

    <p class="project-title">Flipside - A button that seamlessly transitions from action to confirmation</p>

    <script src="script.js" defer> </script>

</body>

</html>
