html,
body {
    background: #333;
    height: 100%;
    overflow: hidden;
    text-align: center;
}

.svg-wrapper {
    height: 60px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.shape {
    fill: transparent;
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
    stroke: #19f6e8;
}

.hover-txt {
    color: #fff;
    font-family: 'Roboto Condensed';
    font-size: 22px;
    letter-spacing: 8px;
    line-height: 32px;
    position: relative;
    top: -48px;
}

@keyframes BorderAnimation {
    0% {
        stroke-dasharray: 140 540;
        stroke-dashoffset: -474;
        stroke-width: 8px;
    }

    100% {
        stroke-dasharray: 760;
        stroke-dashoffset: 0;
        stroke-width: 2px;
    }
}

.svg-wrapper:hover .shape {
    -webkit-animation: 0.5s BorderAnimation linear forwards;
    animation: 0.5s BorderAnimation linear forwards;
}