<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="./style.css">
    <title>Interactive Hexagonal Background</title>
</head>

<body>
    <!-- partial:index.partial.html -->
    <section>

        <!-- PARTICLES -->
        <canvas id="particles"></canvas>

        <!-- HEXAGON GRID -->
        <div id="hexagonGrid"></div>

    </section>
    <!-- partial -->
    <script src="./script.js"></script>

</body>

</html>