<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Neumorphism Search Bar</title>
</head>

<body>
    <div class="container">
        <form autocomplete="off">
            <div class="finder">
                <div class="finder__outer">
                    <div class="finder__inner">
                        <div class="finder__icon" ref="icon"></div>
                        <input class="finder__input" type="text" name="q" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>

<script src="script.js"></script>

</html>