<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Show Counts Tooltip</title>
</head>
<body>
    <div class="tooltip-container">
        <span class="tooltip">100k</span>
        <span class="text">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 95 114" class="svgIcon">
                <rect fill="black" rx="28.5" height="57" width="57" x="19"></rect>
                <path fill="black" d="M0 109.5C0 83.2665 21.2665 62 47.5 62V62C73.7335 62 95 83.2665 95 109.5V114H0V109.5Z"></path>
            </svg>
            Follow
        </span>
    </div>
</body>
</html>
