<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text To Voice Form</title>
</head>

<body>
    <div class="wrapper">
        <header>Text To Voice</header>
        <form action="#">
            <div class="row">
                <label>Enter Text</label>
                <textarea></textarea>
            </div>
            <div class="row">
                <label>Select Voice</label>
                <div class="outer">
                    <select></select>
                </div>
            </div>
            <button>Convert To Voice</button>
        </form>
    </div>

    <script src="script.js"></script>

</body>

</html>