<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/61673b2d06.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <title>The More Menu Dropdown</title>
</head>

<body>
    <h2 align="center" class="header">Click Here </h2>
    <h2 align="center"><i class="fa-solid fa-arrow-down"></i></h2>
    <div class="dots" onclick="this.classList.toggle('active');">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="shadow cut"></div>
        <div class="container cut">
            <div class="drop cut2"></div>
        </div>
        <div class="list">
            <ul>
                <li>
                    Mark as read
                </li>
                <li>
                    Flag as important
                </li>
                <li>
                    Save for later
                </li>
                <li>
                    Move to trash
                </li>
                <li>
                    Mark as spam
                </li>
            </ul>
        </div>
        <div class="dot"></div>
    </div>
    <div class="cursor" onclick="document.querySelector('.dots').classList.toggle('active');"></div>
</body>

</html>