body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: #000;
}

ul {
	list-style: none;
}

li::after {
	content: "";
	display: block;
	height: 0px;
	transition: height 0.3s ease-in-out;
	pointer-events: none;
}

li:hover::after {
	height: 10px;
}

.example-2 {
	display: flex;
	justify-content: center;
	align-items: center;
}
.example-2 .icon-content {
	margin: 0 10px;
	position: relative;
}
.example-2 .icon-content .tooltip {
	position: absolute;
	bottom: -30px;
	left: 50%;
	transform: translateX(-50%);
	color: #fff;
	padding: 6px 10px;
	border-radius: 5px;
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
	font-size: 14px;
	transition: all 0.3s ease;
}
.example-2 .icon-content:hover .tooltip {
	opacity: 1;
	visibility: visible;
	bottom: -40px;
}
.example-2 .icon-content a {
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	color: #4d4d4d;
	background-color: #fff;
	transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover {
	box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}
.example-2 .icon-content a svg {
	position: relative;
	z-index: 1;
	width: 30px;
	height: 30px;
}
.example-2 .icon-content a:hover {
	color: white;
}
.example-2 .icon-content a .filled {
	position: absolute;
	top: auto;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0;
	background-color: #000;
	transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover .filled {
	height: 100%;
}
.example-2 .icon-content a[data-social="spotify"] .filled,
.example-2 .icon-content a[data-social="spotify"] ~ .tooltip {
	background-color: #1db954;
}
.example-2 .icon-content a[data-social="pinterest"] .filled,
.example-2 .icon-content a[data-social="pinterest"] ~ .tooltip {
	background-color: #bd081c;
}
.example-2 .icon-content a[data-social="dribbble"] .filled,
.example-2 .icon-content a[data-social="dribbble"] ~ .tooltip {
	background-color: #ea4c89;
}
.example-2 .icon-content a[data-social="telegram"] .filled,
.example-2 .icon-content a[data-social="telegram"] ~ .tooltip {
	background-color: #0088cc;
}
