<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Rainbow Coloured Scroll Bar</title>
</head>
<body>
    <button onclick="topFunction()" id="Btn" title="Go to top">Top</button>
    <img src="asset-images/img1.jpg">
    <img src="asset-images/img2.jpg">
    <img src="asset-images/img3.jpg">
    <img src="asset-images/img4.jpg">

    <script src="./script.js"></script>
</body>
</html>
