body {
    margin: 0;
    padding: 0;
    background-color: #FFDAB9;
    overflow: hidden;
    cursor: none;

}

.cursor {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ffffff;
    pointer-events: none;
    background: linear-gradient(45deg, #008080, #40E0D0, #20B2AA);
    box-shadow: 0 0 10px rgba(32, 178, 170, 0.5);
    mix-blend-mode: difference;

}

@keyframes swirl {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
