<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="./style.css">
    <title>Particle Animation Background</title>
</head>

<body>
    <!-- partial:index.partial.html -->
    <div class="mod">
        <div class="cube">

            <div class="faces f1">

                <div class="dot p1"></div>
                <div class="dot p2"></div>
                <div class="dot p3"></div>

                <div class="dot p4"></div>
                <div class="dot p5"></div>
                <div class="dot p6"></div>

                <div class="dot p7"></div>
                <div class="dot p8"></div>
                <div class="dot p9"></div>

            </div>

            <div class="faces f2">

                <div class="dot p10"></div>
                <div class="dot p11"></div>
                <div class="dot p12"></div>
                <div class="dot p13"></div>

            </div>

            <div class="faces f3">

                <div class="dot p1"></div>
                <div class="dot p2"></div>
                <div class="dot p3"></div>

                <div class="dot p4"></div>
                <div class="dot p5"></div>
                <div class="dot p6"></div>

                <div class="dot p7"></div>
                <div class="dot p8"></div>
                <div class="dot p9"></div>

            </div>

            <div class="faces f4">

                <div class="dot p10"></div>
                <div class="dot p11"></div>
                <div class="dot p12"></div>
                <div class="dot p13"></div>

            </div>

            <div class="faces f5">

                <div class="dot p1"></div>
                <div class="dot p2"></div>
                <div class="dot p3"></div>

                <div class="dot p4"></div>
                <div class="dot p5"></div>
                <div class="dot p6"></div>

                <div class="dot p7"></div>
                <div class="dot p8"></div>
                <div class="dot p9"></div>

            </div>

            <div class="faces f6">

                <div class="dot p10"></div>
                <div class="dot p11"></div>
                <div class="dot p12"></div>
                <div class="dot p13"></div>

            </div>

            <div class="faces f7">

                <div class="dot p1"></div>
                <div class="dot p2"></div>
                <div class="dot p3"></div>

                <div class="dot p4"></div>
                <div class="dot p5"></div>
                <div class="dot p6"></div>

                <div class="dot p7"></div>
                <div class="dot p8"></div>
                <div class="dot p9"></div>

            </div>

            <div class="faces f8">

                <div class="dot p10"></div>
                <div class="dot p11"></div>
                <div class="dot p12"></div>
                <div class="dot p13"></div>

            </div>

            <div class="faces f9">

                <div class="dot p1"></div>
                <div class="dot p2"></div>
                <div class="dot p3"></div>

                <div class="dot p4"></div>
                <div class="dot p5"></div>
                <div class="dot p6"></div>

                <div class="dot p7"></div>
                <div class="dot p8"></div>
                <div class="dot p9"></div>

            </div>

            <div class="faces f10">

                <div class="dot p10"></div>
                <div class="dot p11"></div>
                <div class="dot p12"></div>
                <div class="dot p13"></div>

            </div>

            <div class="faces f11">

                <div class="dot p1"></div>
                <div class="dot p2"></div>
                <div class="dot p3"></div>

                <div class="dot p4"></div>
                <div class="dot p5"></div>
                <div class="dot p6"></div>

                <div class="dot p7"></div>
                <div class="dot p8"></div>
                <div class="dot p9"></div>

            </div>

        </div>

        <div class="project-name">
            <div class="l1">Beautiify</div>
            <div class="l2">__</div>
        </div>

    </div>
</body>

</html>