<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>3D Animated Card</title>
</head>

<body>
    <div class="box">
        <h1>3D Animated Card</h1>
        <div class="card">
            <div class="content">
                <h2>Heading</h2>
                <p>Beautiify Presents</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt explicabo quaerat ea laborum
                    deleniti similique eaque nihil fuga, odio, tempora, harum reiciendis? At, quam veritatis autem optio
                    quia dignissimos quo!</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt explicabo quaerat ea laborum
                    deleniti similique eaque nihil fuga, odio, tempora, harum reiciendis? At, quam veritatis autem optio
                    quia dignissimos quo!</p>
            </div>
        </div>
    </div>
</body>

</html>