<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Toast message popup</title>
</head>
<body>
    <main>

        <button onclick="toggleToast()">Click Me</button>

    </main>

    <section class="toast-wrapper">
        Lorem ipsum dolor sit amet.
    </section>

    <script src="./script.js"></script>
</body>
</html>