<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Floating Action Button</title>
</head>

<body>
    <div class="ab">
        <img class="plus" src="assets/plus.svg">
        <hr>
        <img class="c" src="assets/share.svg">
        <img class="a" src="assets/download.svg">
        <img class="b" src="assets/pencil-square.svg">
    </div>

    <script src="script.js"></script>
</body>

</html>