<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div class="ab">
        <img class="plus" src="./images/plus.svg">
        <hr>
        <img class="c" src="./images/share.svg">
        <img class="a" src="./images/download.svg">
        <img class="b" src="./images/pencil-square.svg">
    </div>
    <script src="./script.js"></script>
</body>

</html>