<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructions Tooltips</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="item-hints">
        <div class="hint" data-position="4">
            <span class="hint-radius"></span>
            <span class="hint-dot">Tip</span>
            <div class="hint-content do--split-children">
                <p>Use Navbar to navigate the website quickly and easily.</p>
            </div>
        </div>
    </div>

</body>

</html>