@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Aclonica", sans-serif;
}

:root {
    --main-color:rgb(255, 0, 212);
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('assets/background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.hero-content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-title {
    text-align: center;
    font-size: 4em;
    width: 100%;
    max-width: 950px;
}

.hero-subtitle {
    font-size: 1.5em;
    width: 100%;
    max-width: 700px;
    margin: 25px 0;
    text-align: center;
}

.hero-btn {
    display: inline-block;
    margin-top: 1em;
    padding: 0.75em 1.5em;
    font-size: 1em;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 0.3em;
    transition: background-color 0.3s, color 0.3s;
}

.hero-btn:hover {
    background-color: white;
    color: var(--main-color);
}


@media all and (max-width: 768px) {
    .hero-title {
        font-size: 2.8em;
    }
    
    .hero-subtitle {
        font-size: 1em;
    }
    
}
