<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Elegant Custom Scrollbar</title>
</head>

<body>
    <div class="container custom-scrollbar">
        <h1>Elegant Custom Scrollbar</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt ipsa sapiente expedita aperiam iste suscipit
            cum voluptates voluptatibus facilis incidunt perferendis dolore iure iusto, minima culpa id velit
            consequatur quae?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt ipsa sapiente expedita aperiam iste suscipit
            cum voluptates voluptatibus facilis incidunt perferendis dolore iure iusto, minima culpa id velit
            consequatur quae?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt ipsa sapiente expedita aperiam iste suscipit
            cum voluptates voluptatibus facilis incidunt perferendis dolore iure iusto, minima culpa id velit
            consequatur quae?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt ipsa sapiente expedita aperiam iste suscipit
            cum voluptates voluptatibus facilis incidunt perferendis dolore iure iusto, minima culpa id velit
            consequatur quae?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt ipsa sapiente expedita aperiam iste suscipit
            cum voluptates voluptatibus facilis incidunt perferendis dolore iure iusto, minima culpa id velit
            consequatur quae?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt ipsa sapiente expedita aperiam iste suscipit
            cum voluptates voluptatibus facilis incidunt perferendis dolore iure iusto, minima culpa id velit
            consequatur quae?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt ipsa sapiente expedita aperiam iste suscipit
            cum voluptates voluptatibus facilis incidunt perferendis dolore iure iusto, minima culpa id velit
            consequatur quae?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt ipsa sapiente expedita aperiam iste suscipit
            cum voluptates voluptatibus facilis incidunt perferendis dolore iure iusto, minima culpa id velit
            consequatur quae?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt ipsa sapiente expedita aperiam iste suscipit
            cum voluptates voluptatibus facilis incidunt perferendis dolore iure iusto, minima culpa id velit
            consequatur quae?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt ipsa sapiente expedita aperiam iste suscipit
            cum voluptates voluptatibus facilis incidunt perferendis dolore iure iusto, minima culpa id velit
            consequatur quae?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt ipsa sapiente expedita aperiam iste suscipit
            cum voluptates voluptatibus facilis incidunt perferendis dolore iure iusto, minima culpa id velit
            consequatur quae?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt ipsa sapiente expedita aperiam iste suscipit
            cum voluptates voluptatibus facilis incidunt perferendis dolore iure iusto, minima culpa id velit
            consequatur quae?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt ipsa sapiente expedita aperiam iste suscipit
            cum voluptates voluptatibus facilis incidunt perferendis dolore iure iusto, minima culpa id velit
            consequatur quae?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt ipsa sapiente expedita aperiam iste suscipit
            cum voluptates voluptatibus facilis incidunt perferendis dolore iure iusto, minima culpa id velit
            consequatur quae?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt ipsa sapiente expedita aperiam iste suscipit
            cum voluptates voluptatibus facilis incidunt perferendis dolore iure iusto, minima culpa id velit
            consequatur quae?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt ipsa sapiente expedita aperiam iste suscipit
            cum voluptates voluptatibus facilis incidunt perferendis dolore iure iusto, minima culpa id velit
            consequatur quae?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt ipsa sapiente expedita aperiam iste suscipit
            cum voluptates voluptatibus facilis incidunt perferendis dolore iure iusto, minima culpa id velit
            consequatur quae?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt ipsa sapiente expedita aperiam iste suscipit
            cum voluptates voluptatibus facilis incidunt perferendis dolore iure iusto, minima culpa id velit
            consequatur quae?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt ipsa sapiente expedita aperiam iste suscipit
            cum voluptates voluptatibus facilis incidunt perferendis dolore iure iusto, minima culpa id velit
            consequatur quae?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt ipsa sapiente expedita aperiam iste suscipit
            cum voluptates voluptatibus facilis incidunt perferendis dolore iure iusto, minima culpa id velit
            consequatur quae?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt ipsa sapiente expedita aperiam iste suscipit
            cum voluptates voluptatibus facilis incidunt perferendis dolore iure iusto, minima culpa id velit
            consequatur quae?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt ipsa sapiente expedita aperiam iste suscipit
            cum voluptates voluptatibus facilis incidunt perferendis dolore iure iusto, minima culpa id velit
            consequatur quae?</p>
        <p style="margin-bottom: 0;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt ipsa sapiente
            expedita aperiam iste suscipit cum voluptates voluptatibus facilis incidunt perferendis dolore iure iusto,
            minima culpa id velit consequatur quae?</p>
    </div>
</body>

</html>