body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.neu-background {
    background: #f0f0f0;
    box-shadow: 10px 10px 20px #cbced1, -10px -10px 20px #ffffff;
    border-radius: 20px;
    padding: 40px;
    text-align: center;
    width: 80%;
    height: 60%;
}

.neu-heading {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 110px;
}

.neu-subheading {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
}

.neu-cta-button {
    background: #f0f0f0;
    box-shadow: 10px 10px 20px #cbced1, -10px -10px 20px #ffffff;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
    transition: box-shadow 0.3s ease;
}

.neu-cta-button:hover {
    box-shadow: 5px 5px 10px #cbced1, -5px -5px 10px #ffffff;
}