@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --primary: #f4eff0;
    --secondary: #ff1b82;
    --ternary: #1327ff;
    --light: #f7f26c;
    --dark: #f50414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: var(--light);
}

::-webkit-scrollbar-thumb {
    background: var(--dark);
}

body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    line-height: 1.4;
    background: var(--primary);
    font-size: 1.4rem;
    background-image: url('https://images.unsplash.com/photo-1686301170323-6fc146a9bfc7?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover; /* Adjust the background size */
    background-position: center; /* Adjust the background position */
    background-repeat: no-repeat;
    overflow: hidden;
}


section {
    scroll-margin-top: 50px;
    z-index: 100;
}



.heading {
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    color: rgb(189, 180, 180);
    text-align: center;
    margin-bottom: 100px;
    margin-top: 100px;
    position: relative;
    transition: color 0.3s ease;
}

.heading:hover {
    color: #fff; /* Change text color on hover */
}




.contain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box {
    box-sizing: border-box;
    border: 3px solid var(--light);
    border-radius: 14px;
    box-shadow: 5px 5px 10px 1px var(--dark);
    margin: 20px 50px;
    padding: 20px 40px;
    width: 370px;
    color: black;
    background-color: rgba(255, 255, 255, 0.363);
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

.box:hover {
    background-color: rgba(255, 255, 255, 0.8);

}


h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    text-align:center;
}

.preview {
    margin-top: 45px;
    float: left;
}

.preview img {
    height: 41px;
    width: 41px;
    transition: transform 0.3s ease; 
}

.preview img:hover {
    transform: scale(1.2); 
}

.source {
    margin-top: 45px;
    float: right;
}

.source img {
    height: 41px;
    width: 41px;
    transition: transform 0.3s ease;
}

.source img:hover {
transform: scale(1.2);
}