@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --primary: #f4eff0;
    --secondary: #ff1b82;
    --ternary: #1327ff;
    --light: #f7f26c;
    --dark: #f50414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(white);
}

::-webkit-scrollbar-thumb {
    background: rgba(152, 151, 151, 0.883);
}

body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    line-height: 1.4;
    margin: 4%;
    font-size: 1.4rem;
    background-image: url(../images/bg2.png);
    background-repeat: no repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
}

section {
    z-index: 100;
}

.heading {
    font-size: 4em;
    font-weight: bolder;
    color: white;
    text-align: center;
    margin: 75px 0 80px;
    text-shadow: 2px 2px 2px black, 1px 1px 1px white;
}

.contain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 32px;
}

.box {
    box-sizing: border-box;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 14px;
    box-shadow: 3px 3px 6px 1px white;
    margin: 20px 50px;
    padding: 20px 40px;
    width: 370px;
    color: black;
    background-color: #f0dee9b5;
    transition: all 0.2s ease-in-out;
    position: relative;
}

.box:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}

h1 {
    color: black;
    text-align: center;
    text-shadow: 1px 1px 1px black, 1px 1px 1px white;
    font-size: 1.8em;
}

.preview {
    margin-top: 45px;
    float: left;
}

.preview img {
    height: 41px;
    width: 41px;
    transition: all 0.2s ease-in-out;
}

.source {
    margin-top: 45px;
    float: right;
}

.source img {
    height: 41px;
    width: 41px;
    transition: all 0.2s ease-in-out;
}

.source img:hover {
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
}

.preview img:hover {
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
}