:root {
    --primary: #ff1b82;
    --secondary: #f4eff0;
    --ternary: #1327ff;
    --light: #f7f26c;
    --dark: #f50414;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--light);
}

::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 25px;
}

html {
    font-size: 62.5%;
}

h1 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin-top: 25px;
    font-size: 45px;
    color: var(--light);
    text-align: center;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}

h1:hover {
    color: var(--primary);
}

#contributor {
    margin: 0;
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    font-family: Ubuntu;
}

div {
    display: block;
}

body, html {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    line-height: 1.4;
    scroll-behavior: smooth;
}

body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(../../assets/images/background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1.4rem;
}

.contributor-card:nth-child(4n+1), .contributor-card:nth-child(4n+3) {
    margin-top: -4px;
}

.contributor-card {
    width: 95px;
    height: 95px;
    clip-path: circle(40%);
    margin: 5px;
    transition: transform 0.3s ease-in-out , opacity 0.3s ease-in-out;
}

.contributor-card:hover {
    box-shadow: 0 0 10px rgba(253, 251, 251, 0.5); /* Adjust the color and size of the glow as needed */
}

.contributor-card:active {
    transform: scale(1.1);
    opacity: 0.8;
    box-shadow: 0 0 20px rgb(188, 240, 210); /* Adjust the color and size of the glow as needed */
}

/* Updated Footer Styling */

.footer-basic {
    padding:40px 0;
    background-color: rgb(9, 5, 40, 0.9);
}
  
.footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
    display:flex;
    justify-content: center;
}
  
.footer-basic li {
    padding:0 10px;
}
  
.footer-basic ul a {
    color: var(--light);
    padding: 8px;
    font-weight: 500;
    border: 1px solid transparent;
    text-decoration:none;
    transition: 0.3s ease-in;
    opacity:0.8;
}
  
.footer-basic ul a:hover {
    opacity: 1;
    color: var(--primary);
    border-top-color: var(--primary);
    border-bottom-color: var(--primary);
}
  
.footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
}

.social{
    font-size: 3.5rem;
    text-decoration: none;
    margin: 0 1rem;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.social a{
    color: var(--secondary);
}

.social a:hover{
    color: var(--primary);
}
  
.footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:rgb(255, 255, 255);
    margin-bottom:0;
}