* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    background-image: url(../images/bg3.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.contributors .heading-box {
    background-color: pink;
    border: 2px solid purple;
    padding: 30px 70px;
    text-align: center;
    position: relative;
}

.contributors .heading-box:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%, 0%);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid pink;
}

.contributors .heading {
    font-size: 4.5rem;
    transition: color 0.3s ease-in-out;
}

.contributors .heading:hover {
    color: purple;
}

.contributors .subheading {
    margin-top: 10px;
    font-size: 25px;
}

.dark-mode .contributors .heading-box {
    background-color: grey;
    border: 2px solid black;
}

.dark-mode .contributors .heading-box:after {
    border-top-color: grey;
}

.dark-mode .contributors .heading {
    color: white;
}

.dark-mode .contributors .heading:hover {
    color: lightgrey;
}

.contributors {
    margin: 0;
    padding: 0;
}

.dark-mode .contributors h1 {
    color: beige;
}

.dark-mode header.header2 {
    background-image: none;
    background-color: black;
}

#contributor {
    margin: 34px;
    padding: 0px 25px;
    line-height: 10;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contributor-card {
    position: relative;
    width: 95px;
    height: 95px;
    margin: 5px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.contributor-card:hover {
    transform: scale(1.22);
    opacity: 0.85;
}

.contributor-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: circle(40%);
}

.contributor-card .name-overlay {
    display: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    padding: 2px 5px; 
    line-height: 1.2; 
    font-size: 12px; 
}

.contributor-card:hover .name-overlay {
    display: block; /* Show on hover */
}

.contributor-card:nth-child(4n+1),
.contributor-card:nth-child(4n+3) {
    margin-top: -4px;
}

.footer {
    margin-top: 1em;
}
