body {
    background-image: url(../images/bg3.png);
    background-repeat: no repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;

}

.contributors {
    margin: 0;
    padding: 0;
}

.contributors h1 {
    text-align: center;
    color: rgb(68, 184, 230);
    font-weight: 600;
    font-size: 4.5rem;
    margin-top: 25px;
    margin-bottom: 4%;
    transition: color 0.3s ease-in-out;
}

.contributors h1:hover {
    cursor: pointer;
    color: rgb(148, 250, 64);
}

.dark-mode .contributors h1 {
    color: beige;
}

.dark-mode header.header2 {
    background-image: none;
    background-color: black;
}

#contributor {
    margin: 0;
    padding: 0 25px;
    line-height: 10;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contributor-card {
    width: 95px;
    height: 95px;
    clip-path: circle(40%);
    margin: 5px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.contributor-card:hover {
    transform: scale(1.35);
    opacity: 0.85;
}

.contributor-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contributor-card:nth-child(4n+1),
.contributor-card:nth-child(4n+3) {
    margin-top: -4px;
}

.footer {
    margin-top: 1em;
}