.contributors {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../images/bg3.png);
    background-repeat: no repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    
}

.contributors h1 {
    text-align: center;
    color: skyblue;
    font-weight: 600;
    font-size: 4.5rem;
    margin-bottom: 4%;
}

.contributors h1:hover {
    text-decoration: underline;
    color: rgb(68, 184, 230);
}

#contributor {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contributor-card {
    width: 75px;
    height: 75px;
    clip-path: polygon(50% 0%, 91% 25%, 91% 75%, 50% 100%, 9% 75%, 9% 25%);
    margin: 5px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.contributor-card:hover {
    transform: scale(1.35);
    opacity: 0.85;
}

.contributor-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contributor-card:nth-child(4n+1),
.contributor-card:nth-child(4n+3) {
    margin-top: -4px;
}


.footer {
    margin-top: 1em;
}


@media (min-width: 1000px){
    .footer{
        position: fixed;
        width: 100%;
        bottom: 0;  
    }
}