* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    background-image: url(../images/bg3.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.contributors .heading-box {
    background-color: pink;
    border: 2px solid purple;
    padding: 30px 70px;
    text-align: center;
    position: relative;
}

.contributors .heading-box:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%, 0%);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid pink;
}

.contributors .heading {
    font-size: 4.5rem;
    transition: color 0.3s ease-in-out;
}

.contributors .heading:hover {
    color: purple;
}

.contributors .subheading {
    margin-top: 10px;
    font-size: 25px;
}

.dark-mode .contributors .heading-box {
    background-color: grey;
    border: 2px solid black;
}

.dark-mode .contributors .heading-box:after {
    border-top-color: grey;
}

.dark-mode .contributors .heading {
    color: white;
}

.dark-mode .contributors .heading:hover {
    color: lightgrey;
}

.contributors {
    margin: 0;
    padding: 0;
}

.dark-mode .contributors h1 {
    color: beige;
}

.dark-mode header.header2 {
    background-image: none;
    background-color: black;
}

#contributor {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.contributor-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px; 
    margin: 10px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    text-align: center;
}

.contributor-card:hover {
    transform: scale(1.22);
    opacity: 0.85;

.contributor-card img {
    width: 95px;
    height: 95px;
    clip-path: circle(50%); 
    object-fit: cover;
    display: block;
    margin-bottom: 10px; 
}

.contributor-name {
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
    color: #c9d1d9;
}
