* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../images/bg3.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

#section-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 25px;
    min-height: calc(100vh - 160px); /* Adjusted to account for header and footer */
}

.box-wrapper {
    max-width: 1200px;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    min-height: 550px; /* Minimum height to prevent shrinkage */
}

.box-wrapper:hover {
    transition: 0.25s;
    filter: drop-shadow(0px 0px 10px rgb(0, 0, 0, 0.7));
}

.info-wrap,
.form-wrap {
    padding: 40px;
}

.info-wrap {
    width: 50%;
    background: linear-gradient(144deg, rgba(126, 39, 156, 0.9) 0%, rgba(49, 39, 157, 0.9) 49%);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-title {
    font-size: 28px;
    color: #fff9f9;
    margin-bottom: 20px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8),
        0 0 10px rgba(255, 175, 204, 0.8),
        0 0 15px rgba(255, 105, 135, 0.6),
        0 0 20px rgba(255, 65, 108, 0.6);
    filter: blur(0.1px);
}

.info-title:hover {
    color: #00d5ff;
    transform: scale(1.1);
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.info-sub-title {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
    line-height: 1.5;
    text-shadow: 1px 1px 2px black;
}

.info-details {
    list-style: none;
    margin-bottom: 20px;
}

.info-details li {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #ffffff;
    text-shadow: 1px 1px 2px black;
}

.info-details li i {
    background: #49025f;
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 14px;
    text-shadow: 1px 2px 2px black;
    box-shadow: 1px 1px 2px black;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.info-details li i:hover {
    transform: translateY(-5px) rotate(10deg);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5), -5px -5px 15px rgba(255, 255, 255, 0.6);
}

.info-details li a .hide {
    display: none;
}

.info-details li a {
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    transition: all .4s;
    align-self: center;
    word-break: keep-all;
}

.info-details li a:hover {
    color: #f44770;
}

.social-icons {
    list-style: none;
    display: flex;
    justify-content: center;
}

.social-icons li {
    margin: 0 10px;
}

.social-icons li a {
    display: inline-block;
    background: #49025f;
    color: #ffffff;
    padding: 10px 15px;
    font-size: 21px;
    border-radius: 22%;
    transition: all 0.5s ease-in-out;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.social-icons li a:hover {
    background: #ffffff;
    color: #49025f;
    box-shadow: 0 4px 15px rgba(73, 2, 95, 0.8), 0 0 10px rgba(73, 2, 95, 0.5);
    transform: scale(1.1);
}

.form-wrap {
    width: 60%;
    background: #ecf0f3;
}

.form-title {
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    text-align: center;
    font-size: 30px;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8),
        0 0 10px rgba(255, 175, 204, 0.8),
        0 0 15px rgba(255, 105, 135, 0.6),
        0 0 20px rgba(255, 65, 108, 0.6);
    color: #130e15;
}

.form-fields {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form-group1 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form-group1 input,
.form-group1 textarea {
    width: 100%;
    font-size: 16px;
    color: #555555;
    background: none;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 21px 36px;
    outline: none;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
    border-bottom: 4px solid #130e15;
}

.form-fields .form-group1 input::placeholder,
.form-fields .form-group1 textarea::placeholder {
    font-size: 18px;
    opacity: 0.95;
}

.form-group1 textarea {
    height: 150px;
    resize: vertical;
}

.submit-button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 30px;
    background: #49025f;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.5s ease;
    margin-top: 35px;
    text-shadow: 1px 2px 2px black;
    box-shadow: 2px 3px 8px #7d7a7a, -3px -3px 8px white;
}

.submit-button:hover {
    background: #31279d;
    transform: scale(0.98);
}

@media screen and (max-width: 1100px) {
    .box-wrapper {
        max-width: 1200px;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .box-wrapper {
        flex-direction: column;
    }

    .info-wrap,
    .form-wrap {
        width: 100%;
    }

    .info-wrap {
        order: -1;
    }
}

@media screen and (max-width: 480px) {
    .form-group1 {
        flex-basis: 100%;
    }

    .info-wrap,
    .form-wrap {
        padding: 30px;
    }
}

@media (max-width: 433px) {

    .info-details li span {
        display: none;
    }
}

@media (max-width: 352px) {
    .info-details li a .hide {
        display: inline;
    }

    .info-details li a .show {
        display: none;
    }

    .info-details li span {
        display: none;
    }
}