* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../images/bg3.png);
    background-repeat: no repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
}

#section-wrapper {
    width: 100%;
    margin-top: 25px;
}

.box-wrapper {
    position: relative;
    display: table;
    width: 75vw;
    top: 15px;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 30px;
    filter: drop-shadow(0px 0px 10px rgb(0, 0, 0, 0.4));
}

.box-wrapper:hover {
    transition: 0.25s;
    filter: drop-shadow(0px 0px 10px rgb(0, 0, 0, 0.7));
}

.info-wrap {
    width: 35%;
    height: 80vh;
    padding: 40px;
    float: left;
    display: block;
    border-radius: 30px 0px 0px 30px;
    background: linear-gradient(144deg, rgba(126, 39, 156, 0.9) 0%, rgba(49, 39, 157, 0.9) 49%);
    color: #fff;
}

.info-title {
    text-align: left;
    font-size: 28px;
    letter-spacing: 0.5px;
    text-shadow: 1px 2px 2px black;
}

.info-sub-title {
    font-size: 18px;
    font-weight: 300;
    margin-top: 17px;
    letter-spacing: 0.5px;
    line-height: 26px;
    text-shadow: 1px 1px 2px black;
}

.info-details {
    list-style: none;
    margin: 60px 0px;
}

.info-details li {
    margin-top: 25px;
    font-size: 18px;
    color: #fff;
    text-shadow: 1px 1px 2px black;
}

.info-details li i {
    background: #49025f;
    padding: 9px;
    border-radius: 50%;
    font-size: 14px;
    margin-right: 5px;
    text-shadow: 1px 2px 2px black;
    box-shadow: 1px 1px 2px black;
}

.info-details li a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    transition: all .4s;
}

.info-details li a:hover {
    color: #f44770;
}

.social-icons {
    list-style: none;
    text-align: center;
    margin: 20px 0px;
}

.social-icons li {
    display: inline-block;
}

.social-icons li i {
    background: #49025f;
    color: #fff;
    padding: 15px;
    font-size: 20px;
    border-radius: 22%;
    margin: 0px 5px;
    cursor: pointer;
    transition: all 0.5s;
    box-shadow: 1px 1px 2px black;
}

.social-icons li i:hover {
    background: #fff;
    color: #49025f;
}

.form-wrap {
    width: 65%;
    height: 80vh;
    float: right;
    padding: 40px 25px 35px 25px;
    border-radius: 0px 30px 30px 0px;
    background: #ecf0f3;
}

.form-title {
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    text-align: center;
    margin-left: 23px;
    font-size: 30px;
    letter-spacing: 0.5px;
    text-shadow: 1px 1px 2px black, 1px 1px 2px white;
}

.form-fields {
    display: table;
    width: 100%;
    padding: 15px 5px 5px 5px;
}

.form-fields input,
.form-fields textarea {
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    color: #555;
    padding: 20px 10px 20px 5px;
    width: 100%;
}

.form-fields textarea {
    height: 150px;
    resize: none;
}

.form-group {
    width: 46%;
    float: left;
    padding: 0px 30px;
    margin: 14px 12px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}

.form-fields .form-group:last-child {
    width: 96%;
}

.submit-button {
    width: 96%;
    height: 9vh;
    margin: 20px 12px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 500;
    text-shadow: 1px 2px 2px black;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    text-align: center;
    background: #49025f;
    box-shadow: 2px 3px 8px #7d7a7a, -3px -3px 8px white;
    transition: transform 0.5s;
}

.submit-button:hover {
    background: #31279d;
    transform: scale(0.98);
}

/* Responsive css */

@media screen and (min-width: 767px) and (max-width: 1023px) {
    .box-wrapper {
        width: 85%;
    }

    .info-wrap {
        width: 40%;
        padding: 16px;
    }

    .form-wrap {
        width: 60%;
    }

    .form-group {
        padding-left: 15px;
        margin-left: 0px;
    }

    .submit-button {
        margin-left: 5px;
    }
}

@media screen and (max-width: 767px) {
    .box-wrapper {
        width: 90%;
        margin-top: 5%;
        margin-bottom: 5%;
        top: 0;
    }

    .info-wrap {
        width: 100%;
        height: 40%;
        float: none;
    }

    .form-wrap {
        width: 100%;
        height: 60%;
        float: none;
    }

    .info-wrap {
        border-radius: 30px 30px 0px 0px;
    }

    .form-wrap {
        border-radius: 0px 0px 30px 30px;
    }

    .form-group {
        width: 100%;
        float: none;
        margin: 25px 0px;
    }

    .form-fields .form-group:last-child,
    .submit-button {
        width: 100%;
    }

    .submit-button {
        margin: 10px 0px;
    }
}