.circle {
    z-index: 10000;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    pointer-events: none;
    animation: colors 5s infinite;
    position: fixed;
    transform: translate(-50%, -50%);
}

.circle::before {
    content: "";
    position: fixed;
    width: 50px;
    height: 50px;
    opacity: 0.2;
    transform: translate(-30%, -30%);
    border-radius: 50%;
}