#progress-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
    z-index: 9999;
    /* background: #f3f3f3; */
}

#progress-bar {
    height: 100%;
    width: 0;
    background: linear-gradient(90deg, rgba(59,3,52,1) 0%, rgba(219,0,255,1) 50%, rgba(59,3,52,1) 100%);
    box-shadow: 0 0 10px rgba(219, 0, 255, 0.7), 0 0 20px rgba(219, 0, 255, 0.7), 0 0 30px rgba(219, 0, 255, 0.7);
    transition: width 0.09s ease-in-out;
}