#searchBar {
    margin-top: -60px;
    width: auto;
}
.color-picker-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;  /* 确保弹窗位于页面最上层 */
}

#searchBar h1 {
    font-size: 3rem;
}

#searchBar input {
    margin-top: -10px;
}