@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --primary: #f4eff0;
    --secondary: #ff1b82;
    --ternary: #1327ff;
    --light: #f7f26c;
    --dark: #f50414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: var(--light);
}

::-webkit-scrollbar-thumb {
    background: var(--dark);
}

body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    line-height: 1.4;
    background: var(--primary);
    font-size: 1.4rem;
}

section {
    scroll-margin-top: 50px;
    z-index: 100;
}

.heading {
    font-size: 41px;
    font-weight: bolder;
    color: var(--ternary);
    text-align: center;
    text-decoration: underline;
    margin: 50px 0;
}

.contain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    box-sizing: border-box;
    border: 3px solid var(--light);
    border-radius: 14px;
    box-shadow: 5px 5px 10px 1px var(--dark);
    margin: 20px 50px;
    padding: 20px 40px;
    width: 370px;
    color: black;
}

h1 {
    color: var(--secondary);
}

.preview {
    margin-top: 45px;
    float: left;
}

.preview img {
    height: 41px;
    width: 41px;
}

.source {
    margin-top: 45px;
    float: right;
}

.source img {
    height: 41px;
    width: 41px;
}

/* Back To components */
 
.back_to_components{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    margin: 0;
}
.back_to_components a{
    text-decoration: none;
}
.back_to_components button{
    background: #bad8e1;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #a4599a;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}