<!DOCTYPE html> 
<html lang="en"> 

<head> 
  <!-- Required meta tags -->
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> 

  <!-- Bootstrap Icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">

  <!-- Custom CSS -->
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      margin: 0;
    }
    .content-container {
      text-align: center;
    }
  </style>
</head> 

<body style=" background-image: linear-gradient(rgb(252, 174, 218), rgb(226, 180, 247), rgb(200, 243, 251));"> 
    <div class="content-container mt-5 mb-5">

    <h1 style="color: rgb(86, 4, 86)">Social Media Icons</h1> 
    <div></div>
    <div><h4> Download these images to use it to beautify web pages</h4></div>
    <div class="d-flex flex-column bd-highlight mb-3 align-items-center"> 
      <div class="p-2 bd-highlight">
        <img src="../../assets/images/m.png" alt="Image 1" class="img-fluid">
        <h2 style="color: blue;">Meta</h2>
      </div> 
      <div></div>
      <div class="p-2 bd-highlight">
        <img src="../../assets/images/l.jpg" alt="Image 2" class="img-fluid">
        <h2 style="color: blueviolet;">Linkedin</h2>
      </div> 
      <div></div>
      <div class="p-2 bd-highlight">
        <img src="../../assets/images/x.png" alt="Image 3" class="img-fluid">
        <h2 style="color: rgb(4, 86, 73);">Twitter</h2>
      </div> 
    <div class="mb-4"></div>
   </div>
   
    <h1 style="color: rgb(234, 14, 14)">Direction Arrow Icons</h1> 
    <div></div>
    <div><h4> Download these images to use it to beautify web pages</h4></div>
    <div class="d-flex flex-column bd-highlight mb-3 align-items-center"> 
      <div class="p-2 bd-highlight">
        <img src="../../assets/images/u.png" alt="Image 1" class="img-fluid">
        <h2 style="color: rgb(20, 115, 1);">Upward arrow</h2>
      </div> 
      <div></div>
      <div class="p-2 bd-highlight">
        <img src="../../assets/images/d.png" alt="Image 2" class="img-fluid">
        <h2 style="color: rgb(3, 74, 129);">Downward arrow</h2>
      </div> 
      <div></div>
      <div class="p-2 bd-highlight">
        <img src="../../assets/images/l.png" alt="Image 3" class="img-fluid">
        <h2 style="color: rgb(129, 79, 3);">Left arrow</h2>
      </div> 
      <div></div>
      <div class="p-2 bd-highlight">
        <img src="../../assets/images/r.png" alt="Image 2" class="img-fluid">
        <h2 style="color: rgb(109, 3, 102);">Right arrow</h2>
      </div> 
      <div></div>
    </div> 
  </div>
</body> 

<script src="./script.js"></script>
<script src="./assets/js_files/hamburgerMenu.js"></script>
<script src="./assets/js_files/contributor.js"></script>

</html>
