*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    background-color: #2c2a2a;
    color: #fff;
}

.wrapper {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: 50%;
    -webkit-background-size: cover;
    background-size: cover;
    background-image: url(https://i.imgur.com/YCSYk8J.jpg);
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    -ms-transform-origin: center top;
    -o-transform-origin: center top;
    transform-origin: center top;
    box-shadow: 0 22px 54px rgba(0, 0, 0, .5);
}

.small {
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    -o-transform: scale(.9);
    transform: scale(.9);
    cursor: pointer;
}

.footer {
    padding: 20px 0;
    text-align: center;
    font-size: 20px;
}


.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;

}

.socialIcons a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.socialIcons a:hover {
    background-color: black;
    transition: 0.5s;

}

.socialIcons a:hover i {
    color: white;
    transition: 0.5s;
}

.footerNav {
    margin: 30px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
}

.footerNav ul li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3rem;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover {
    opacity: 1;

}

.footerBottom {
    background-color: black;
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    color: white;

}

.design {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px'

}