<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Parallax Background</title>
</head>

<body>
    <div class="parallax">

        <img src="./images/hill1.png" id="hill1">
        <img src="./images/hill2.png" id="hill2">
        <img src="./images/hill3.png" id="hill3">
        <img src="./images/hill4.png" id="hill4">
        <img src="./images/hill5.png" id="hill5">
        <img src="./images/tree.png" id="tree">
        <h2 id="text">Parallax Website</h2>
        <img src="./images/leaf.png" id="leaf">

        <img src="./images/plant.png" id="plant">

    </div>

    <section class="sec">
        <h2>Welcome to the Parallax Scrolling Background</h2>
    </section>

    <script src="./script.js"></script>
</body>

</html>