@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#text {
    font-size: 5em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.sec {
    height: 800px;
    position: relative;
    background: #003329;
    padding: 100px;
}

.sec h2 {
    text-align: center;
    font-size: 3em;
    color: #fff;
    /* margin-bottom: 10px;
    margin-top: 100px; */
    top: 50%;
    left: 50%;
}

@media (max-width:1000px) {
    .parallax img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

    }
}

@media (max-width:500px) {
    #text {
        font-size: 4em;
    }

    .sec h2 {
        font-size: 2.5em;

    }
}