<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ON/OFF Button</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <input hidden="" id="check" name="check" type="checkbox">
        <label class="toggle" for="check">
            <div class="toggle__circle"></div>
        </label>
        <div class="toggle-text">
            <span>N</span>
            <span>F</span>
        </div>
    </div>
</body>

</html>