body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('assets/background.jpg');
    background-size: cover;
    color: white;
}

header {
    background-color: black;
    color: #fff;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

nav h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.contact-form,
.contact-info {
    width: 100%;
    max-width: 45%;
    margin: 10px auto;
}

.contact-form form {
    max-width: 300px;
    margin: 0 auto;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    color: white;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form input[type="submit"] {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}

.contact-info {
    font-size: 1.2rem;
}

.contact-info h2 {
    margin-top: 20px;
    font-family: 'Dancing Script', cursive;
    color: red;
}

h2 {
    font-family: 'Dancing Script', cursive;
    color: red;
    margin-top: 20px;
    text-align: center;
    font-size: 2.8rem;
}

.contact-info ul {
    list-style-type: none;
    padding: 0;
}

.contact-info ul li {
    margin-bottom: 5px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
        align-items: center;
    }

    .contact-form,
    .contact-info {
        max-width: 90%;
    }

    nav ul li {
        margin: 0 10px;
    }

    h2 {
        font-size: 2.2rem;
    }
}

@media (max-width: 480px) {
    .contact-form form {
        max-width: 100%;
    }

    .contact-form input,
    .contact-form textarea {
        padding: 6px;
    }

    .contact-form input[type="submit"] {
        padding: 10px;
    }

    .contact-info {
        font-size: 1rem;
    }

    h2 {
        font-size: 1.8rem;
    }
}