<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Flip Text Animation</title>
</head>

<body>
    <div class="wave">
        <span style="--i:1">B</span>
        <span style="--i:2">e</span>
        <span style="--i:3">a</span>
        <span style="--i:4">u</span>
        <span style="--i:5">t</span>
        <span style="--i:6">i</span>
        <span style="--i:7">i</span>
        <span style="--i:8">f</span>
        <span style="--i:9">y</span>
    </div>

</body>

</html>