body {
    margin: 0;
    background: skyblue;
    font-family: 'Arial', sans-serif;
}

.overlay-container {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.overlay a {
    padding: 15px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 30px;
    cursor: pointer;
    color: #818181;
}



.open-btn {
    font-size: 20px;
    cursor: pointer;
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;

    position: fixed;
    top: 20px;
    left: 20px;
}

.open-btn:hover {
    background-color: #45a049;
}