<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Bending Sheet Table</title>
</head>

<body>
    <table>
        <caption>Bending Sheet Table</caption>
        <thead>
            <tr>
                <th>One</th>
                <th>Two</th>
                <th>Three</th>
            </tr>
        </thead>
        <tbody>
            <tr style="--zi: 0">
                <td data-title="One">Cell 1</td>
                <td data-title="Two">Cell 2</td>
                <td data-title="Three">Cell 3</td>
            </tr>
            <tr style="--zi: -1">
                <td data-title="One">Cell 1</td>
                <td data-title="Two">Cell 2</td>
                <td data-title="Three">Cell 3</td>
            </tr>
            <tr style="--zi: -2">
                <td data-title="One">Cell 1</td>
                <td data-title="Two">Cell 2</td>
                <td data-title="Three">Cell 3</td>
            </tr>
            <tr style="--zi: -3">
                <td data-title="One">Cell 1</td>
                <td data-title="Two">Cell 2</td>
                <td data-title="Three">Cell 3</td>
            </tr>
            <tr style="--zi: -4">
                <td data-title="One">Cell 1</td>
                <td data-title="Two">Cell 2</td>
                <td data-title="Three">Cell 3</td>
            </tr>
            <tr style="--zi: -5">
                <td data-title="One">Cell 1</td>
                <td data-title="Two">Cell 2</td>
                <td data-title="Three">Cell 3</td>
            </tr>
            <tr style="--zi: -6">
                <td data-title="One">Cell 1</td>
                <td data-title="Two">Cell 2</td>
                <td data-title="Three">Cell 3</td>
            </tr>
            <tr style="--zi: -7">
                <td data-title="One">Cell 1</td>
                <td data-title="Two">Cell 2</td>
                <td data-title="Three">Cell 3</td>
            </tr>
            <tr style="--zi: -8">
                <td data-title="One">Cell 1</td>
                <td data-title="Two">Cell 2</td>
                <td data-title="Three">Cell 3</td>
            </tr>
            <tr style="--zi: -9">
                <td data-title="One">Cell 1</td>
                <td data-title="Two">Cell 2</td>
                <td data-title="Three">Cell 3</td>
            </tr>
        </tbody>
    </table>
</body>

</html>