body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
}

.heading {
    text-align: center;
    font-size: 3em;
    margin-top: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* White text shadow */
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.animated-text {
    font-size: 5em;
    font-weight: bold;
    text-transform: uppercase;
    color: transparent;
    background: linear-gradient(90deg, #ff00ff, #00ffff, #ff0000, #ffff00); /* Neon colors */
    background-size: 400%;
    -webkit-background-clip: text;
    background-clip: text;
    position: relative;
    animation: gradientAnimation 8s infinite linear;
}

@keyframes gradientAnimation {
    0% {
        background-position: -100% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}
