<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Youtube Buttons</title>
</head>

<body>
    <div class="button-container">
        <button class="yt-button subscribe-btn rounded-button">
            Subscribe
        </button>
        <div class="buttons-row">
            <div class="scroll-container">
                <div class="likes-container rounded-button" style="display: flex; gap: 4px;">
                    <button class="yt-button left-rounded-button">
                        <svg height="24" viewBox="0 0 24 24" width="24" focusable="false" aria-hidden="true"
                            style="pointer-events: none; display: inherit;height: 100%;rotate: 180deg;">
                            <path
                                d="M17,4h-1H6.57C5.5,4,4.59,4.67,4.38,5.61l-1.34,6C2.77,12.85,3.82,14,5.23,14h4.23l-1.52,4.94C7.62,19.97,8.46,21,9.62,21 c0.58,0,1.14-0.24,1.52-0.65L17,14h4V4H17z M10.4,19.67C10.21,19.88,9.92,20,9.62,20c-0.26,0-0.5-0.11-0.63-0.3 c-0.07-0.1-0.15-0.26-0.09-0.47l1.52-4.94l0.4-1.29H9.46H5.23c-0.41,0-0.8-0.17-1.03-0.46c-0.12-0.15-0.25-0.4-0.18-0.72l1.34-6 C5.46,5.35,5.97,5,6.57,5H16v8.61L10.4,19.67z M20,13h-3V5h3V13z">
                            </path>
                        </svg>
                        <span class="button-count">12K</span>
                    </button>
                    <div class="like-divider"></div>
                    <button class="yt-button right-rounded-button">
                        <svg height="24" viewBox="0 0 24 24" width="24" focusable="false" aria-hidden="true"
                            style="pointer-events: none; display: inherit; height: 100%;">
                            <path
                                d="M17,4h-1H6.57C5.5,4,4.59,4.67,4.38,5.61l-1.34,6C2.77,12.85,3.82,14,5.23,14h4.23l-1.52,4.94C7.62,19.97,8.46,21,9.62,21 c0.58,0,1.14-0.24,1.52-0.65L17,14h4V4H17z M10.4,19.67C10.21,19.88,9.92,20,9.62,20c-0.26,0-0.5-0.11-0.63-0.3 c-0.07-0.1-0.15-0.26-0.09-0.47l1.52-4.94l0.4-1.29H9.46H5.23c-0.41,0-0.8-0.17-1.03-0.46c-0.12-0.15-0.25-0.4-0.18-0.72l1.34-6 C5.46,5.35,5.97,5,6.57,5H16v8.61L10.4,19.67z M20,13h-3V5h3V13z">
                            </path>
                        </svg>
                    </button>
                </div>
                <div class="divider"></div>
                <button class="yt-button rounded-button">
                    <svg height="24" viewBox="0 0 24 24" width="24" fill="currentColor">
                        <path
                            d="M15,5.63L20.66,12L15,18.37V15v-1h-1c-3.96,0-7.14,1-9.75,3.09c1.84-4.07,5.11-6.4,9.89-7.1L15,9.86V9V5.63 M14,3v6 C6.22,10.13,3.11,15.33,2,21c2.78-3.97,6.44-6,12-6v6l8-9L14,3L14,3z" />
                    </svg>
                    Share
                </button>
                <button class="yt-button rounded-button">
                    <svg height="24" viewBox="0 0 24 24" width="24" fill="currentColor">
                        <path
                            d="M17 18V19H6V18H17ZM16.5 11.4L15.8 10.7L12 14.4V4H11V14.4L7.2 10.6L6.5 11.3L11.5 16.3L16.5 11.4Z" />
                    </svg>
                    Download
                </button>
                <div class="yt-button rounded-button three-dot">
                    <svg height="24" viewBox="0 0 24 24" width="36" focusable="false">
                        <path
                            d="M7.5 12c0 .83-.67 1.5-1.5 1.5s-1.5-.67-1.5-1.5.67-1.5 1.5-1.5 1.5.67 1.5 1.5zm4.5-1.5c-.83 0-1.5.67-1.5 1.5s.67 1.5 1.5 1.5 1.5-.67 1.5-1.5-.67-1.5-1.5-1.5zm6 0c-.83 0-1.5.67-1.5 1.5s.67 1.5 1.5 1.5 1.5-.67 1.5-1.5-.67-1.5-1.5-1.5z">
                        </path>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</body>

</html>