body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f9f9f9;
    font-family: 'Roboto', Arial, sans-serif;
}

.button-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    background-color: white;
    padding: 16px;
    border-radius: 100px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.9);
    max-width: 100%;
}


.buttons-row {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 12px;
}

.yt-button {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 8px 16px;
    border: none;
    background-color: #f2f2f2;
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 12px;
    color: #0f0f0f;
    height: 36px;
}

.yt-button:hover {
    background-color: #e5e5e5;
}

.subscribe-btn {
    background-color: #0f0f0f;
    color: white;
    height: 36px;
    align-self: flex-end;
}

.subscribe-btn:hover {
    background-color: #272727;
}

.divider {
    width: 1px;
    height: 24px;
    background-color: #e5e5e5;
    margin: 0 8px;
}

.button-count {
    font-size: 14px;
    margin-left: 4px;
}

.likes-container {
    background-color: #f2f2f2;
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 14px;
    color: #0f0f0f;
    height: 36px;
}

.rounded-button {
    border-radius: 18px;
}

.left-rounded-button {
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}

.right-rounded-button {
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}

.like-divider {
    width: 2px;
    height: 24px;
    margin: 6px -4px 0 -4px;
    background-color: #e5e5e5;
}

.three-dot {
    padding: 0%;
    justify-content: center;
    height: 36px;
    width: 36px;
}

.scroll-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 12px;
    width: 100%;
    
    scrollbar-width: none;
}

@media (max-width: 600px) {
    .button-container {
        flex-direction: column;
        align-items: stretch;
        width: 100%;
        border-radius: 0px;
    }

    .scroll-container {
        flex-wrap: nowrap;
        overflow-x: auto;
        gap: 8px;
    }
}