<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./style.css">
    <title>Naughty Submit Button</title>
</head>

<body>
    <div class="container">
        <h2>Naughty Submit Button</h2>
        <input type="text" placeholder="Username" id="username" />
        <input type="password" placeholder="Password" id="password" />
        <button id="submit">Submit</button>
        <p id="message-ref">Signed Up Successfully!</p>
    </div>

    <script src="./script.js"></script>

</body>

</html>