<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../../../assets/images/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="style.css" />
    <title>Round Squares Loader</title>
</head>

<body>
    <div class="loader">
        <div id="blob1" class="blob"></div>
        <div id="blob2" class="blob"></div>
        <div id="blob3" class="blob"></div>
        <div id="blob4" class="blob"></div>
    </div>
</body>

</html>