<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Newsletter Subscription Form</title>
</head>

<body>

    <div class="sign-up-container">
        <div class="envelope">
            <div class="paper">
                <h1>Subscribe to our Newsletter</h1>
                <form class="sign-up-form">
                    <input type="text" placeholder="Name" class="text-input" />
                    <input type="email" placeholder="Email" class="text-input" />
                    <button type="submit" class="button">Sign up</button>
                </form>
            </div>
            <div class="bottom-flap"></div>
        </div>
        <div class="thanks-text"> <span>Thanks for subscribing!</span></div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="script.js"></script>

</body>

</html>