<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sliced Text Effect</title>

	<link rel="stylesheet" href="https://use.typekit.net/ejh4sem.css">
	<link rel="stylesheet" type="text/css" href="./style.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
	<script>document.documentElement.className = "js";</script>
	<script>
		(function () {
			var gtagScript = document.createElement('script');
			gtagScript.async = true;
			gtagScript.src = "https://www.googletagmanager.com/gtag/js?id=G-0CWJCBYV82";
			document.head.appendChild(gtagScript);

			window.dataLayer = window.dataLayer || [];
			function gtag() { dataLayer.push(arguments); }
			gtag('js', new Date());
			gtag('config', 'G-0CWJCBYV82');
		})();

	</script>
</head>

<body class="loading">
	<main>

		<div class="deco">

		</div>
		<div class="content">

			<h2 class="gtext size-s font-4 end" data-text="Break me out">Break me out</h2>
			<h2 class="gtext size-s font-4 end" data-text="Break me out">Break me out</h2>
		</div>
		<div class="content content--full">
			<h3 class="gtext size-xxl font-5 shadow-1 spaced" data-text="saved" data-effect="1">saved</h3>
		</div>

		<div class="content">

			<h2 class="gtext size-s font-5 end" data-text="Let me flee">Let me flee</h2>
		</div>
		<div class="content content--full">
			<h3 class="gtext size-xl font-4 shadow-2 color-1 spaced" data-text="loved" data-effect="2">loved</h3>
		</div>

		<div class="content">

			<h2 class="gtext size-s font-1 end" data-text="Break me out">Break me out</h2>
			<h2 class="gtext size-s font-1 end" data-text="Break me out">Break me out</h2>
		</div>
		<div class="content content--full">
			<h3 class="gtext size-xl font-7 shadow-1 spaced" data-text="freed" data-effect="3">freed</h3>
		</div>
		<div class="content content--full">
			<h2 class="gtext size-m font-7 end end" data-text="Set me free">Set me free</h2>
		</div>

		<div class="content">

		</div>
		<div class="content content--full">
			<h3 class="gtext size-xl font-2 shadow-2 color-1 blendmode-1 spaced" data-text="bold" data-effect="4">
				bold
			</h3>
		</div>
		<div class="content content--full">
			<h2 class="gtext size-m font-4 end end" data-text="Unbreak me">Unbreak me</h2>
		</div>

		<div class="content">

			<h2 class="gtext size-s font-1 end" data-text="Awaken me">Awaken me</h2>
			<h2 class="gtext size-s font-1 end" data-text="Awaken me">Awaken me</h2>
		</div>
		<div class="content content--full">
			<h3 class="gtext size-xxl font-6 shadow-1 spaced" data-text="inspired" data-effect="5">inspired</h3>
			<p> <br>
				<br>
				<br>
			</p>
		</div>




	</main>

	<script src="./js/imagesloaded.pkgd.min.js"></script>
	<script src="js/gsap.min.js"></script>
	<script src="js/ScrollTrigger.min.js"></script>
	<script src="js/lenis.min.js"></script>
	<script type="module" src="js/index.js"></script>
</body>

</html>