body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    position: relative;
    text-align: center;
}

.modal-content h2 {
    margin-top: 0;
    margin-bottom: 15px;
    color: #333;
    font-size: 26px;
}

.modal-content p {
    color: #555;
    font-size: 16px;
    margin-bottom: 30px;
}

.modal-content button[type="submit"] {
    background: linear-gradient(to right, #4BB34B, #2AE42A);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    transition: background 0.3s ease;
}

.modal-content button[type="submit"]:hover {
    background: linear-gradient(to right, #3FDC3F, #1C7C14);
}

.modal-content button[type="submit"]:focus {
    outline: none;
}

.close {
    color: #aaa;
    font-size: 26px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
}

.form-group .icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    background-color: #4BB34B;
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 12px 12px 12px 45px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    margin-top: 5px;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
    color: #bbb;
}

.form-group textarea {
    height: 120px;
}

.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.rating h2 {
    margin: 0;
    margin-right: 12px;
    font-size: 20px;
    color: #555;
}

.rating__star {
    font-size: 30px;
    margin: 0 7px;
    cursor: pointer;
    color: #DABF18;
}

.rating__star:hover,
.rating__star.active {
    color: #FFC107;
}

#thank-you-message,
#error-message {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

#thank-you-message {
    color: #28a745;
}

#error-message {
    color: #dc3545;
}