body {
    margin: 0;
    overflow: hidden;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.smoke-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.smoke {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('smoke.png');
    opacity: 0;
    animation: smokeAnimation 4s linear infinite;
}

.text-container {
    font-size: 4em;
    color: #fff;
    font-family: 'Arial', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    animation: textAnimation 4s linear infinite;
}

@keyframes smokeAnimation {
    0% {
        opacity: 0.2;
    }

    50% {
        opacity: 0.8;
    }

    100% {
        opacity: 0.2;
    }
}

@keyframes textAnimation {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}