body {
    background-color: rgb(214, 30, 214);
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    background-color: rgb(214, 30, 214);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@keyframes zoom{
    from{font-size:medium}
    to{font-size:larger}
}
.text {
    background-color: white;
    border-radius: 10px;
    height:100px;
    width:550px;
    text-align: center;
    animation-name: zoom;
    animation-duration: 1s;
    animation-delay:0s;
    animation-iteration-count: infinite;
} 