body {
    background: linear-gradient(135deg, rgb(214, 30, 214), rgb(58, 134, 255));
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

@keyframes zoom {
    0% {
        transform: scale(1);
        color: rgb(214, 30, 214);
        text-shadow: 0px 0px 10px rgba(214, 30, 214, 0.5);
    }
    50% {
        transform: scale(1.2);
        color: rgb(58, 134, 255);
        text-shadow: 0px 0px 20px rgba(58, 134, 255, 0.7);
    }
    100% {
        transform: scale(1);
        color: rgb(214, 30, 214);
        text-shadow: 0px 0px 10px rgba(214, 30, 214, 0.5);
    }
}

.text {
    background-color: white;
    border-radius: 15px;
    padding: 20px 40px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
    animation: zoom 1.5s infinite ease-in-out;
    transition: all 0.3s ease-in-out;
    font-size: 1vw;
}

.text:hover {
    transform: scale(1.1);
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.3);
}