body {
    background: #f5fffa;
    margin: 0;
    padding: 0;
}

.wrapper {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #FFF;
    border: 1px #000 solid;
    margin: 20px auto;
    padding: 15px;
    position: relative;
    width: 600px;
    height: 600px;
}

#container {
    width: 580px;
    height: 580px;
    padding: 5px;
    margin-top: 5px;
    overflow: auto;
    position: relative;
}

.ssb_down {
    background-color: #33ccaa;
    bottom: 0;
    cursor: pointer;
    position: absolute;
    right: 0;
    border-radius: 10px;
}

.ssb_sb {
    background-color: #22aabb;
    cursor: pointer;
    position: absolute;
    right: 0;
    border-radius: 10px;
}

.ssb_sb_down {
    background-color: #1199aa;
}

.ssb_sb_over {
    background-color: #33bbcc;
}

.ssb_st {
    background-color: #dedede;
    cursor: pointer;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 10px;
}

.ssb_up {
    background-color: #33ccaa;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 10px;
}

.parent {
    font-family: verdana;
    height: 100%;
    padding: 10px;
    position: relative;
}