<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../../assets/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="./style.css">
    <title>3D Button</title>
</head>

<body>
    <section>
        <button type="button" class="button">
            <div class="button-top">3D Button</div>
            <div class="button-bottom"></div>
            <div class="button-base"></div>
        </button>
    </section>
</body>

</html>