<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap"
        rel="stylesheet" />
    <title>Expandable Search Bar</title>
</head>

<body>
    <div class="container">
        <div class="search-bar">
            <input type="text" placeholder="Type here..." />
            <i class="fa-solid fa-magnifying-glass"></i>
            <i class="fa-solid fa-xmark"></i>
        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>