<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <title>Simple Footer</title>
</head>

<body>
    <div class="main">
        <div class="header">
            <div class="footer">
                <div class="information">
                    <h2>Information</h2>
                    <a href="#">Terms and condition</a>
                    <a href="#">Privacy Policy</a>
                    <a href="#">FAQ's</a>
                    <a href="#">Alumini</a>
                </div>
                <div class="quicklink">
                    <h2>Quick link</h2>
                    <a href="#">Blog</a>
                    <a href="#">Login</a>
                    <a href="#">Job</a>
                </div>
                <div class="contect">
                    <h2>Contect</h2>
                    <a href="#"><span class="material-symbols-outlined">location_on</span> Delhi-NCR, Ghaziabad-Meerut
                        Road Ghaziabad-201206</a>
                    <a href="#"><span class="material-symbols-outlined">call</span> +91-xxx-xxx-xxx,0000-0000-000,
                        01232-227857</a>
                    <a href="#"><span class="material-symbols-outlined">mail</span>director@beautiify.edu</a>
                </div>
            </div>
            <h2 style="background-color: #963ceac4;">Beautiify &hearts; presents</h2>
        </div>
    </div>

    </div>
</body>

</html>