<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css">
    <title>Typewriter Text Animation-2</title>
</head>

<body>
    <div class="container">
        <h1>Text Typing animated text</h1>
        <div class="text-container">
            <span class="text const_text">I'm a </span>
            <span class="text animated_text">Web Developer</span>
        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>