<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Breadcrumbs</title>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div class="wrapper">
      <ul>
        <li>
          <a href="#">
            <i class="fas fa-home icon"></i>
            <p>Home</p>
          </a>
        </li>
        <li class="active">
          <a href="#">
            <i class="fas fa-tshirt icon"></i>
            <p>Category</p>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fas fa-shopping-cart icon"></i>
            <p>Cart</p>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="far fa-credit-card icon"></i>
            <p>Checkout</p>
          </a>
        </li>
      </ul>
    </div>
  </body>
</html>
