<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Social Media Buttons</title>
</head>

<body>
    <section class="buttons-container">
        <button class="custom-button github">
            <i class="fab fa-github"></i>
            <span class="tooltip">GitHub</span>
        </button>

        <button class="custom-button linkedin">
            <i class="fab fa-linkedin"></i>
            <span class="tooltip">LinkedIn</span>
        </button>

        <button class="custom-button facebook">
            <i class="fab fa-facebook-f"></i>
            <span class="tooltip">Facebook</span>
        </button>

        <button class="custom-button twitter">
            <i class="fab fa-x-twitter"></i>
            <span class="tooltip">Twitter</span>
        </button>

        <button class="custom-button instagram">
            <i class="fab fa-instagram"></i>
            <span class="tooltip">Instagram</span>
        </button>

        <button class="custom-button youtube">
            <i class="fab fa-youtube"></i>
            <span class="tooltip">YouTube</span>
        </button>
    </section>
</body>

</html>