<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Rotating Squares Loader</title>
</head>

<body>
    <div class="container">
        <div class="animation-block">
            <div class="main-animate">
                <div class="row1">
                    <div class="box one"></div>
                    <div class="box two"></div>
                </div>
                <div class="row2">
                    <div class="box three"></div>
                    <div class="box four"></div>
                </div>
            </div>
            <div class="animation-box-circle">
                <span id="third"></span>
                <span id="second"></span>
                <span id="first"></span>
            </div>
        </div>
    </div>
</body>

</html>