<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style.css">
	<title>Tilted Accordion</title>
</head>

<body>
	<article class="accordion">
		<section id="acc1">
			<h2><a href="#acc1">Title One</a></h2>
			<p>This content appears on page 1.</p>
		</section>
		<section id="acc2">
			<h2><a href="#acc2">Title Two</a></h2>
			<p>This content appears on page 2.</p>
		</section>
		<section id="acc3">
			<h2><a href="#acc3">Title Three</a></h2>
			<p>This content appears on page 3.</p>
		</section>
		<section id="acc4">
			<h2><a href="#acc4">Title Four</a></h2>
			<p>This content appears on page 4.</p>
		</section>
		<section id="acc5">
			<h2><a href="#acc5">Title Five</a></h2>
			<p>This content appears on page 5.</p>
		</section>
	</article>

</body>

</html>