<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Neumorphism Button</title>
</head>

<body>
    <section class="light">
        <div class="circle">
            <p>Submit</p>
        </div>
        <div class="circle long">
            <p>Submit</p>
        </div>
    </section>

    <section class="dark">
        <div class="circle_black">
            <p>Submit</p>
        </div>
        <div class="circle_black long">
            <p>Submit</p>
        </div>
    </section>
</body>

</html>