<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Gaming Breadcrumb</title>
</head>

<body>
    <div class="container">
        <ul class="breadcrumb">
            <li class="breadcrumb__item breadcrumb__item-firstChild">
                <span class="breadcrumb__inner">
                    <span class="breadcrumb__title">Monster Hunter</span>
                </span>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__inner">
                    <span class="breadcrumb__title">Final Fantasy</span>
                </span>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__inner">
                    <span class="breadcrumb__title">Doom</span>
                </span>
            </li>
            <li class="breadcrumb__item breadcrumb__item-lastChild">
                <span class="breadcrumb__inner">
                    <span class="breadcrumb__title">Zombie Hunter</span>
                </span>
            </li>
            <li class="breadcrumb__item breadcrumb__item-lastChild">
                <span class="breadcrumb__inner">
                    <span class="breadcrumb__title">WarCraft</span>
                </span>
            </li>
        </ul>
    </div>
</body>

</html>