.container{
    font-family: Arial, sans-serif;
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow-x: hidden;
    background-color: beige;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #000;
    margin: 20px;
    background-color: bisque;
}

.footer .logo {
    font-size: 24px;
    font-weight: bold;
}

.footer .column {
    display: flex;
    flex-direction: column;
}

.footer .column h3 {
    margin-bottom: 10px;
    font-size: 20px;
}

.footer .column a {
    text-decoration: none;
    color: #000;
    margin-bottom: 5px;
    font-size: 16px;
}

.footer .subscribe {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    margin-right: 10px;
}

.footer .subscribe h3 {
    margin-bottom: 10px;
    font-size: 20px;
}

.footer .subscribe p {
    margin-bottom: 10px;
    font-size: 14px;
}

.footer .subscribe input[type="email"] {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #000;
    border-radius: 3px;
    font-size: 14px;
}

.footer .subscribe button {
    padding: 5px 10px;
    border: 1px solid #000;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
}

 .footer-bottom {
    display: flex;
    /* flex-direction: row; */
    justify-content:space-around;
    /* width: 100%; */
    /* border-top: 1px solid #000; */
    /* padding-top: 10px; */
    margin-top: -10px;
    /* padding: 0 20px; */
}
.footer-terms{
    display: flex;
    justify-content:space-evenly;
    gap: 20px;
}

 .footer-bottom a {
    text-decoration: none;
    color: #000;
    margin-top: 15px;
    /* margin-right: 10px; */
    /* font-size: 12px; */
}

.footer-bottom .social-icons {
    display: flex;
    align-items: center;
}

.social-icons a {
    margin-left: 10px;
    text-decoration: none;
    color: #000;
    font-size: 18px;
}
