<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Minecraft-Button</title>
</head>
<body>
  <div class="btn-bg Minecraft">
    <div class="btn-info"><b>Minecraft Button</b></div>
    <div class="btn-group">
      <div class="btn character">
        <button href="#">i am creeper
          <div class="creeper">
            <div class="eye"></div>
            <div class="mouth">
              <div class="center"></div>
            </div>
          </div>
        </button>
      </div>
    </div>
  </div>
</body>
</html>