<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="style.css">
    <title>Animated Product Card</title>
</head>

<body>
    <div id="container">
        <div class="product-details">
            <h1>CHRISTMAS TREE</h1>
            <span class="hint-star star">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
            </span>

            <p class="information">
                " Let's spread the joy , here is Christmas , the most awaited day of
                the year.Christmas Tree is what one need the most. Here is the correct
                tree which will enhance your Christmas.
            </p>

            <div class="control">
                <button class="btn">
                    <span class="price">$250</span>
                    <span class="shopping-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
                    <span class="buy">Get now</span>
                </button>
            </div>
        </div>

        <div class="product-image">
            <img src="https://images.unsplash.com/photo-1606830733744-0ad778449672?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mzl8fGNocmlzdG1hcyUyMHRyZWV8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                alt="" />

            <div class="info">
                <h2>Description</h2>
                <ul>
                    <li><strong>Height : </strong>5 Ft</li>
                    <li><strong>Shade : </strong>Olive green</li>
                    <li><strong>Decoration: </strong>balls and bells</li>
                    <li><strong>Material: </strong>Eco-Friendly</li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>