<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Yatra+One" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="./style.css">
    <title>Magnifying Glass Search Bar</title>
</head>

<body>
    <!-- partial:index.partial.html -->
    <div class="exit">
        <div class="inner">
            <h4>Close</h4>
            <h1>Results</h1>
            <p></p>
        </div>
    </div>
    <div class="wrapper">
        <h3>looking for something?</h3>
        <div class="search">
            <form name="cse" id="searchbox_demo" class="searchform" autocomplete="off">
                <input type="text" size="40" class="searchbox" />
                <input type="submit" name="sa" value="Search" />
            </form>


        </div>
    </div>

    <div id="results">
    </div>
    <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <script src="./script.js"></script>

</body>

</html>