body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, lavender, pink);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.search-container {
    position: fixed;
    top: 0;
    max-width: 400px;
    width: 100%;
    background-color: rgb(247, 247, 128);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow-y: auto;
    max-height: 100vh;
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

ul li:hover {
    background-color: #f0f0f0;
}

ul li:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

ul li:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}