<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscribe Popup</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <button id="btn">CLICK ME!</button>
    <div id="popup">
        <div id="close">
            <span>X</span>
        </div>
        <div id="inpopup">
            <h2>Popup example</h2>
            <p>This is a simple example of a popup</p>
            <br>
            <div id="input-subscribe">
                <input type="email" name="email" placeholder="Enter your E-mail">
                <button id="subscribe">Subscribe</button>
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>