<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sliding-Text-Animation</title>
    <link rel="stylesheet" href="./style.css">

</head>
<body>
    <div class="content">
        sliding text
        <div class="slider">
          <div class="slide-anim">
            <div class="slide slide1">HTML</div>
            <div class="slide slide2">CSS</div>
            <div class="slide slide3">Node</div>
            <div class="slide slide1">React</div>
          </div>
        </div>
      </div>
</body>
</html>