* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: verdana;
    font-size: 30px;
    height: 100vh;
    text-transform: uppercase;
    color: #ffffff;
    background-color: darkslateblue;
}

.slider {
    margin-left: 8px;
    height: 50px;
    overflow: hidden;
}

.slide {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 15px;
    text-align: center;
    height: 50px;
    margin-bottom: 50px;
}

.slide-anim {
    animation: slide 5s linear infinite;
}

.slide1 {
    background-color: lightgreen;
}

.slide2 {
    background-color: skyblue;
}

.slide3 {
    background-color: lightcoral;
}

@keyframes slide {
    0% {
        transform: translateY(-300px);
    }

    5% {
        transform: translateY(-300px);
    }

    33% {
        transform: translateY(-200px);
    }

    38% {
        transform: translateY(-200px);
    }

    66% {
        transform: translateY(-100px);
    }

    71% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(0px);
    }
}
