<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <script src="https://kit.fontawesome.com/d5f154924f.js" crossorigin="anonymous"></script>
    <title>Side Navigation Bar</title>
</head>

<body>
    <section id="home">
        <h2>HOME</h2>
    </section>
    <section id="gallery">
        <h2>GALLERY</h2>
    </section>
    <section id="contact">
        <h2>CONTACT</h2>
    </section>
    <ul class="sidebar">
        <li class="nav-item">
            <a href="#home" class="nav-link">
                <i class="fas fa-home"></i>
                <span class="title">Home</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#gallery" class="nav-link">
                <i class="fas fa-images"></i>
                <span class="title">Gallery</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#contact" class="nav-link">
                <i class="fas fa-address-book"></i>
                <span class="title">Contact</span>
            </a>
        </li>
    </ul>
</body>

</html>