<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Greeting Card</title>
</head>

<body>
    <div class="container">
        <div class="beautiify">
            <div class="img-container">
                <img src="https://i.postimg.cc/ZKhfkqhD/Black-And-Gold-Happy-Birthday-Document-A4.png" alt="" />
            </div>
            <div class="beautiify-details">
                <h2>Birthday Wishes</h2>
                Happy Birthday to my amazing best friend! Your friendship is a
                treasure, and I cherish every moment of laughter, support, and
                adventures we've shared. You're more than just a friend, you're
                family. May your birthday be as fantastic and special as you are,
                filled with joy, love, and endless happy moments.

                <br /><br />
                ---Beautiify
            </div>
        </div>
    </div>
</body>

</html>