<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css? family=Open+Sans:300,400,700">
    <link rel="stylesheet" href="style.css">
    <title>Pop Up Table</title>
</head>

<body>
    <table class="container">
        <head>
            <tr>
                <th>
                    <h1>Sites</h1>
                </th>
                <th>
                    <h1>Views</h1>
                </th>
                <th>
                    <h1>Clicks</h1>
                </th>
                <th>
                    <h1>Averages</h1>
                </th>
            </tr>
            <tr>
                <td>Google</td>
                <td>9518</td>
                <td>6369</td>
                <td>01:32:50</td>
            </tr>
            <tr>
                <td>Twitter</td>
                <td>7326</td>
                <td>10437</td>
                <td>00:51:22</td>
            </tr>
            <tr>
                <td>Amazon</td>
                <td>4162</td>
                <td>5327</td>
                <td>00:24:34</td>
            </tr>
            <tr>
                <td>Linedlin</td>
                <td>3654</td>
                <td>2961</td>
                <td>00:12:10</td>
            </tr>
            <tr>
                <td>Codepen</td>
                <td>4623</td>
                <td>4135</td>
                <td>00:46:19</td>
            </tr>
            <tr>
                <td>GitHub</td>
                <td>2002</td>
                <td>3486</td>
                <td>00:31:52</td>
            </tr>
    </table>
</body>

</html>