<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Numbered Navigation Bar</title>
</head>

<body>
    <div id="container">

        <div class="highlight"></div>

        <div class="outer">
            <div class="inner">
                <div class="icon">1</div>
                <div class="text">
                    Hello!!
                </div>
            </div>
        </div>

        <div class="outer">
            <div class="inner">
                <div class="icon">2</div>
                <div class="text">
                    <!-- it&rsquo;s me -->
                    Welcome to Beautiify
                </div>
            </div>
        </div>

        <div class="outer">
            <div class="inner">
                <div class="icon">3</div>
                <div class="text">
                    <!-- I&rsquo;ve been wonderin&rsquo; somethin&rsquo; somethin&rsquo; me -->
                    This is a numbered nav bar

                </div>
            </div>
        </div>

        <div class="outer">
            <div class="inner">
                <div class="icon">4</div>
                <div class="text">
                    You can use this

                </div>
            </div>
        </div>

        <div class="outer">
            <div class="inner">
                <div class="icon">5</div>
                <div class="text">
                    beautiful navbar
                </div>
            </div>
        </div>

        <div class="outer">
            <div class="inner">
                <div class="icon">6</div>
                <div class="text">
                    in your website
                </div>
            </div>
        </div>

    </div>

    <script src="./script.js"></script>
</body>

</html>