body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background: rgba(25, 25, 25, 1);
    cursor: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em 0;
}

.cursor-dot,
.cursor-circle {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 1000;
    transform: translate(-50%, -50%);
}

.cursor-dot {
    width: 8px;
    height: 8px;
    background: rgb(52, 178, 136);
    border-radius: 50%;
}

.cursor-circle {
    width: 30px;
    height: 30px;
    border: 2px solid rgb(52, 178, 136);
    border-radius: 50%;
}

.link {	
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 1em;
	width: var(--size);
	height: var(--size);
	background: rgba(255, 255, 255, .1);
	border-radius: 100%;
}

.button {
	appearance: none;
	border: none;
	color: white;
	cursor: inherit;
	padding: 0.5em 1em;
	background: rgba(255, 255, 255, .1);
	border-radius: 5px;
}