<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Draggable Carousel</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div id="image-track" data-mouse-down-at="0" data-prev-percentage="0">
        <img class="image" src="images/1.jpg" draggable="false" />
        <img class="image" src="images/2.jpg" draggable="false" />
        <img class="image" src="images/3.jpg" draggable="false" />
        <img class="image" src="images/4.jpg" draggable="false" />
        <img class="image" src="images/5.jpg" draggable="false" />
        <img class="image" src="images/6.jpg" draggable="false" />
        <img class="image" src="images/7.jpg" draggable="false" />
        <img class="image" src="images/8.jpg" draggable="false" />
        <img class="image" src="images/9.jpg" draggable="false" />
        <img class="image" src="images/10.jpg" draggable="false" />
      </div>

      <script src="script.js"></script>
    
</body>
</html>