<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="./css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="./css/demo.css" />
    <title>Polygon Loader</title>
</head>

<body class="demo-2">
    <div class="container">

        <div class="content">
            <button class="button button--trigger" onclick="demo.init()">Show Loader</button>
        </div>
    </div><!-- /container -->

    <script src="script.js"></script>
</body>

</html>