<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Polygon Loader</title>

    <link rel="stylesheet" type="text/css" href="./css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="./css/demo.css" />
    <!--[if IE]>
		  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
</head>

<body class="demo-2">
    <div class="container">

        <div class="content">
            <button class="button button--trigger" onclick="demo.init()">Show Loader</button>
        </div>
    </div><!-- /container -->
    <script>
        const SETTINGS = {
            rebound: {
                tension: 14,
                friction: 10
            },
            spinner: {
                id: 'spinner',
                radius: 90,
                sides: 5,
                depth: 8,
                colors: {
                    background: '#00272C',
                    stroke: null,
                    base: null,
                    child: '#02C39A'
                },
                alwaysForward: true, // When false the spring will reverse normally.
                restAt: null, // A number from 0.1 to 0.9 || null for full rotation
                renderBase: false
            }
        };
    </script>
    <script src="main.js"></script>
</body>

</html>