body {
    background-color: #f5f5f5;
    padding: 0;
    margin: 0;
}

.circle {
    background-color: #d5d5d5;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 200px;
    animation: glowC 5s infinite;
}

.wifi {
    height: 150px;
    width: 150px;
    border: 50px solid transparent;
    border-top: 50px solid #d5d5d5;
    border-radius: 50%;
    position: absolute;
    top: -100px;
    left: -100px;
    animation: glowW 5s infinite;
}

.wifi:before {
    position: absolute;
    content: "";
    height: 330px;
    width: 330px;
    border: 50px solid transparent;
    border-top: 50px solid #d5d5d5;
    border-radius: 50%;
    right: -140px;
    top: -150px;
    animation: glowWB 5s infinite;
}

.wifi:after {
    position: absolute;
    content: "";
    height: 520px;
    width: 520px;
    border: 50px solid transparent;
    border-top: 50px solid #d5d5d5;
    border-radius: 50%;
    right: -235px;
    top: -250px;
    animation: glowWA 5s infinite;
}

/* The Animations */
@keyframes glowC {
    19% {
        background-color: #d5d5d5;
    }

    20% {
        background-color: #4885ed;
    }

    100% {
        background-color: #4885ed;
    }
}

@keyframes glowW {
    39% {
        border-top-color: #d5d5d5;
    }

    40% {
        border-top-color: #db3236;
    }

    100% {
        border-top-color: #db3236;
    }
}

@keyframes glowWB {
    59% {
        border-top-color: #d5d5d5;
    }

    60% {
        border-top-color: #f4c20d;
    }

    100% {
        border-top-color: #f4c20d;
    }
}

@keyframes glowWA {
    79% {
        border-top-color: #d5d5d5;
    }

    80% {
        border-top-color: #3cba54;
    }

    100% {
        border-top-color: #3cba54;
    }
}