<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Simple Navigation Bar</title>
</head>

<body>
    <header>
        <p class="Logo">Navbar</p>
        <input type="checkbox" class="btn">
        <div class="nav">
            <ol>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
            </ol>
        </div>
    </header>
</body>

</html>