@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    width: 100%;
    height: 50px;
    background: #f8f8f8;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Logo {
    color: rgb(44, 44, 44);
    font-size: 1.5em;
}

.nav {
    display: flex;
    align-items: center;
}

.nav ol {
    display: flex;
    list-style: none;
}

.nav ol li {
    margin: 1em;
}

.nav ol li a {
    text-decoration: none;
    padding: 0.2em 1.2em 0.9em 1.2em;
    border-radius: 10px 10px 0 0;
    color: rgb(39, 39, 39);
    transition: all 0.4s;
    position: relative;
    z-index: 1;
}

.nav ol li a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 41px;
    border-radius: 10px 10px 0 0;
    background: #853333;
    transform-origin: bottom;
    background: linear-gradient(to right, #2c6440, #3c4320, #170f27);
    transform: scaleY(0.05);
    z-index: -1;
    transition: all 0.4s;
}

.nav ol li a:hover::before {
    transform: scaleY(1.1);
}

.nav ol li a:hover {
    color: white;
}

.btn {
    width: 25px;
    position: relative;
    height: 25px;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    display: none;
}

.btn::before {
    content: "\f0c9";
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    font-size: 2em;
}

@media (max-width: 1200px) {
    .btn {
        display: flex;
        z-index: 100;
    }

    header {
        justify-content: space-between;
        padding: 0 2em;
    }

    .nav {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        background: #f8f8f8;
        transform: translateY(-110%);
        transition: all 0.4s;
    }

    input:checked~.nav {
        transform: translateY(0%);
    }

    input:checked::before {
        content: "\f00d";
    }
}

@media (max-width: 700px) {
    .nav ol {
        flex-direction: column;
        text-align: center;
    }
}