<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bouncing Loader</title>
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
    <div class="flex-container">
        <div class="flex-item-left">
            <img src="/assets/images/logo.png" alt="Logo" height="390px">
        </div>

        <div class="bouncing-loader">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</body>
</html>
