@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

button {
    outline: none;
}

.accordion_container {
    background-image: url('https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjtkNSZj-jZoeDkIu9qlXXJ94th6rdzDxPlgmfj2xtv8dlbbQHYpOYmrjOYGSHN-ZeRIYRT4cf1JN26SFdublSXeCGTtS9outL38VzGbZwnBI9C-Xc1V7Yj1vYGASbnFUgwNLl8-FtHvaDkwQ6-gpAPhCDBERClKHtNFItXgtAsob7enffyrXPoK0GVdw/w640-h360/v1-Minimal-view-wallpaper-pc-8K.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    padding: 0;
}

.accordion_container .container {
    min-height: 100px;
    max-width: 800px;
    width: 100%;
    margin: auto;
}

.accordion_container .container .accordion {
    border: 2px outset #fff8;
    overflow: hidden;
    transition: 0.3s;
}

.accordion_container .container .accordion.active {
    box-shadow: 0 4px 15px #0005;
}


.accordion_container .container .accordion .header {
    font-weight: 600;
    display: block;
    width: 100%;
    text-align: left;
    background-color: transparent;
    background-image: linear-gradient(45deg, #ffffffa8, #ffffff9f);
    border: none;
    padding: 15px;
    color: #444;
    font-size: 18px;
    border-bottom: 2px solid #fff3;
    box-shadow: 0 2px 5px #0005;
    cursor: pointer;
    position: relative;
    backdrop-filter: blur(15px);
}

.accordion_container .container .accordion.active .header,
.accordion_container .container .accordion .header:hover {
    background-image: linear-gradient(-45deg, #ffffffa8, #ffffff9f);
}

.accordion_container .container .accordion .header .icon {
    display: inline-block;
    width: 15px;
    height: 2px;
    background-color: #4d4d4dd5;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    transition: 0.3s;
}

.accordion_container .container .accordion .header .icon::before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: inherit;
    position: absolute;
    transform: rotatez(90deg);
}

.accordion_container .container .accordion.active .header .icon {
    transform: rotateZ(45deg) translateY(-50%);
    background-color: #eb2f00;
}

.accordion_container .container .accordion .body {
    background-image: linear-gradient(45deg, #ffffff96, #ffffff4f);
    padding: 0 15px;
    backdrop-filter: blur(15px);
    color: #161616;
    font-size: 18px;
    line-height: 1.5;
    height: 0px;
    overflow: hidden;
    transition: 0.5s cubic-bezier(0.42, 0.59, 0.49, 1.29);
}

.accordion_container .container .accordion.active .body {
    padding: 15px;
}