<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Beautiify | Square Grid Loader</title>
    <link rel="icon" href="../../../assets/images/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="./index.css" />
</head>
<body>
    <div class="loader">
        <div id="square1" class="square"></div>
        <div id="square2" class="square"></div>
        <div id="square3" class="square"></div>
        <div id="square4" class="square"></div>
    </div>
</body>
</html>