<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom Cursor</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="cursor-dot" id="cursor-dot"></div>
    <div class="cursor-circle" id="cursor-circle"></div>
    <div class="wrapper">
        <a class="link" style="--size: 60px">😱</a>
        <a class="link" style="--size: 80px">😍</a>
        <a class="link" style="--size: 60px">😱</a>
    </div>
    <div class="wrapper">
        <button class="button">Works with rects, too</button>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
    <script src="script.js"></script>
</body>
</html>
