<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Classic Footer</title>
</head>

<body>
    <footer>
        <div class="social-media">
            <p>Join Us</p>
            <div class="social-media-links">
                <div>
                    <a class="linkOfSocialMedia" href="https://www.instagram.com/" target="_blank" rel="noreferrer">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <img src="assets/instagram.png" alt="Instagram Logo">
                </div>
                <div>
                    <a class="linkOfSocialMedia" href="https://www.youtube.com/" target="_blank" rel="noreferrer">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                    <img src="assets/youtube.png" alt="YouTube Logo">
                </div>
                <div>
                    <a class="linkOfSocialMedia" href="https://github.com/" target="_blank" rel="noreferrer">
                        <i class="fa-brands fa-github"></i>
                    </a>
                    <img src="assets/github.png" alt="GitHub Logo">
                </div>
                <div>
                    <a class="linkOfSocialMedia" href="https://www.linkedin.com/" target="_blank" rel="noreferrer">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                    <img src="assets/linkedin.png" alt="LinkedIn Logo">
                </div>
                <div>
                    <a class="linkOfSocialMedia" href="https://x.com/" target="_blank" rel="noreferrer">
                        <i class="fa-brands fa-x-twitter"></i>
                    </a>
                    <img src="assets/twitter.png" alt="X Logo">
                </div>
                <div>
                    <a class="linkOfSocialMedia" href="https://discord.com/login" target="_blank" rel="noreferrer">
                        <i class="fa-brands fa-discord"></i>
                    </a>
                    <img src="assets/discord.png" alt="Discord Logo">
                </div>
            </div>
        </div>
        <div class="phonesized-devlopedby-S">
            <p>Designed and Developed By </p>
            <span>GSSOC Contributor</span>
        </div>
        <div class="rights">
            <div>
                <span id="footer-contactus">Contact Us</span>
                <span>xyz@gmail.com</span>
            </div>
            <div class="right-reserved">
                <span>
                    &copy; All rights reserved by
                    <span id="footer-brc">GSSOC</span>
                </span>
            </div>
        </div>
        <div class="phonesized-devlopedby-L">
            <p>Designed and Developed By </p>
            <span>GSSOC Contributor</span>
        </div>
    </footer>
</body>

</html>
