<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Flip Text Animation-2</title>
</head>

<body>
    <div id=container>
        MAKE
        <div id=flip>
            <div>
                <div>WORK</div>
            </div>
            <div>
                <div>LIFESTYLE</div>
            </div>
            <div>
                <div>EVERYTHING</div>
            </div>
        </div>
        AWESOME!
    </div>
</body>

</html>