body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    box-sizing: border-box;
}

h1 {
    font-size: 24px;
    color: #343a40;
    margin-bottom: 20px;
    text-align: center;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

button:disabled {
    cursor: not-allowed;
    background-color: #6c757d;
}

button:hover:enabled {
    background-color: #0056b3;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.form-group input[type="checkbox"] {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    accent-color: #007bff;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.section h2 {
    cursor: pointer;
    background-color: #343a40;
    color: white;
    padding: 10px;
    margin: 0;
    border-radius: 5px;
}

.section p {
    display: none;
    padding: 10px;
    margin: 0;
    background-color: #e9ecef;
    border-radius: 5px;
}

@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    h1 {
        font-size: 20px;
    }

    button {
        padding: 8px;
    }
}
