<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Card Carousel</title>
</head>

<body>

    <head>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400" rel="stylesheet">
    </head>

    <body>
        <div class="container">
            <div class="card">
                <h3 class="title">Card 1</h3>
                <div class="bar">
                    <div class="emptybar"></div>
                    <div class="filledbar"></div>
                </div>
                <div class="circle">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <circle class="stroke" cx="60" cy="60" r="50" />
                    </svg>
                </div>
            </div>
            <div class="card">
                <h3 class="title">Card 2</h3>
                <div class="bar">
                    <div class="emptybar"></div>
                    <div class="filledbar"></div>
                </div>
                <div class="circle">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <circle class="stroke" cx="60" cy="60" r="50" />
                    </svg>
                </div>
            </div>
            <div class="card">
                <h3 class="title">Card 3</h3>
                <div class="bar">
                    <div class="emptybar"></div>
                    <div class="filledbar"></div>
                </div>
                <div class="circle">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <circle class="stroke" cx="60" cy="60" r="50" />
                    </svg>
                </div>
            </div>
            <div class="card">
                <h3 class="title">Card 4</h3>
                <div class="bar">
                    <div class="emptybar"></div>
                    <div class="filledbar"></div>
                </div>
                <div class="circle">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <circle class="stroke" cx="60" cy="60" r="50" />
                    </svg>
                </div>
            </div>
        </div>
    </body>
</body>

</html>