<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>On/Off Toggle Switch</title>
</head>

<body>
    <label class="toggle-switch">
        <span class="border"></span>
        <div class="slider">
            <div class="inner-slider"></div>
        </div>
        <div class="indicator"></div>
        <input class="toggle-input" id="toggle" name="toggle" type="checkbox" />
        <span class="toggle-circle"></span>
    </label>
</body>

</html>