body {
    background-color: #e2e8f0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 6em;
    height: 3em;
    background-color: #333333;
    border-radius: 1.5em;
    box-shadow: 0 2px 4px rgba(18, 18, 18, 0.25), 0 4px 8px rgba(18, 18, 18, 0.35);
    cursor: pointer;
}

.toggle-switch .border {
    position: absolute;
    inset: 0.1em;
    border-radius: 1.5em;
    border: 1px solid #404040;
}

.slider {
    position: absolute;
    left: 0.5em;
    top: 50%;
    transform: translateY(-50%);
    width: 2em;
    height: 2em;
    background-color: white;
    border-radius: 50%;
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-slider {
    width: 1.5em;
    height: 1.5em;
    background-color: #111111;
    border-radius: 50%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.indicator {
    position: absolute;
    right: 0.5em;
    top: 50%;
    transform: translateY(-50%);
    width: 1.5em;
    height: 0.25em;
    background-color: #ffffff;
    border-radius: 0.125em;
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}

.toggle-input {
    opacity: 0;
}

.toggle-circle {
    position: absolute;
    left: 0.25em;
    top: 50%;
    transform: translateY(-50%);
    width: 2.5em;
    height: 2.5em;
    background-color: #1a1a1a;
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: inset 4px 4px 4px rgba(64, 64, 64, 0.25), inset -4px -4px 4px rgba(16, 16, 16, 0.5);
    transition: left 0.3s ease;
}

.toggle-input:checked + .toggle-circle {
    left: calc(100% - 2.75em);
}