<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Liquid Button</title>
</head>

<body>
    <svg class="liquid-button" data-text="Click me" data-force-factor="0.1" data-layer-1-viscosity="0.5"
        data-layer-2-viscosity="0.4" data-layer-1-mouse-force="400" data-layer-2-mouse-force="500"
        data-layer-1-force-limit="1" data-layer-2-force-limit="2" data-color1="#FFF500" data-color2="#20D8F9"
        data-color3="#20D8F9">
    </svg>
    <script src="./script.js"></script>
</body>

</html>