body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000;
    margin: 0;
    padding: 0;
}

.liquid-button {
    margin: auto;
    font-weight: bold;
    justify-self: center;
    align-self: center;
}

.liquid-button path {
    cursor: pointer;
}