body, html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    user-select: none;
    display: grid;
    background: black;
  }
  
  .liquid-button {
    margin: auto;
    font-weight: bold;
    justify-self: center;
    align-self: center;
  }
  .liquid-button path {
    cursor: pointer;
  }