<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Testimonial Card</title>
</head>
<body>
    <div class="card">
        <img class="quote" src="assets/quotes.png">
        <div class="text">I was struggling to find a design tool that was both user-friendly and powerful. Designify has been a game-changer! Now, I can create stunning websites in a fraction of the time.</div>
        <img class="Logo" src="assets/avatar.png">
        <img class="Profile" src="assets/mountain.jpg">
        <h3>RAKESH ROSHAN</h3>    
    </div>
</body>
</html>
