<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Confirmation Dialog Popup</title>
</head>
<body>
    <main>

        <button onclick="togglePopUp()">Click Me</button>

    </main>

    <section class="pop-up-container">
        <div class="pop-up-wrapper">
           <h4>Confirm the action</h4>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, assumenda officiis voluptatem nillo ea eum obcaecati dicta eos!</p>
           <div class="btn-wrapper">
                <button onclick="togglePopUp()">Cancel</button>
                <button onclick="togglePopUp()">Confirm</button>
           </div>
        </div>
    </section>

    <script src="./script.js"></script>
</body>
</html>
