<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Revolving Carousel</title>
</head>

<body>
    <div class="head">Revolving Carousel</div>
    <div class="gallery">
        <img src="https://picsum.photos/id/1059/300/300" alt="many clothes and pictures">
        <img src="https://picsum.photos/id/1060/300/300" alt="someone preparing artisanal coffee">
        <img src="https://picsum.photos/id/225/300/300" alt="some tee">
        <img src="https://picsum.photos/id/163/300/300" alt="an empty table in a restaurant">
        <img src="https://picsum.photos/id/180/300/300" alt="a laptop with a notebook">
        <img src="https://picsum.photos/id/20/300/300" alt="a laptop and many books around it">
    </div>
</body>

</html>