<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <title>Mask Hover Button</title>
</head>

<body>

    <div class="header">MASK HOVER ANIMATION BUTTONS</div>

    <div class="button-container-1">
        <span class="mas">BUTTON 1</span>
        <button type="button" name="Hover">BUTTON 1</button>
    </div>

    <div class="button-container-2">
        <span class="mas">BUTTON 2</span>
        <button type="button" name="Hover">BUTTON 2</button>
    </div>

    <div class="button-container-3">
        <span class="mas">BUTTON 3</span>
        <button type="button" name="Hover">BUTTON 3</button>
    </div>

</body>

</html>