<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/b08b6de27e.js" crossorigin="anonymous"></script>
    <title>Multiple Selection Dropdown</title>
</head>

<body>
    <div class="dropdown-wrapper">

        <div class="dropdown-control">
            <div class="left"></div>
            <div class="right"><i class="fa fa-angle-down"></i></div>
        </div>

        <div class="dropdown-list">
        </div>
    </div>

    <script src="./script.js"></script>
</body>

</html>