<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>User Profile Tooltip</title>
</head>

<body>
    <div class="tooltip-container">
        <div class="tooltip">
            <div class="image-name">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 95 114" class="svgIcon">
                    <rect fill="black" rx="28.5" height="57" width="57" x="19"></rect>
                    <path fill="black" d="M0 109.5C0 83.2665 21.2665 62 47.5 62V62C73.7335 62 95 83.2665 95 109.5V114H0V109.5Z"></path>
                </svg>

                <div>
                    John Doe <br> <small>Software Developer</small>
                </div>
            </div>
            <div class="follow"><strong>25</strong> Blogs | <strong>1.5K</strong> Followers | <strong>25K</strong> Views
            </div>
            <div class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, enim?</div>
            <button>View profile</button>
        </div>
        <span class="text">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 95 114" class="svgIcon">
                <rect fill="black" rx="28.5" height="57" width="57" x="19"></rect>
                <path fill="black" d="M0 109.5C0 83.2665 21.2665 62 47.5 62V62C73.7335 62 95 83.2665 95 109.5V114H0V109.5Z"></path>
            </svg>
            John Doe
        </span>
    </div>
</body>

</html>