<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Horizontal Picture Accordion</title>
</head>

<body>
    <h1>Beautiify</h1>

    <div class="accordion">

        <!-- BOX 1 -->
        <div class="box a1">
            <div class="image_1">
                <div class="text">
                    <h2>Lorem Ipsum</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Vestibulum iaculis nisl sed dictum aliquam.
                    </p>
                </div>
            </div>
        </div>

        <!-- BOX 2 -->
        <div class="box a2">
            <div class="image_2">
                <div class="text">
                    <h2>Lorem Ipsum</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Vestibulum iaculis nisl sed dictum aliquam.
                    </p>
                </div>
            </div>
        </div>

        <!-- BOX 3 -->
        <div class="box a3">
            <div class="image_3">
                <div class="text">
                    <h2>Lorem Ipsum</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Vestibulum iaculis nisl sed dictum aliquam.
                    </p>
                </div>
            </div>
        </div>

        <!-- BOX 4 -->
        <div class="box a4">
            <div class="image_4">
                <div class="text">
                    <h2>Lorem Ipsum</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Vestibulum iaculis nisl sed dictum aliquam.
                    </p>
                </div>
            </div>
        </div>

        <!-- BOX 5 -->
        <div class="box a5">
            <div class="image_5">
                <div class="text">
                    <h2>Lorem Ipsum</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Vestibulum iaculis nisl sed dictum aliquam.
                    </p>
                </div>
            </div>
        </div>

    </div>
    <script src="script.js"></script>
</body>

</html>