<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Product Card</title>
</head>

<body>
    <div class="background-container"></div>
    <div class="product-card">
        <label class="deal-label">Special Deal</label>
        <label class="brand-label">trusted brand</label>

        <img src="laptop.jpg" alt="Product Image" class="product-image" id="zoomImage">
        <div class="product-info">
            <h2 class="product-name">HP Laptop 15S, 11Th Gen Intel Core I5</h2>
            <p class="product-description">Upgraded memory,storage,micro-edge display,effortless connectivity,long
                battery life and reliable design
            <p>
            <p class="product-price">₹46,999</p>
            <p class="product-stats">
                <span class="stats-label special"> ** 500+ bought in past month ** </span>
            </p>

            <button class="buy-button">Buy Now</button>
        </div>
    </div>

</body>

</html>