body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ace0f0;
    background-image: url('Picture1.png');
}

.product-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    border-color: rgb(174, 147, 11);
    border-radius: 10px rgb(174, 147, 11);
    position: relative;
}

.product-card:hover {
    transform: scale(1.05) rotate(5deg);
}

.product-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.product-image:hover {
    transform: scale(1.1) translateY(-10px);
    /* Scale up when hovering */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);

}

.product-price {
    margin-right: 10px;
}

.product-card:hover {
    border-color: rgb(163, 130, 19);
}


.stats-label.special {
    color: #6f18bb;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.deal-label {
    position: absolute;
    margin-top: 400px;
    top: 10px;
    left: 20px;
    background-color: #e74c3c;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
}

.deal-label:hover {
    transform: scale(1.1);
}

.brand-label {
    position: absolute;
    margin-top: 400px;
    top: 10px;
    right: 20px;
    background-color: #2dc14d;
    color: #110505;
    padding: 5px;
    border-radius: 3px;
}


.brand-label:hover {
    transform: scale(1.1);
}

.product-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
}

.product-info {
    padding: 20px;
}

.product-name {
    margin: 0;
    color: #333;
}

.product-description {
    color: #666;
    text-align: center;
}

.product-label {
    margin-top: 10px;
    color: #3498db;
    font-weight: bold;
}

.product-price {
    margin-top: 10px;
    font-weight: bold;
    color: #3498db;
}

.product-stats {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.stats-label {
    color: #333;
}

.buy-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    padding: -15px;
}

.buy-button:hover {
    background-color: #645603;
}