html {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, rgb(241, 243, 242), rgb(1, 86, 138));
}

.img-carousel {
    width: 600px;
    height: 400px;
    margin: 0 auto;
    position: absolute;
    border-radius: 7px;
    box-shadow: 3px 3px 20px black;
    overflow: hidden;
}

.img-item {
    position: absolute;
    top: 0;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 1s;
}

.img-item>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.change__btn {
    position: absolute;
    top: 50%;
    z-index: 10;
    border: none;
    background: rgba(255, 255, 255, 0.7);
    font-family: inherit;
    color: #333;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    font-size: 2rem;
    cursor: pointer;
}

.change__btn--left {
    left: 5%;
    transform: translate(-50%, -50%);
}

.change__btn--right {
    right: 5%;
    transform: translate(50%, -50%);
}

.dots {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.dots__dot {
    border: none;
    background-color: #b9b9b9;
    opacity: 0.7;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin-right: 1.75rem;
    cursor: pointer;
    transition: all 0.5s;
    box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7);
}

.dots__dot:last-child {
    margin: 0;
}

.dots__dot--active {
    background-color: #fff;
    opacity: 1;
}