<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Squid Game Loader</title>
</head>

<body>
    <div class="loader">
        <svg viewBox="0 0 80 80">
            <circle r="32" cy="40" cx="40" id="test"></circle>
        </svg>
    </div>

    <div class="loader triangle">
        <svg viewBox="0 0 86 80">
            <polygon points="43 8 79 72 7 72"></polygon>
        </svg>
    </div>

    <div class="loader">
        <svg viewBox="0 0 80 80">
            <rect height="64" width="64" y="8" x="8"></rect>
        </svg>
    </div>

</body>

</html>
