<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="style.css" />
	<title>User Attention Card</title>
</head>

<body>
	<div class="box error__box">
		<svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="30" width="30"
			xmlns="http://www.w3.org/2000/svg">
			<path d="M11 7h2v7h-2zm0 8h2v2h-2z"></path>
			<path
				d="m21.707 7.293-5-5A.996.996 0 0 0 16 2H8a.996.996 0 0 0-.707.293l-5 5A.996.996 0 0 0 2 8v8c0 .266.105.52.293.707l5 5A.996.996 0 0 0 8 22h8c.266 0 .52-.105.707-.293l5-5A.996.996 0 0 0 22 16V8a.996.996 0 0 0-.293-.707zM20 15.586 15.586 20H8.414L4 15.586V8.414L8.414 4h7.172L20 8.414v7.172z">
			</path>
		</svg>
		<span>This is an Error Box 😵</span>
	</div>

	<div class="box info__box">
		<svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="30" width="30"
			xmlns="http://www.w3.org/2000/svg">
			<path
				d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm32 664c0 4.4-3.6 8-8 8h-48c-4.4 0-8-3.6-8-8V456c0-4.4 3.6-8 8-8h48c4.4 0 8 3.6 8 8v272zm-32-344a48.01 48.01 0 0 1 0-96 48.01 48.01 0 0 1 0 96z">
			</path>
		</svg>
		<span>This is a Information Box 💁</span>
	</div>

	<div class="box warning__box">
		<svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="30" width="30"
			xmlns="http://www.w3.org/2000/svg">
			<path
				d="M464 720a48 48 0 1 0 96 0 48 48 0 1 0-96 0zm16-304v184c0 4.4 3.6 8 8 8h48c4.4 0 8-3.6 8-8V416c0-4.4-3.6-8-8-8h-48c-4.4 0-8 3.6-8 8zm475.7 440l-416-720c-6.2-10.7-16.9-16-27.7-16s-21.6 5.3-27.7 16l-416 720C56 877.4 71.4 904 96 904h832c24.6 0 40-26.6 27.7-48zm-783.5-27.9L512 239.9l339.8 588.2H172.2z">
			</path>
		</svg>
		<span>This is a Warning Box 🙅</span>
	</div>

	<div class="style__box">
		<div class="blurer">
			<div className="z-50 text-center">This is a Stylish Box 🕺💃</div>
		</div>
		<div class="blob"></div>
		<div class="blob"></div>
		<div class="blob"></div>
		<div class="blob"></div>
	</div>

	<pre class="code__box">
      <span style="color:#8FBCBB">print</span>
      <span style="color:#D8DEE9">(</span>
      <span style="color:#A3BE8C">"This is code box"</span>
      <span style="color:#D8DEE9">)</span>
    </pre>
</body>

</html>