@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

body {
	font-family: 'ABeeZee', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	margin-top: 6rem;
	background: #1f2023;
}

span {
	text-align: center;
	width: 100%;
}

.box {
	display: flex;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	margin-bottom: 1.5rem;
	gap: 1rem;
	align-items: center;
	border-radius: 0.75rem;
	color: #ffffff;
	width: 64rem;
}

.error__box {
	background-color: #be123c;
}

.info__box {
	background-color: #0369a1;
}

.warning__box {
	background-color: #f59e0b;
}

.style__box {
	width: 50%;
	height: 80px;
	box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	z-index: 1;
	display: flex;
	background-color: bisque;
	border-radius: 15px;
	margin: 0 auto;
	position: relative;
}

.blurer {
	position: relative;
	z-index: 5;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(40px);
	flex-shrink: 0;
	flex-basis: 1;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.blob {
	flex-shrink: 0;
	flex-basis: 1;
	width: 230px;
	height: 230px;
	position: absolute;
	z-index: 2;
	border-radius: 50%;
}

.blob:nth-child(2) {
	left: 0;
	background-color: #ffb84c;
	animation: wave 1.5s infinite alternate;
	animation-delay: 0s;
}

.blob:nth-child(3) {
	top: 0px;
	left: 100px;
	background-color: #f266ab;
	animation: wave 1.5s infinite alternate;
	animation-delay: 0.5s;
}

.blob:nth-child(4) {
	top: 10px;
	left: 200px;
	background-color: #af71d38b;
	animation: wave 1.5s infinite alternate;
	animation-delay: 1s;
}

.blob:nth-child(5) {
	top: 0px;
	left: 350px;
	background-color: #2cd3e1;
	animation: wave 1.5s infinite alternate;
	animation-delay: 1.5s;
}

@keyframes wave {
	0% {
		transform: translateY(-30px);
	}

	50% {
		transform: translateY(30px);
	}

	100% {
		transform: translateY(-30px);
	}
}

.code__box {
	display: flex;
	overflow-x: auto;
	text-align: center;
	padding: 1rem;
	background: #2e3440;
	color: #d8dee9;
}