<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Post Card</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="card-body">
            <img class='img-div' src="image1.avif" width="100%" height="100%">
            <div class="descrip-div">
                <h2>Year in a word: Barbenheimer</h2>
                <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa impedit laborum nemo delectus quod velit fuga illum 
                veritatis nihil corrupti aliquid dolores iure exercitationem officiis magni, aut incidunt commodi esse.
    
            </div>
            <div class="user-div">
                <img class="user-img" src="user1.avif">
                <div class="details">
                    <div class="user-details">
                        User name <br>
                        <small>Posted 1h ago</small>
                    </div>
                    <div class="read-more">
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body">
            <img class='img-div' src="image2.jpg" width="100%" height="100%">
            <div class="descrip-div">
                <h2>Title 2</h2>
                <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa impedit laborum nemo delectus quod velit fuga illum 
                veritatis nihil corrupti aliquid dolores iure exercitationem officiis magni, aut incidunt commodi esse.
    
            </div>
            <div class="user-div">
                <img class="user-img" src="user2.jpg">
                <div class="details">
                    <div class="user-details">
                        User name <br>
                        <small>Posted 1h ago</small>
                    </div>
                    <div class="read-more">
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body">
            <img class='img-div' src="image3.jpg" width="100%" height="100%">
            <div class="descrip-div">
                <h2>Title 3</h2>
                <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa impedit laborum nemo delectus quod velit fuga illum 
                veritatis nihil corrupti aliquid dolores iure exercitationem officiis magni, aut incidunt commodi esse.
    
            </div>
            <div class="user-div">
                <img class="user-img" src="user3.jpg">
                <div class="details">
                    <div class="user-details">
                        User name <br>
                        <small>Posted 1h ago</small>
                    </div>
                    <div class="read-more">
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body">
            <img class='img-div' src="image4.jpg" width="100%" height="100%">
            <div class="descrip-div">
                <h2>Title 4</h2>
                <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa impedit laborum nemo delectus quod velit fuga illum 
                veritatis nihil corrupti aliquid dolores iure exercitationem officiis magni, aut incidunt commodi esse.
    
            </div>
            <div class="user-div">
                <img class="user-img" src="user1.avif">
                <div class="details">
                    <div class="user-details">
                        User name <br>
                        <small>Posted 1h ago</small>
                    </div>
                    <div class="read-more">
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body">
            <img class='img-div' src="image5.jpg" width="100%" height="100%">
            <div class="descrip-div">
                <h2>Title 5</h2>
                <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa impedit laborum nemo delectus quod velit fuga illum 
                veritatis nihil corrupti aliquid dolores iure exercitationem officiis magni, aut incidunt commodi esse.
    
            </div>
            <div class="user-div">
                <img class="user-img" src="user2.jpg">
                <div class="details">
                    <div class="user-details">
                        User name <br>
                        <small>Posted 1h ago</small>
                    </div>
                    <div class="read-more">
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body">
            <img class='img-div' src="image6.jpg" width="100%" height="100%">
            <div class="descrip-div">
                <h2>Title 6</h2>
                <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa impedit laborum nemo delectus quod velit fuga illum 
                veritatis nihil corrupti aliquid dolores iure exercitationem officiis magni, aut incidunt commodi esse.
    
            </div>
            <div class="user-div">
                <img class="user-img" src="user3.jpg">
                <div class="details">
                    <div class="user-details">
                        User name <br>
                        <small>Posted 1h ago</small>
                    </div>
                    <div class="read-more">
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body">
            <img class='img-div' src="image7.jpg" width="100%" height="100%">
            <div class="descrip-div">
                <h2>Title 7</h2>
                <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa impedit laborum nemo delectus quod velit fuga illum 
                veritatis nihil corrupti aliquid dolores iure exercitationem officiis magni, aut incidunt commodi esse.
    
            </div>
            <div class="user-div">
                <img class="user-img" src="user1.avif">
                <div class="details">
                    <div class="user-details">
                        User name <br>
                        <small>Posted 1h ago</small>
                    </div>
                    <div class="read-more">
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body">
            <img class='img-div' src="image8.cms" width="100%" height="100%">
            <div class="descrip-div">
                <h2>Title 8</h2>
                <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa impedit laborum nemo delectus quod velit fuga illum 
                veritatis nihil corrupti aliquid dolores iure exercitationem officiis magni, aut incidunt commodi esse.
    
            </div>
            <div class="user-div">
                <img class="user-img" src="user2.jpg">
                <div class="details">
                    <div class="user-details">
                        User name <br>
                        <small>Posted 1h ago</small>
                    </div>
                    <div class="read-more">
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body">
            <img class='img-div' src="image9.jpg" width="100%" height="100%">
            <div class="descrip-div">
                <h2>Title 9</h2>
                <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa impedit laborum nemo delectus quod velit fuga illum 
                veritatis nihil corrupti aliquid dolores iure exercitationem officiis magni, aut incidunt commodi esse.
    
            </div>
            <div class="user-div">
                <img class="user-img" src="user3.jpg">
                <div class="details">
                    <div class="user-details">
                        User name <br>
                        <small>Posted 1h ago</small>
                    </div>
                    <div class="read-more">
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>
