<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Blog Post Card</title>
</head>

<body>
    <div class="container">
        <div class="card-body">
            <img class='img-div' src="./images/image1.jpg" width="100%" height="100%">
            <div class="descrip-div">
                <h2>Year in a word: Barbenheimer</h2>
                <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa impedit laborum nemo delectus quod velit
                fuga illum
                veritatis nihil corrupti aliquid dolores iure exercitationem officiis magni, aut incidunt commodi esse.

            </div>
            <div class="user-div">
                <img class="user-img" src="./images/user1.jpg">
                <div class="details">
                    <div class="user-details">
                        User name <br>
                        <small>Posted 1h ago</small>
                    </div>
                    <div class="read-more">
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body">
            <img class='img-div' src="./images/image2.jpg" width="100%" height="100%">
            <div class="descrip-div">
                <h2>Title 2</h2>
                <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa impedit laborum nemo delectus quod velit
                fuga illum
                veritatis nihil corrupti aliquid dolores iure exercitationem officiis magni, aut incidunt commodi esse.

            </div>
            <div class="user-div">
                <img class="user-img" src="./images/user2.jpg">
                <div class="details">
                    <div class="user-details">
                        User name <br>
                        <small>Posted 1h ago</small>
                    </div>
                    <div class="read-more">
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body">
            <img class='img-div' src="./images/image3.jpg" width="100%" height="100%">
            <div class="descrip-div">
                <h2>Title 3</h2>
                <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa impedit laborum nemo delectus quod velit
                fuga illum
                veritatis nihil corrupti aliquid dolores iure exercitationem officiis magni, aut incidunt commodi esse.

            </div>
            <div class="user-div">
                <img class="user-img" src="./images/user3.jpg">
                <div class="details">
                    <div class="user-details">
                        User name <br>
                        <small>Posted 1h ago</small>
                    </div>
                    <div class="read-more">
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body">
            <img class='img-div' src="./images/image4.jpg" width="100%" height="100%">
            <div class="descrip-div">
                <h2>Title 4</h2>
                <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa impedit laborum nemo delectus quod velit
                fuga illum
                veritatis nihil corrupti aliquid dolores iure exercitationem officiis magni, aut incidunt commodi esse.

            </div>
            <div class="user-div">
                <img class="user-img" src="./images/user1.jpg">
                <div class="details">
                    <div class="user-details">
                        User name <br>
                        <small>Posted 1h ago</small>
                    </div>
                    <div class="read-more">
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body">
            <img class='img-div' src="./images/image5.jpg" width="100%" height="100%">
            <div class="descrip-div">
                <h2>Title 5</h2>
                <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa impedit laborum nemo delectus quod velit
                fuga illum
                veritatis nihil corrupti aliquid dolores iure exercitationem officiis magni, aut incidunt commodi esse.

            </div>
            <div class="user-div">
                <img class="user-img" src="./images/user2.jpg">
                <div class="details">
                    <div class="user-details">
                        User name <br>
                        <small>Posted 1h ago</small>
                    </div>
                    <div class="read-more">
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body">
            <img class='img-div' src="./images/image6.jpg" width="100%" height="100%">
            <div class="descrip-div">
                <h2>Title 6</h2>
                <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa impedit laborum nemo delectus quod velit
                fuga illum
                veritatis nihil corrupti aliquid dolores iure exercitationem officiis magni, aut incidunt commodi esse.

            </div>
            <div class="user-div">
                <img class="user-img" src="./images/user3.jpg">
                <div class="details">
                    <div class="user-details">
                        User name <br>
                        <small>Posted 1h ago</small>
                    </div>
                    <div class="read-more">
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body">
            <img class='img-div' src="./images/image7.jpg" width="100%" height="100%">
            <div class="descrip-div">
                <h2>Title 7</h2>
                <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa impedit laborum nemo delectus quod velit
                fuga illum
                veritatis nihil corrupti aliquid dolores iure exercitationem officiis magni, aut incidunt commodi esse.

            </div>
            <div class="user-div">
                <img class="user-img" src="./images/user1.jpg">
                <div class="details">
                    <div class="user-details">
                        User name <br>
                        <small>Posted 1h ago</small>
                    </div>
                    <div class="read-more">
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body">
            <img class='img-div' src="./images/image8.jpg" width="100%" height="100%">
            <div class="descrip-div">
                <h2>Title 8</h2>
                <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa impedit laborum nemo delectus quod velit
                fuga illum
                veritatis nihil corrupti aliquid dolores iure exercitationem officiis magni, aut incidunt commodi esse.
            </div>
            <div class="user-div">
                <img class="user-img" src="./images/user2.jpg">
                <div class="details">
                    <div class="user-details">
                        User name <br>
                        <small>Posted 1h ago</small>
                    </div>
                    <div class="read-more">
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body">
            <img class='img-div' src="./images/image9.jpg" width="100%" height="100%">
            <div class="descrip-div">
                <h2>Title 9</h2>
                <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa impedit laborum nemo delectus quod velit
                fuga illum
                veritatis nihil corrupti aliquid dolores iure exercitationem officiis magni, aut incidunt commodi esse.

            </div>
            <div class="user-div">
                <img class="user-img" src="./images/user3.jpg">
                <div class="details">
                    <div class="user-details">
                        User name <br>
                        <small>Posted 1h ago</small>
                    </div>
                    <div class="read-more">
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>