<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Tilted Breadcrumb</title>
</head>

<body>
    <div class="cont_principal">
        <div class="cont_breadcrumbs">
            <div class="cont_breadcrumbs_1">
                <ul>
                    <li><a href="#">Html</a></li>
                    <li><a href="#">CSS</a></li>
                    <li><a href="#">JS</a></li>
                    <li><a href="#">React</a></li>
                    <li><a href="#">Svelte</a></li>
                </ul>

            </div>
        </div>
    </div>
    </div>
</body>

</html>