<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <title>Simplest Navbar</title>
</head>
<body>
    <header>
        <nav>
         
            <a href="#home" data-title="Home" ><span class="material-symbols-outlined">
                home
                </span></a>
            <a href="#message" data-title="Message"><span class="material-symbols-outlined">
                chat_bubble
                </span></a>
            <a href="#user"  data-title="Person"><span class="material-symbols-outlined">
                person
                </span></a>
            <a href="#setting" data-title="Setting">
                <span class="material-symbols-outlined">
                    settings
                    </span>
            </a>
           
        </nav>
    
    </header>
    
</body>
</html>