<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="card">
        <img src="https://raw.githubusercontent.com/Rakesh9100/Beautiify/main/assets/images/logo.png" class="img" />
        <div class="textBox">
            <p class="text head">Beautiify</p>
            <span>Every component on the right place</span>
            <p class="text price">★★★★✰</p>
        </div>
    </div>

</body>

</html>