<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Product Preview Card</title>
</head>

<body>
    <div class="card">
        <img src="../../../assets/images/logo.png" class="img" alt="Beautiify Logo">
        <div class="textBox">
            <p class="text head">Beautiify</p>
            <span class="tagline">Every component in the right place</span>
            <p class="text price">★★★★✰</p>
        </div>
    </div>
</body>

</html>