body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #ff0000, #0000ff);
    background-size: 200% 200%;
    animation: bgShift 6s infinite alternate;
}

@keyframes bgShift {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}