<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Portfolio Contact Form</title>
</head>
<body>
    <section id="Contact">
        <div class="containerc">
            <div class="leftc">
                <h1 class="titlec">Let's get in touch</h1>
                <h2 class="subtitlec">
                    Open for any suggestion or to have a discussion
                </h2>
                <div class="imagec">
                    <img src="assets/contact.jpg" alt="" />
                </div>
                <div class="infoc">
                    <span>
                    <i class="fa-solid fa-location-dot"></i>Kolkata, West Bengal,
                    India
                    </span>
                    <span> <i class="fa-solid fa-phone"></i>+91 9999999999 </span>
                    <span> <i class="fa fa-github"></i>https://github.com/komal-agarwal5</span>
                    <span> <i class="fa fa-linkedin-square"></i>https://www.linkedin.com/in/komal-agarwal-95a3a026a/</span>
                </div>
            </div>
            <div class="rightc">
                <h1 class="titlec">Fill out</h1>
                <form action="" method="POST" class="form">
                    <!-- Add formspree link in action -->
                    <div class="form-field">
                        <i class="fa-solid fa-user icon"></i>
                        <input type="text" name="Name" placeholder="Your name" required />
                    </div>
                    <div class="form-field">
                        <i class="fa-solid fa-envelope icon"></i>
                        <input type="email" name="Email" placeholder="Your email" required />
                    </div>
                    <div class="form-field">
                        <i class="fa-solid fa-phone icon"></i>
                        <input type="number" name="Phone no" placeholder="Your phone number" />
                    </div>
                    <div class="form-field">
                        <i class="fa-solid fa-message icon"></i>
                        <textarea placeholder="Leave your message here" name="Message" required></textarea>
                    </div>
                    <button>
                    Send Message <i class="fa-solid fa-paper-plane icon"></i>
                    </button>
                </form>
            </div>
        </div>
    </section>
</body>
</html>
