<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>3D Card Carousel</title>
</head>
<body>

    <div class="banner">
        <div class="slider" style="--quantity: 10">
            <div class="item" style="--position: 1"><img src="images/dragon_1.jpg" alt=""></div>
            <div class="item" style="--position: 2"><img src="images/dragon_2.jpg" alt=""></div>
            <div class="item" style="--position: 3"><img src="images/dragon_3.jpg" alt=""></div>
            <div class="item" style="--position: 4"><img src="images/dragon_4.jpg" alt=""></div>
            <div class="item" style="--position: 5"><img src="images/dragon_5.jpg" alt=""></div>
            <div class="item" style="--position: 6"><img src="images/dragon_6.jpg" alt=""></div>
            <div class="item" style="--position: 7"><img src="images/dragon_7.jpg" alt=""></div>
            <div class="item" style="--position: 8"><img src="images/dragon_8.jpg" alt=""></div>
            <div class="item" style="--position: 9"><img src="images/dragon_9.jpg" alt=""></div>
            <div class="item" style="--position: 10"><img src="images/dragon_10.jpg" alt=""></div>
        </div>
        <div class="content">
            <div class="model"></div>
        </div>
    </div>

</body>
</html>