@keyframes colorCycle {
    0% {
        color: red;
    }

    16.67% {
        color: orange;
    }

    33.33% {
        color: yellow;
    }

    50% {
        color: green;
    }

    66.67% {
        color: blue;
    }

    83.33% {
        color: indigo;
    }

    100% {
        color: violet;
    }
}

.color-cycle-text {
    font-size: 2em;
    animation: colorCycle 3s linear infinite;
    text-align: center;
    margin-top: 20%;
}
