<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Simple 404 Error Page</title>
</head>

<body>
    <header>
        <div class="heading">
            <h1>404 Not Found</h1>
        </div>
    </header>
    <section class="home">
        <div class="image">
            <img src="assets/image.png" alt="Scarecrow" width="100px">
        </div>
        <div class="content">
            <h1>I have bad news for you</h1>
            <p>The page you are looking for might be removed or is temporarily unavailable</p>
            <a href="#" class="btn">Back Homepage</a>
        </div>
    </section>
</body>

</html>