@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
}

section {
    padding: 0 77px;
}

html {
    font-size: 62.5%;
}

header {
    padding: 4rem 77px;
}

header h1 {
    font-size: 24px;
    letter-spacing: -2px;
    cursor: pointer;
}

.home {
    padding-top: 6rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
}

.home .image {
    flex: 1 1 45rem;
}

.home img {
    width: 100%;
}

.home .content {
    flex: 1 1 60rem;
}

.home .content h1 {
    font-family: 'Space Mono', monospace;
    font-size: 64px;
    font-weight: 700;
    line-height: 95px;
    letter-spacing: -0.035em;
    padding-bottom: 1rem;
    color: #333333;
}

.home .content p {
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-family: 'Space Mono', monospace;
    line-height: 36px;
    letter-spacing: -0.035em;
    padding-bottom: 5rem;
    max-width: 50rem;
    color: #4F4F4F;
}

.home .content a {
    padding: 2rem 3rem;
    background-color: #333333;
    color: #fff;
    font-family: Space Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.035em;
    text-transform: uppercase;
    transition: 0.2s;
}

.home .content a:hover {
    background-color: #4F4F4F;
    text-decoration: none;
}

/* Media Queries */
@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    header {
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    .home .content h1 {
        font-size: 48px;
        line-height: 71px;
        padding-bottom: 2rem;
    }

    .home .content p {
        font-size: 18px;
        line-height: 27px;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .home .content h1 {
        font-size: 40px;
        line-height: 55px;
        padding-bottom: 2rem;
    }

    .home .content p {
        font-size: 18px;
        line-height: 27px;
    }

    .home .content a {
        margin-bottom: 5rem;
    }

    section {
        padding: 0 1.5rem;
    }
}