<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Arima+Madurai&display=swap">
    <title>Pendulum Loader</title>
</head>

<body>
    <section>
        <div class="pendulum">
            <div class="bar"></div>
            <ul class="ball-group">
                <li class="ball"></li>
                <li class="ball"></li>
                <li class="ball"></li>
                <li class="ball"></li>
                <li class="ball"></li>
            </ul>
        </div>
    </section>
</body>

</html>