.container {
	margin: auto;
	width: 500px;
	background-color: #2d2d2d; /* Adjust to match bg-gray-950 */
	border-radius: 1rem;
	overflow: hidden;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); /* Similar to drop-shadow-xl */
}

.status-bar {
	background-color: #333;
	display: flex;
	align-items: center;
	padding: 5px;
	color: white;
	position: relative;
}

.status-indicators {
	position: absolute;
	left: 10px; /* Adjust to match left-3 */
}

.indicator {
	height: 7px; /* Adjust to match h-3.5 */
	width: 7px; /* Adjust to match w-3.5 */
	border-radius: 50%;
	margin-right: 5px; /* Adjust to match mr-2 */
}

.indicator-red {
	background-color: #ff605c;
}

.indicator-yellow {
	background-color: #ffbd44;
}

.indicator-green {
	background-color: #00ca4e;
}

.status-text {
	flex: 1;
	text-align: center;
}

.loading-text {
	padding: 10px; /* Adjust to match p-2.5 */
	color: #0f0;
}

.loading {
	margin-right: 5px; /* Adjust to match mr-2 */
}

.dot {
	display: inline-block;
	width: 5px; /* Adjust size as needed */
	height: 5px; /* Adjust size as needed */
	border-radius: 50%;
	margin: 0 2px; /* Adjust spacing as needed */
	animation: ping 1.5s infinite ease-in-out;
}

.dot-1 {
	animation-delay: 0.5s;
}

.dot-2 {
	animation-delay: 0.7s;
}

.dot-3 {
	animation-delay: 0.9s;
}

@keyframes ping {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
