<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="style.css" />
    <title>Parallel Park Breadcrumb</title>
</head>

<body>
    <header>
        <h1>
            <p class="header-title">
                Parallel park
            </p>
        </h1>
    </header>
    <main>
        <div class="car-line park">
            <div class="car car-red">
                <div class="car-front"></div>
                <div class="car-middle"></div>
                <div class="car-back"></div>
            </div>
            <span class="vacancy passo1"></span>
            <div class="car car-blue">
                <div class="car-front"></div>
                <div class="car-middle"></div>
                <div class="car-back"></div>
            </div>
        </div>
        <div class="car-line">
            <input class="passo1" id="passo1" type="checkbox" /><input class="passo2" id="passo2"
                type="checkbox" /><input class="passo3" id="passo3" type="checkbox" /><input class="passo4" id="passo4"
                type="checkbox" />
            <div class="car car-silver">
                <div class="car-front"></div>
                <div class="car-middle"></div>
                <div class="car-back"></div>
            </div>
            <div class="breadcrumbs breadcrumbs-flat">
                <label class="passo1-label" for="passo1">start</label><label class="passo2-label"
                    for="passo2">step2</label><label class="passo3-label" for="passo3">step 3</label><label
                    class="passo4-label" for="passo4">finish</label>
            </div>
            <div class="congrats">
                <h2 class="congrats-title">
                    Congratulations!
                </h2>
                <h3 class="congrats-subtitle">
                    You are now a parallel park master.
                </h3>
            </div>
        </div>
    </main>
</body>

</html>