*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    min-height: 100vh;
    height: 100%;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

body,
html {
    height: 100%;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: auto;
    display: flex;
    overflow-y: hidden;
    justify-content: center;
    align-items: flex-start;
}

#bgv {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
    z-index: -1;
}

img {
    max-height: 7rem;
}

@font-face {
    font-family: 'Norse Bold';
    src: url('assets/Norse-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

#head {
    font-family: 'Norse Bold', sans-serif;
    font-size: 6.5rem;
    color: white;
    text-align: center;
    margin-bottom: 1rem;
}

form>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    height: auto;
    max-width: 600px;
    width: 90%;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px;
    max-height: 90vh;
    overflow-y: auto;
}

@keyframes borderColorChange {

    0%,
    100% {
        border-color: #fac834;
    }

    50% {
        border-color: #ed5dfc;
    }
}

.Logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 1rem;
    margin-bottom: 20px;
}

.wrapper>h2 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
}

.login {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 1rem;
    gap: 5px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 3rem;
}

.login>a {
    text-decoration: none;
    color: rgb(0, 170, 249);
}

.login>a:hover {
    color: aquamarine;
}

form {
    width: 100%;
}

input {
    width: 100%;
    max-width: 300px;
    border-radius: 12px;
    border: 1px solid crimson;
    box-shadow: 0 0 8px rgb(251, 104, 104);
    padding: 10px;
    margin-bottom: 10px;
}

input:hover {
    box-shadow: 0 0 25px #feddc4;
    border: 1px solid #f5c097;
}

input:focus {
    outline: none;
}

input[type='password']:invalid {
    border: 2px solid #ff0000;
    box-shadow: 0 0 25px rgba(255, 0, 0, 0.5);
}

.password:hover input[type='password']:invalid {
    box-shadow: 0 0 25px rgb(255, 0, 0);
}

form>.Signin>input[type="submit"] {
    width: 100%;
    max-width: 150px;
    height: 40px;
    margin-top: 15px;
    background-color: #e95560;
    color: aliceblue;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}

form>.Signin>input[type="submit"]:hover {
    background-color: #ed969c;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #2d1113;
    border: 1px solid crimson;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    body {
        overflow: auto;
    }

    .container {
        width: 90%;
        padding: 10px;
    }

    #head {
        font-size: 4rem;
    }

    .wrapper>h2 {
        font-size: 2rem;
    }

    input {
        max-width: 100%;
    }

    form>.Signin>input[type="submit"] {
        width: 100%;
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    #head {
        font-size: 3rem;
    }

    .wrapper>h2 {
        font-size: 1.5rem;
    }

    input {
        padding: 8px;
    }

    form>.Signin>input[type="submit"] {
        height: 35px;
    }
}