<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Bubbles Text Animation</title>
</head>

<body>
    <!-- Edit the text with whatever you want :) -->
    <!-- Works with emojis too ! -->
    <canvas id="scene"></canvas>
    <input id="copy" type="text" value="Beautiify ♥" />
    <p>Click anywhere to change the radius of your mouse</p>
    <script src="script.js"></script>
</body>

</html>