<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Toggle Button-2</title>
</head>

<body>
    <input type="checkbox" id="dark-mode-toggle">
    <label for="dark-mode-toggle">
        <svg width="180px" height="150px" class="sun" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="12" cy="12" r="5" stroke="black" stroke-width="1.5" />
            <path d="M12 2V4" stroke="black" stroke-width="1.5" stroke-linecap="round" />
            <path d="M12 20V22" stroke="black" stroke-width="1.5" stroke-linecap="round" />
            <path d="M4 12L2 12" stroke="black" stroke-width="1.5" stroke-linecap="round" />
            <path d="M22 12L20 12" stroke="black" stroke-width="1.5" stroke-linecap="round" />
            <path d="M19.7778 4.22266L17.5558 6.25424" stroke="black" stroke-width="1.5" stroke-linecap="round" />
            <path d="M4.22217 4.22266L6.44418 6.25424" stroke="black" stroke-width="1.5" stroke-linecap="round" />
            <path d="M6.44434 17.5557L4.22211 19.7779" stroke="black" stroke-width="1.5" stroke-linecap="round" />
            <path d="M19.7778 19.7773L17.5558 17.5551" stroke="black" stroke-width="1.5" stroke-linecap="round" />
        </svg>
    
        <svg width="180px" height="150px" class="moon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M3.32031 11.6835C3.32031 16.6541 7.34975 20.6835 12.3203 20.6835C16.1075 20.6835 19.3483 18.3443 20.6768 15.032C19.6402 15.4486 18.5059 15.6834 17.3203 15.6834C12.3497 15.6834 8.32031 11.654 8.32031 6.68342C8.32031 5.50338 8.55165 4.36259 8.96453 3.32996C5.65605 4.66028 3.32031 7.89912 3.32031 11.6835Z"
                stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
    </label>
    <div class="bgColor"></div>
</body>

</html>
