body {
    padding: 0px;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    width: 500px;
    height: 200px;
    position: relative;
    display: block;
    background-color: rgba(128, 128, 128, 0.164);
    border-radius: 200px;
    cursor: pointer;
    box-shadow: inset 0 5px 15px rgb(34, 34, 34), inset 0 -5px 15px rgba(180, 178, 178, 0.637);
    transition: 0.3s;
}

label:after {
    content: "";
    width: 180px;
    height: 180px;
    position: absolute;
    top: 10px;
    left: 10px;
    background: linear-gradient(180deg, rgb(233, 187, 102), gold);
    border-radius: 180px;
    box-shadow: 0 5px 10px rgba(49, 49, 49, 0.836);
    transition: 0.3s;
}

input {
    width: 0;
    height: 0;
    visibility: hidden;
}

input:checked+label {
    background-color: rgb(43, 42, 42);
}

input:checked+label:after {
    left: 490px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #777, #3a3a3a);
}

label:active:after {
    width: 260px;
}

.bgColor {
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: -1;
    position: absolute;
    transition: 0.3s;
}

input:checked+label+.bgColor {
    background: black;
}

label svg {
    position: absolute;
    width: 120px;
    top: 30px;
    z-index: 20;
}

label svg.sun {
    left: 37px;
    /* fill: #fff; */
    transition: 0.3s;
}

label svg.moon {
    left: 349px;
    /* fill: #585757; */
    transition: 0.3s;
}

input:checked+label+svg.sun {
    fill: #fff;
}

input:checked+label+svg.moon {
    fill: #585757;
}
