<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Neumorphism Carousel</title>
</head>

<body>
    <main>
        <!-- Swiper -->
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/2af2c090-6cfe-4c67-938d-0334d5192bda"
                        alt="" />
                    <div class="content">
                        <div class="title">
                            <h1>
                                <span class="white-point"></span> Starry Night
                                <span class="white-point"></span>
                            </h1>
                            <h3>Vincent van Gogh (1853-1890)</h3>
                        </div>
                        <p>
                            It was created in 1889 when Van Gogh was staying at a mental
                            hospital in France. He painted it from memory, which means he
                            painted what he felt. In "Starry Night," you can see a dark blue
                            night sky filled with swirling stars. Below, there's a small
                            village with tall cypress trees. The stars in the painting are
                            extra bright and seem to move around. It's exhibited at Museum
                            of Modern Art (MoMA) in New York City, the USA.
                        </p>
                    </div>
                </div>

                <div class="swiper-slide">
                    <img src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/ce6f9dcf-1b51-477c-86c7-667bdb45dfc9"
                        alt="" />
                    <div class="content">
                        <div class="title">
                            <h1>
                                <span class="white-point"></span> The Kiss
                                <span class="white-point"></span>
                            </h1>
                            <h3>Gustav Klimt (1862-1918)</h3>
                        </div>
                        <p>
                            It was created between 1907 and 1908. In the painting, you can
                            see a couple locked in an intimate and passionate embrace. They
                            are covered in a pattern of shimmering gold and surrounded by
                            intricate geometric shapes and symbols. Today, "The Kiss" is
                            considered one of the most iconic and valuable artworks in the
                            world. It's exhibited at the Belvedere Museum in Vienna,
                            Austria.
                        </p>
                    </div>
                </div>

                <div class="swiper-slide">
                    <img src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/ffa0c567-807f-4bd1-9597-3d704eb1976c"
                        alt="" />
                    <div class="content">
                        <div class="title">
                            <h1>
                                <span class="white-point"></span> The Birth of Venus
                                <span class="white-point"></span>
                            </h1>
                            <h3>Sandro Botticelli (1445-1510)</h3>
                        </div>
                        <p>
                            It was created around the years 1484-1486. In the painting, you
                            can see a beautiful woman standing on a seashell in the middle
                            of the sea. This woman is Venus, the goddess of love and beauty
                            in ancient mythology. She is born from the sea foam, and the
                            wind gods are gently blowing her to the shore. It's exhibited in
                            the Uffizi Gallery in Florence, Italy.
                        </p>
                    </div>
                </div>

                <div class="swiper-slide">
                    <img src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/4a5aedde-34ce-484a-8499-a09394fed77e"
                        alt="" />
                    <div class="content">
                        <div class="title">
                            <h1>
                                <span class="white-point"></span> Girl with a Pearl Earring
                                <span class="white-point"></span>
                            </h1>
                            <h3>Johannes Vermeer (1632-1675)</h3>
                        </div>
                        <p>
                            It was created around 1665. The painting shows a young woman
                            with a beautiful pearl earring in her ear. She has a simple,
                            elegant outfit, and she looks over her shoulder with a
                            mysterious expression. Today, it is exhibited in the Rijksmuseum
                            Amsterdam, The Netherlands, where people from all over the world
                            come to see its beauty.
                        </p>
                    </div>
                </div>

                <div class="swiper-slide">
                    <img src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/d0beb676-ca36-4a8c-a9f2-bdce2855fa33"
                        alt="" />
                    <div class="content">
                        <div class="title">
                            <h1>
                                <span class="white-point"></span> Mona Lisa
                                <span class="white-point"></span>
                            </h1>
                            <h3>Leonardo da Vinci (1452-1519)</h3>
                        </div>
                        <p>
                            He painted it between 1503 and 1506 during the Renaissance
                            period. The painting shows a woman with a mysterious smile and
                            long, dark hair. She's wearing a simple dress and sits against a
                            distant landscape with a winding river and a bridge. Her smile
                            seems to change as you look at it from different angles. It's
                            now exhibited in the Louvre Museum in Paris, France.
                        </p>
                    </div>
                </div>

            </div>
            <div class="swiper-pagination"></div>
        </div>
    </main>

    <ul class="particles">
        <span style="--i: 11"></span>
        <span style="--i: 12"></span>
        <span style="--i: 13"></span>
        <span style="--i: 14"></span>
        <span style="--i: 15"></span>
        <span style="--i: 16"></span>
        <span style="--i: 17"></span>
        <span style="--i: 18"></span>
        <span style="--i: 19"></span>
        <span style="--i: 20"></span>
        <span style="--i: 21"></span>
        <span style="--i: 11"></span>
        <span style="--i: 12"></span>
        <span style="--i: 13"></span>
        <span style="--i: 14"></span>
        <span style="--i: 15"></span>
        <span style="--i: 16"></span>
        <span style="--i: 17"></span>
        <span style="--i: 18"></span>
        <span style="--i: 19"></span>
        <span style="--i: 20"></span>
        <span style="--i: 21"></span>
        <span style="--i: 11"></span>
        <span style="--i: 12"></span>
        <span style="--i: 13"></span>
        <span style="--i: 14"></span>
        <span style="--i: 15"></span>
        <span style="--i: 16"></span>
        <span style="--i: 17"></span>
        <span style="--i: 18"></span>
        <span style="--i: 19"></span>
        <span style="--i: 20"></span>
        <span style="--i: 21"></span>
    </ul>
</body>
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script src="script.js"></script>

</html>