<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.cdnfonts.com/css/something-strange" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Spooky Themed Hero</title>
</head>
<body>
    <header>
        <div class="logo">
            <h5>Beautiify</h5>
        </div>
        <div class="nav">
            <ul>
                <li>Home</li>
                <li>Services</li>
                <li>Success Stories</li>
                <li>Blog</li>
                <li class="contact">Contact Us</li>
            </ul>
        </div>
    </header>
    <div class="hero-section">
        <div class="content">
            <h1>Beautiify</h1>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis, lacus id facilisis consectetur, ligula orci dignissim nisi, eu suscipit arcu arcu ac nisl.</p>
            <button>Contact Us</button>
            <div class="skill-set">
                <div class="skill">
                    <img src="assets/images/image1.png" alt="App Development">
                    <h3>App Development</h3>
                </div>
                <div class="skill">
                    <img src="assets/images/image2.png" alt="UI/UX">
                    <h3>Machine Learning</h3>
                </div>
                <div class="skill">
                    <img src="assets/images/image3.png" alt="Web Development">
                    <h3>Web Development</h3>
                </div>
            </div>
        </div>
        <div class="hero-image">
            <img src="assets/images/heroimage.png" alt="Hero Image">
        </div>
    </div>
</body>
</html>
