@font-face {
    font-family: "Nightcore";
    src: url("assets/fonts/Nightcore-Demo.ttf");
}

@font-face {
    font-family: "Something-Strange";
    src: url("assets/fonts/Something-Strange.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100vh;
    background: url("assets/images/background.png")
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 130px;
}

.nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 30px;
}

.nav ul li {
    font-family: "Nightcore";
    font-weight: 400;
    font-size: 17px;
    margin-left: 20px;
    color: #fff;
    cursor: pointer;
    transition: color 0.3s;
}

.nav ul li:hover {
    color: #72ed2f;
}

.logo h5 {
    font-family: "Nightcore";
    font-weight: 400;
    font-size: 23px;
    color: #fff;
    transition: 0.5;
}

.logo h5:hover {
    color: #72ed2f;
}

.contact {
    border: 1px solid #72ed2f;
    padding: 13px 18px;
    margin: 10px;
    transition: .5s;
}

.contact:hover {
    box-shadow: 0px 0px 10px 0px #72ed2f;
}

.content h1 {
    font-family: "Something-Strange", sans-serif;
    font-size: 100px;
    width: 500px;
    letter-spacing: 10px;
    color: #5fe117;
    line-height: 125px;
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 160px;
}

.content p {
    font-family: "Roboto-Regular";
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    width: 540px;
    line-height: 33px;
    padding: 40px 0px;
}

.content button {
    font-family: "Roboto-Regular";
    font-weight: 400;
    font-size: 18px;
    background: #72ed2f;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: capitalize;
    margin: 25px;
    transition: .5s;
}

.content button:hover {
    box-shadow: 0px 0px 30px 0px #72ed2f;
}

.skill-set {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}

.skill {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 1px solid #72ed2f;
    width: 220px;
    height: 60px;
    cursor: pointer;
}

.skill img {
    width: 40px;
    height: auto;
}

.skill h3 {
    font-family: "Roboto-Regular";
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
}