<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Gear Loader</title>
</head>

<body>
    <div class="box">
        <div id="wrapper">
            <div class="gears" id="two-gears">
                <div class="gears-container">
                    <div class="gear-rotate"></div>
                    <div class="gear-rotate-left"></div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>