<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="./css/normalize.css" />
	<script src="https://kit.fontawesome.com/b08b6de27e.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="./css/sidebar.css" />
	<link rel="stylesheet" href="./css/style.css">
	<script src="./js/snap.svg-min.js"></script>
	<title>Elastic Side Navigation Bar</title>
</head>

<body class="theme-1">
	<div class="container">
		<nav id="menu" class="menu">
			<button class="menu__handle"><span>Menu</span></button>
			<div class="menu__inner">
				<ul>
					<li><a href="#"><i class="fa fa-fw fa-home"></i><span>Home<span></a></li>
					<li><a href="#"><i class="fa fa-fw fa-heart"></i><span>Favs<span></a></li>
					<li><a href="#"><i class="fa fa-fw fa-folder"></i><span>Files<span></a></li>
					<li><a href="#"><i class="fa fa-fw fa-tachometer"></i><span>Stats<span></a></li>
				</ul>
			</div>
			<div class="morph-shape" data-morph-open="M300-10c0,0,295,164,295,410c0,232-295,410-295,410"
				data-morph-close="M300-10C300-10,5,154,5,400c0,232,295,410,295,410">
				<svg width="100%" height="100%" viewBox="0 0 600 800" preserveAspectRatio="none">
					<path fill="none" d="M300-10c0,0,0,164,0,410c0,232,0,410,0,410" />
				</svg>
			</div>
		</nav>
		<div class="main">
			<h1>Elastic Side Navigation Bar</h1>
		</div>
	</div>

	<script src="./js/script.js"></script>

</body>

</html>