<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Welcome Offer Popup</title>
</head>
<body>
    <main>
        <h1>Hello world!</h1>
    </main>

    <section class="pop-up-container">
        <div class="pop-up-wrapper">
            <button class="close-btn">&times;</button>
            <div class="left">
                <img src="assets/welcome.webp" alt="">
            </div>
            <div class="right">
                <h1>Get 15% Off</h1>
                <h1>Your first order.</h1>
                <p>+ Free shipping & returns!</p>
                <input type="text" placeholder="Enter your email">
                <button>Get My 15% Off</button>
                <a href="#">Terms & Conditions</a>
            </div>
        </div>
    </section>

    <script src="./script.js"></script>
</body>
</html>
