<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Navigator Breadcrumb</title>
</head>

<body>
    <div class="wrap">
        <input id="tab-1" class="tab" type="radio" name="nav">
        <input id="tab-2" class="tab" type="radio" name="nav">
        <input id="tab-3" class="tab" type="radio" name="nav" checked>
        <input id="tab-4" class="tab" type="radio" name="nav">
        <div class="content">
            <div class="htm">
                <h1>home</h1>
                <p>Hello Folks!</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint accusantium ut ratione reprehenderit
                    quod nihil fugiat voluptatibus commodi? Corporis fugiat a vero in blanditiis mollitia quaerat
                    voluptas recusandae officia ex!</p>
            </div>
            <div class="htm">
                <h1>about</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo eum voluptate pariatur quis unde
                    perspiciatis itaque voluptates quisquam ipsa quos consectetur impedit, est, vero possimus ab
                    eligendi obcaecati, reprehenderit quam!</p>
            </div>
            <div class="htm">
                <h1>work</h1>
                <div class="grd clearfix">
                    <div class="col">
                        <div class="work-item">
                            <span class="more">+</span>
                            <span class="title">lorem</span>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="work-item">
                            <span class="more">+</span>
                            <span class="title">lorem</span>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="work-item">
                            <span class="more">+</span>
                            <span class="title">lorem</span>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="work-item">
                            <span class="more">+</span>
                            <span class="title">lorem</span>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="work-item">
                            <span class="more">+</span>
                            <span class="title">Lorem</span>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="work-item">
                            <span class="more">+</span>
                            <span class="title">lorem</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="htm">
                <h1>credits</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum ratione tempora cupiditate
                    inventore, odio molestias nam aperiam mollitia voluptas tenetur ipsum vitae! Eligendi, excepturi
                    accusamus impedit architecto aspernatur reprehenderit quidem.</p>
            </div>
        </div>
        <div class="nav">
            <div class="links">
                <label for="tab-1">home</label>
                <label for="tab-2">about</label>
                <label for="tab-3">work</label>
                <label for="tab-4">credits</label>
            </div>
        </div>
    </div>
    </div>
</body>

</html>