<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Falling Leaf Background</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <section>
        
        <div class ="set">
            <div><img src ="leaves1.png"></div>
            <div><img src ="leaves2.png"></div>
            <div><img src ="leaves3.png"></div>
            <div><img src ="leaves4.png"></div>
            <div><img src ="leaves1.png"></div>
            <div><img src ="leaves2.png"></div>
            <div><img src ="leaves3.png"></div>
            <div><img src ="leaves4.png"></div>

        </div>
        <div class ="set set2">
            <div><img src ="leaves1.png"></div>
            <div><img src ="leaves2.png"></div>
            <div><img src ="leaves3.png"></div>
            <div><img src ="leaves4.png"></div>
            <div><img src ="leaves1.png"></div>
            <div><img src ="leaves2.png"></div>
            <div><img src ="leaves3.png"></div>
            <div><img src ="leaves4.png"></div>

        </div>
        <div class ="set set3">
            <div><img src ="leaves1.png"></div>
            <div><img src ="leaves2.png"></div>
            <div><img src ="leaves3.png"></div>
            <div><img src ="leaves4.png"></div>
            <div><img src ="leaves1.png"></div>
            <div><img src ="leaves2.png"></div>
            <div><img src ="leaves3.png"></div>
            <div><img src ="leaves4.png"></div>

        </div>
    </section>
    
</body>
</html>