body {
    font-family: Arial, sans-serif;
    background: url(https://i.pinimg.com/originals/c9/8a/63/c98a630219cfe688adbf3ca148012e36.gif);
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.signup-container {
    position: relative;
    animation: borderGlow 2s linear infinite;
    border-radius: 20px;
}

@keyframes borderGlow {

    0%,
    100% {
        box-shadow: 0px -10px 15px -6px rgba(0, 255, 0, 0.8),
            0px 5px 15px 0px rgba(255, 0, 0, 0.8),
            5px 0px 15px 0px rgba(0, 0, 255, 0.8),
            -5px 0px 15px 0px rgba(93, 225, 245, 0.8);
    }

    25% {
        box-shadow: -5px 0px 15px 0px rgba(93, 225, 245, 0.8),
            0px -10px 15px -6px rgba(0, 255, 0, 0.8),
            0px 5px 15px 0px rgba(255, 0, 0, 0.8),
            5px 0px 15px 0px rgba(0, 0, 255, 0.8);

    }

    50% {
        box-shadow: 5px 0px 15px 0px rgba(0, 0, 255, 0.8),
            -5px 0px 15px 0px rgba(93, 225, 245, 0.8),
            0px -10px 15px -6px rgba(0, 255, 0, 0.8),
            0px 5px 15px 0px rgba(255, 0, 0, 0.8);

    }

    75% {
        box-shadow: 0px 5px 15px 0px rgba(255, 0, 0, 0.8),
            5px 0px 15px 0px rgba(0, 0, 255, 0.8),
            -5px 0px 15px 0px rgba(93, 225, 245, 0.8),
            0px -10px 15px -6px rgba(0, 255, 0, 0.8);

    }
}

.signup-form {
    background-color: #0000005f;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    padding: 20px;
    border-radius: 20px;
    width: 300px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.signup-form h2 {
    color: #fff;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

.signup-form input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #333;
    border-radius: 50px;
    background-color: #2222226b;
    color: #fff;
    outline: none;

    transition: all linear .2s;
}

.signup-form input:hover {
    border-color: #00f, #f00, #0f0;
    box-shadow: 0px -10px 15px -6px rgba(0, 255, 0, 0.8),
        0px 5px 15px 0px rgba(255, 0, 0, 0.8),
        5px 0px 15px 0px rgba(0, 0, 255, 0.8),
        -5px 0px 15px 0px rgba(93, 225, 245, 0.8);
}

.signup-form button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.signup-form button:hover {
    background-color: #45a049;
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.8);
}