<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Rainbow Animation Button</title>
</head>

<body>
    <div class="container text-center">
        <div class="btn">
            <a class="rainbow rainbow-1">Click Me!</a>
        </div>
        <div class="btn">
            <a class="rainbow rainbow-2">Click Me!</a>
        </div>
        <div class="btn">
            <a class="rainbow rainbow-3">Click Me!</a>
        </div>
        <div class="btn">
            <a class="rainbow rainbow-4">Click Me!</a>
        </div>
        <div class="btn">
            <a class="rainbow rainbow-5">Click Me!</a>
        </div>
    </div>
</body>

</html>