<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="payment form.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
    <title>Payment Form</title>
</head>

<body>
    <div class="container">
        <form>
            <h1>PAYMENT FORM</h1>
            <p class="mainheads" id="reqfields">Required fields are followed by *</p>

            <div class="paymentdiv">

                <p class="mainheads" id="contactinfo">Contact Information</p>
                <div class="inputtext">
                    <p>Name *</p>
                    <div class="inputfield">
                        <input type="text" placeholder="Name" name="name" required>
                    </div>
                </div>

                <div class="inputtext">
                    <p>Gender</p>
                    <div class="inputfield" id="gender">
                        <input type="radio" name="gender" id="male"> Male
                        <input type="radio" name="gender" id="female"> Female
                    </div>
                </div>

                <div class="inputtext">
                    <p>Address </p>
                    <div class="inputfield">
                        <textarea name="address" id="address" cols="20" rows="4"
                            placeholder="Enter Your Address Here"></textarea>
                    </div>
                </div>

                <div class="inputtext">
                    <p>Email *</p>
                    <div class="inputfield">
                        <input type="email" name="email" id="email" placeholder="Email" required>
                    </div>
                </div>

                <div class="inputtext">
                    <p>Pincode *</p>
                    <div class="inputfield">
                        <input type="number" name="pincode" placeholder="Pincode" id="pincode" required>
                    </div>
                </div>

                <p class="mainheads">Payment Information</p>

                <div class="inputtext">
                    <p>Card Type *</p>
                    <div class="inputfield">
                        <select name="card_type" id="card_type">
                            <option value="">- - select a card type - -</option>
                            <option value="visa">Visa</option>
                            <option value="rupay">Rupay</option>
                            <option value="mastercard">MasterCard</option>
                            <option value="debitcard">DebitCard</option>
                            <option value="creditcard">CreditCard</option>
                            <option value="prepaidcard">PrepaidCard</option>
                        </select>
                    </div>
                </div>

                <div class="inputtext">
                    <p>Card Number *</p>
                    <div class="inputfield">
                        <input type="number" name="card_number" placeholder="Card Number" id="card_number" required>
                    </div>
                </div>

                <div class="inputtext">
                    <p>Expiration Date *</p>
                    <div class="inputfield">
                        <input type="date" name="exp_date" id="exp_date" required>
                    </div>
                </div>

                <div class="inputtext">
                    <p>CVV *</p>
                    <div class="inputfield">
                        <input type="password" name="cvv" placeholder="CVV" id="cvv" required>
                    </div>
                </div>

                <div class="buttons">
                    <input type="submit" class="button" id="paynow" value="PAY NOW">
                    <input type="reset" class="button" id="clear" value="CLEAR">
                </div>
            </div>
        </form>
    </div>
</body>

</html>