*{
    padding: 0px;
    box-sizing:border-box;
}

body{
    background:linear-gradient(rgba(247, 239, 183, 0.14),rgba(240, 240, 181, 0.28)),  url("https://images.pexels.com/photos/544268/pexels-photo-544268.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size:cover;
    margin:30px 40px;
    font-size:17px;
    padding:8px;
}

.container{
    background-color: rgba(234, 73, 14, 0.16);
    padding:5px 20px 15px 20px;
    border:2px solid rgba(246, 242, 242, 0.62);
    border-radius: 16px;
}

input[type=text],
input[type=email],
input[type=password],
input[type=number],
input[type=date],
select,
textarea{
    width:100%;
    padding:12px;
    border:1px solid rgb(198, 194, 194);
    border-radius: 4px;
    background-color:rgba(62, 82, 233, 0.15);
    margin:10px;
    color: white;
}


h1{
    text-align: center;
    font-weight:900;
    font-size:300%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(9, 66, 146);
    text-align:centre;
    text-decoration:solid;
    text-shadow:3px 2px 1px  rgba(139, 239, 239, 0.851);
}

h2{
    font-size:180%;
    text-align:centre;
    font-family:arial;
    text-indent:30px;
    color: #ef1481cb;
    text-shadow: 2px 1px 3px #030b00d2;
}


p{
    font-size:140%;
    text-decoration-color: azure;
    text-decoration-style: dotted;
    text-shadow: 2px 2px 3px rgba(8, 8, 8, 0.99);
    text-align: centre;
    font-family:sans-serif;
    font-weight: bolder;
    color:rgba(234, 202, 25, 0.72)
}

h1+p{
   text-align:center;
   color:rgb(248, 16, 16);
   margin-left:auto;
   font-family:arial;
   font-size: 120%;;
}

.button:hover{
   font-size: 14px;
}

footer{

    text-align: center;
    font-size: 100%;
    font-family: cursive;
    background-color:rgba(99, 65, 176, 0.22);
}
footer a{
    color:#93c6f3;
    text-decoration: none;
    overflow: hidden;
    }
footer a:hover{
    color: fuchsia;
}

input[type=reset]
{
    background-color: rgb(96, 172, 21) ;
    border: none;
    color:#f7f7f7;
    padding:15px 30px;
    text-decoration: none;
    margin: 4px 2px;
    border-radius: 4px;
    cursor:progress;
    width:45%
}

input[type=submit] {
background-color: #62529c;
border: none;
color: #fff;
padding: 15px 30px;
text-decoration: none;
margin: 4px 2px;
border-radius: 4px;
cursor: pointer;
width:50%;
}

@media screen and (min: 7inch){
    h2{
        font-size:100%
    }
    p{
    font-size:80%;
    }
}