body {
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to right top, #2273f5, #3c7df3, #4f87f1, #6191ef, #719bec, #6aa8f2, #67b4f6, #69bff8, #52cffe);
    margin: 0;
    padding: 0;
}

.container {
    background-color: #f4f4f4;
    border-radius: 12px;
    box-shadow: 10px 10 10px rgba(138, 133, 133, 0.1);
    padding: 20px;
    width: 80%;
    max-width: 400px;
    margin: 20px auto 20px auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
}

h1 {
    color: #333;
    text-align: center;
}

.mainheads {
    font-weight: 800;
    text-align: center;
    margin-top: 20px;
}

.inputtext {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.inputtext p {
    margin: 0;
    width: 40%;
    padding-top: 1.5%;
}

.inputfield {
    flex: 1;
}

.inputtext #gender {
    padding-top: 4.625px;
    padding-bottom: 7px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
select,
textarea {
    width: 100%;
    padding: 8px;
    margin: 5px 5px 10px 7px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="radio"],
input[type="date"] {
    margin-right: 5px;
    margin-left: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="date"] {
    padding: 8px;
    width: 90%;
}


.paymentdiv .inputfield {
    margin-left: 6px;
}

/* buttons */
.buttons {
    display: flex;
    justify-content: space-between;
}

.button {
    padding: 10px;
    width: 65%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px 5px;
}

#paynow {
    background-color: #666a66;
    color: #fff;
}

#paynow:hover {
    background-color: #4caf50;

}

#clear {
    background-color: #f44336;
    color: #fff;
}

#clear:hover {
    background-color: #db2d16;
    color: #fff;
}