* {
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-container {
    width: 60vh;
    height: 65vh;
    background-image: linear-gradient(45deg, rgb(243, 157, 234), pink);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    border-radius: 18px;
    box-shadow: 10px 10px rgb(241, 135, 183);
}

.card {
    position: relative;
    height: 50vh;
    width: 25rem;
}

.card::before,
.card::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 1.5rem;
    transform: perspective(25rem) rotateX(var(--rotate, 0deg))scale(var(--scale, 1));
    transform-origin: bottom;
    transition: .5s ease-in-out;
}

.card::before {
    background-image: url('/assets/images/logo.png');
}

.card::after {
    background-image: url('/assets/images/logo.png');
}

.card:hover::before,
.card:hover::after {
    --scale: 1.3;
}

.card:hover::before {
    --rotate: 65deg;
    filter: blur(.5px);
}

.card:hover::before {
    --rotate: 65deg;
    filter: blur(.5px);
}