@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: skyblue;
}

.navbar {
    background-color: #f50370;
    overflow: hidden;
    box-shadow: 0px 1px 1px 0px grey;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.navbar li {
    position: relative;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 25px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #dddddd;
    transition: ease-in 0.5s;
    color: black;
    box-shadow: 0px 0px 2px 0px black;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #dddddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.content {
    margin-top: 20%;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
    text-align: center;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
        align-items: center;
    }

    .navbar li {
        width: 100%;
        text-align: center;
    }

    .dropdown-content {
        position: static;
        transform: none;
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .navbar a {
        padding: 14px 20px;
    }

    .content {
        margin-top: 30%;
        font-size: 24px;
    }
}