<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>3D Cylindrically Rotating Text Animation</title>
</head>

<body>
    <div class="container">
        <div class="box">
            <span style="--i: 1">
                <i>BEA</i>
                UTI
                <i>IFY</i>
            </span>
            <span style="--i: 2">
                <i>BEA</i>
                UTI
                <i>IFY</i>
            </span>
            <span style="--i: 3">
                <i>BEA</i>
                UTI
                <i>IFY</i>
            </span>
            <span style="--i: 4">
                <i>BEA</i>
                UTI
                <i>IFY</i>
            </span>
            <span style="--i: 5">
                <i>BEA</i>
                UTI
                <i>IFY</i>
            </span>
            <span style="--i: 6">
                <i>BEA</i>
                UTI
                <i>IFY</i>
            </span>
            <span style="--i: 7">
                <i>BEA</i>
                UTI
                <i>IFY</i>
            </span>
            <span style="--i: 8">
                <i>BEA</i>
                UTI
                <i>IFY</i>
            </span>
            <span style="--i: 9">
                <i>BEA</i>
                UTI
                <i>IFY</i>
            </span>
            <span style="--i: 10">
                <i>BEA</i>
                UTI
                <i>IFY</i>
            </span>
            <span style="--i: 11">
                <i>BEA</i>
                UTI
                <i>IFY</i>
            </span>
            <span style="--i: 12">
                <i>BEA</i>
                UTI
                <i>IFY</i>
            </span>
            <span style="--i: 13">
                <i>BEA</i>
                UTI
                <i>IFY</i>
            </span>
            <span style="--i: 14">
                <i>BEA</i>
                UTI
                <i>IFY</i>
            </span>
            <span style="--i: 15">
                <i>BEA</i>
                UTI
                <i>IFY</i>
            </span>
            <span style="--i: 16">
                <i>BEA</i>
                UTI
                <i>IFY</i>
            </span>
        </div>
    </div>
</body>

</html>