body {
    background: radial-gradient(#3bbe5c, #53123a);
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 140px;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: -5px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    margin-bottom: 10%;
    color: rgb(13, 24, 10);
    outline: none;
    text-align: center;
}

h1:hover {
    font-variation-settings: "wght" 782;
    letter-spacing: 3px;
}