<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Polaroid Like Photo Carousel</title>
</head>

<body>
    <div class="gallery">
        <img src="https://picsum.photos/id/1004/400/400" alt="a lovely kiss in the night">
        <img src="https://picsum.photos/id/1013/400/400" alt="a women inside a car">
        <img src="https://picsum.photos/id/1066/400/400" alt="a baby">
        <img src="https://picsum.photos/id/325/400/400" alt="a girl in the forest">
        <img src="https://picsum.photos/id/65/400/400" alt="a girl">
    </div>
</body>

</html>