<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Code Snippet Card</title>
</head>

<body>
    <div class="code-editor">
        <div class="header">
            <span class="title">CSS</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="icon">
                <g stroke-width="0" id="SVGRepo_bgCarrier"></g>
                <g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g>
                <g id="SVGRepo_iconCarrier">
                    <path stroke-linecap="round" stroke-width="2" stroke="#4C4F5A" d="M6 6L18 18"></path>
                    <path stroke-linecap="round" stroke-width="2" stroke="#4C4F5A" d="M18 6L6 18"></path>
                </g>
            </svg>
        </div>
        <div class="editor-content">
            <code class="code">
                <p><span class="color-0">.code-editor </span> <span>{</span></p>
                <p class="property"><span class="color-2">max-width</span><span>:</span> <span class="color-1">300px</span>;</p>
                <p class="property"><span class="color-2">background-color</span><span>:</span> <span class="color-preview-1"></span><span class="">#1d1e22</span>;</p>
                <p class="property"><span class="color-2"> box-shadow</span><span>:</span> <span class="color-1">0px 4px 30px <span class="color-preview-2"></span><span class="color-3">rgba(</span>0, 0, 0, 0.5<span class="color-3">)</span></span>;</p>
                <p class="property"><span class="color-2">border-radius</span><span>:</span> <span class="color-1">8px</span>;</p>
                <span>}</span>
            </code>
        </div>
    </div>
</body>

</html>
