<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&amp;display=swap'>
	<link rel="stylesheet" href="./style.css">
	<title>Hexagonal Ripple Loader</title>
</head>

<body>
	<!-- partial:index.partial.html -->
	<div class="hexagon" aria-label="Animated hexagonal ripples">
		<div class="hexagon__group">
			<div class="hexagon__sector"></div>
			<div class="hexagon__sector"></div>
			<div class="hexagon__sector"></div>
			<div class="hexagon__sector"></div>
			<div class="hexagon__sector"></div>
			<div class="hexagon__sector"></div>
		</div>
		<div class="hexagon__group">
			<div class="hexagon__sector"></div>
			<div class="hexagon__sector"></div>
			<div class="hexagon__sector"></div>
			<div class="hexagon__sector"></div>
			<div class="hexagon__sector"></div>
			<div class="hexagon__sector"></div>
		</div>
		<div class="hexagon__group">
			<div class="hexagon__sector"></div>
			<div class="hexagon__sector"></div>
			<div class="hexagon__sector"></div>
			<div class="hexagon__sector"></div>
			<div class="hexagon__sector"></div>
			<div class="hexagon__sector"></div>
		</div>
		<div class="hexagon__group">
			<div class="hexagon__sector"></div>
			<div class="hexagon__sector"></div>
			<div class="hexagon__sector"></div>
			<div class="hexagon__sector"></div>
			<div class="hexagon__sector"></div>
			<div class="hexagon__sector"></div>
		</div>
		<div class="hexagon__group">
			<div class="hexagon__sector"></div>
			<div class="hexagon__sector"></div>
			<div class="hexagon__sector"></div>
			<div class="hexagon__sector"></div>
			<div class="hexagon__sector"></div>
			<div class="hexagon__sector"></div>
		</div>
		<div class="hexagon__group">
			<div class="hexagon__sector"></div>
			<div class="hexagon__sector"></div>
			<div class="hexagon__sector"></div>
			<div class="hexagon__sector"></div>
			<div class="hexagon__sector"></div>
			<div class="hexagon__sector"></div>
		</div>
	</div>
	<p aria-label="Loading">Loading</p>
	<!-- partial -->

</body>

</html>