<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>3D Animated Breadcrumb</title>
</head>
<body>
    <div class="container">
        <div class="pane">
            <label class="label">
                <span>Yes</span>
                <input id="left" class="input" name="radio" type="radio" />
            </label>
            <label class="label">
                <span>No</span>
                <input id="middle" class="input" checked="checked" name="radio" type="radio" />
            </label>
            <label class="label">
                <span>Idk</span>
                <input id="right" class="input" name="radio" type="radio" />
            </label>
            <span class="selection"></span>
        </div>
    </div>
</body>
</html>
