<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Neumorphism Card</title>
</head>

<body>
    <div id="container">
        <div id="left">
            <!-- Card One -->
            <div id="one">
                <p>This is a neumorphism card 1</p><br>
                <p>Normal type in Light Theme</p>
            </div>
            <!-- Card Two -->
            <div id="two">
                <p>This is a neumorphism card 2</p><br>
                <p>Pressed type in Light Theme</p>
            </div>
        </div>

        <div id="right">
            <!-- Card Three -->
            <div id="three">
                <p>This is a neumorphism card 3</p><br>
                <p>Normal type in Light Theme</p>
            </div>
            <!-- Card Three -->
            <div id="four">
                <p>This is a neumorphism card 4</p><br>
                <p>Pressed type in Light Theme</p>
            </div>
        </div>
    </div>
</body>

</html>