<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Colored Breadcrumb</title>
</head>

<body>
    <div class="breadcrumb">
        <a class="breadcrumb__step breadcrumb__step--active" href="#">ECMAScript</a>
        <a class="breadcrumb__step" href="#">HTML5</a>
        <a class="breadcrumb__step" href="#">Node.js</a>
        <a class="breadcrumb__step" href="#">Linux</a>
    </div>

    <script src="./script.js"></script>
</body>

</html>