<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
    <title>Circular Navigation Bar</title>
</head>

<body>
    <h1 class="heading">Circular Navigation Bar</h1>
    <div class="navbar">
        <div class="toggle">
            <ion-icon name="add-outline"></ion-icon>
        </div>
        <li style="--i:0;">
            <a href="#"><ion-icon name="home-outline"></ion-icon></a>
        </li>
        <li style="--i:1;">
            <a href="#"><ion-icon name="grid-outline"></ion-icon></a>
        </li>
        <li style="--i:2;">
            <a href="#"><ion-icon name="location-outline"></ion-icon></a>
        </li>
        <li style="--i:3;">
            <a href="#"><ion-icon name="notifications-outline"></ion-icon></a>
        </li>
        <li style="--i:4;">
            <a href="#"><ion-icon name="chatbubble-ellipses-outline"></ion-icon></a>
        </li>
        <li style="--i:5;">
            <a href="#"><ion-icon name="settings-outline"></ion-icon></a>
        </li>
        <li style="--i:6;">
            <a href="#"><ion-icon name="options-outline"></ion-icon></a>
        </li>
        <li style="--i:7;">
            <a href="#"><ion-icon name="mail-unread-outline"></ion-icon></a>
        </li>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="script.js"></script>
</body>

</html>

