<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Circular Navbar</title>
    <link rel="stylesheet" href="./styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <div class="navbar">
        <div class="toggle">
            <ion-icon name="add-outline"></ion-icon>
        </div>
        <li style="--i:0;">
            <a href="#"><ion-icon name="home-outline"></ion-icon></a>
        </li>
        <li style="--i:1;">
            <a href="#"><ion-icon name="grid-outline"></ion-icon></a>
        </li>
        <li style="--i:2;">
            <a href="#"><ion-icon name="location-outline"></ion-icon></a>
        </li>
        <li style="--i:3;">
            <a href="#"><ion-icon name="notifications-outline"></ion-icon></a>
        </li>
        <li style="--i:4;">
            <a href="#"><ion-icon name="chatbubble-ellipses-outline"></ion-icon></a>
        </li>
        <li style="--i:5;">
            <a href="#"><ion-icon name="settings-outline"></ion-icon></a>
        </li>
        <li style="--i:6;">
            <a href="#"><ion-icon name="options-outline"></ion-icon></a>
        </li>
        <li style="--i:7;">
            <a href="#"><ion-icon name="mail-unread-outline"></ion-icon></a>
        </li>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script>
        let toggle = document.querySelector('.toggle');
        let navbar = document.querySelector('.navbar');

        toggle.addEventListener('click', function () {
            navbar.classList.toggle('active');
        });

    </script>
</body>

</html>

