<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>3D Accordion</title>
</head>

<body>
    <div class='screen'>
        <div class='card'>
            <div class='front-box'>
                <h1>Component 1</h1>
                <p>Sample Text</p>
            </div>
            <div class='details-1'>
                <p>Lorem Ipsum</p>
            </div>
            <div class='details-2'>
                <p>~ 1887 ~</p>
            </div>
        </div>
        <div class='card'>
            <div class='front-box'>
                <h1>Component 2</h1>
                <p>Sample text</p>
            </div>
            <div class='details-1'>
                <p>Lorem Ipsum</p>
            </div>
            <div class='details-2'>
                <p>~ 1925 ~</p>
            </div>
        </div>
        <div class='card'>
            <div class='front-box'>
                <h1>Component 3</h1>
                <p>Sample Text</p>
            </div>
            <div class='details-1'>
                <p>Lorem ipsum</p>
            </div>
            <div class='details-2'>
                <p>~ 1503 ~</p>
            </div>
        </div>
        <div class='card'>
            <div class='front-box'>
                <h1>Component 4</h1>
                <p>Sample text</p>
            </div>
            <div class='details-1'>
                <p>Lorem ipsum</p>
            </div>
            <div class='details-2'>
                <p>~ 1780 ~</p>
            </div>
        </div>
    </div>
    <script src="./script.js"></script>
</body>

</html>