<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="./style.css" />
	<title>Pipeline Animation Background</title>
</head>

<body class="demo-5">
	<main>

		<div class="content content--canvas">
			<h2 class="content__title">Pipeline</h2>
		</div>
	</main>

	<script src="js/script.js"></script>
	<script src="js/noise.min.js"></script>
	<script src="js/util.js"></script>
	<script src="js/pipeline.js"></script>

</body>

</html>