<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Strip Carousel</title>
</head>

<body onload="carousel.begin();">
    <div id="carouselContainer">
        <div class="margin">
            <input type="button" onclick="carousel.sliderButtonClick('left')" value="&#9668;" />
        </div>

        <div id="viewport">
            <div id="contentContainer">
                <div class="StripContentContainer">
                    <div class="StripContent">
                        <div class="content content0"></div>
                        <div class="content content1"></div>
                    </div>
                </div>

                <div class="StripContentContainer">
                    <div class="StripContent">
                        <div class="content content0"></div>
                        <div class="content content1"></div>
                    </div>
                </div>

                <div class="StripContentContainer">
                    <div class="StripContent">
                        <div class="content content0"></div>
                        <div class="content content1"></div>
                    </div>
                </div>

                <div class="StripContentContainer">
                    <div class="StripContent">
                        <div class="content content0"></div>
                        <div class="content content1"></div>
                    </div>
                </div>

                <div class="StripContentContainer">
                    <div class="StripContent">
                        <div class="content content0"></div>
                        <div class="content content1"></div>
                    </div>
                </div>

                <div class="StripContentContainer">
                    <div class="StripContent">
                        <div class="content content0"></div>
                        <div class="content content1"></div>
                    </div>
                </div>

                <div class="StripContentContainer">
                    <div class="StripContent">
                        <div class="content content0"></div>
                        <div class="content content1"></div>
                    </div>
                </div>

                <div class="StripContentContainer">
                    <div class="StripContent">
                        <div class="content content0"></div>
                        <div class="content content1"></div>
                    </div>
                </div>

                <div class="StripContentContainer">
                    <div class="StripContent">
                        <div class="content content0"></div>
                        <div class="content content1"></div>
                    </div>
                </div>

                <div class="StripContentContainer">
                    <div class="StripContent">
                        <div class="content content0"></div>
                        <div class="content content1"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="margin">
            <input type="button" onclick="carousel.sliderButtonClick('right')" value="&#9658;" />
        </div>
    </div>

</body>

<script src="./script.js"></script>

</html>