body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #111;
    color: #fff;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    padding: 10px;
    margin: 10px;
    font-size: 1.8vw;
    cursor: pointer;
    transition: transform 0.3s, color 0.3s;
}

.nav-item:hover {
    transform: scale(1.2);
    color: #e44d26;
}

.nav-item.animated:nth-child(2):hover {
    color: #1abc9c;
}

.nav-item.animated:nth-child(3):hover {
    color: #3498db;
}

.nav-item.animated:nth-child(4):hover {
    color: #f39c12;
}

@keyframes pulseAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.animated {
    animation: pulseAnimation 1.5s infinite;
}

@media  (max-width: 768px) {
    .nav-item {
        font-size: 3vw;
    }    
}