<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
    <link rel="stylesheet" href="style.css" />
    <title>Skeuomorphism button</title>
</head>

<body>
    <label>
        <input type="checkbox" class="skeuo__switch" />
        <div class="skeuo__button">
            <i class="bx bx-circle skeuo__circle"></i>
            <i class="bx bx-minus skeuo__line"></i>
        </div>
    </label>
</body>

</html>