<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Timeline Card</title>
</head>

<body>
    <div class="timeline">
        <div class="container left">
            <div class="content">
                <h2>2021</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
            </div>
        </div>
        <div class="container right">
            <div class="content">
                <h2>2022</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
    </div>
    <div class="timeline">
        <div class="container left">
            <div class="content">
                <h2>2023</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, nihil consequuntur. Incidunt.</p>
            </div>
        </div>
        <div class="container right">
            <div class="content">
                <h2>2024</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi?</p>
            </div>
        </div>
    </div>
</body>

</html>