<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Follow Along Cursor</title>
</head>

<body>
    <div class="cursor">
        <div class="cursor__ball cursor__ball--big ">
            <svg height="30" width="30">
                <circle cx="15" cy="15" r="12" stroke-width="0"></circle>
            </svg>
        </div>
        <div class="cursor__ball cursor__ball--small">
            <svg height="10" width="10">
                <circle cx="5" cy="5" r="4" stroke-width="0"></circle>
            </svg>
        </div>
    </div>

    <div class="left">
        <h1>Hello</h1>
        <p>Check out this link:</p>
        <a class="hoverable">Hover meh</a>
    </div>

    <div class="right">
        <h1>Hello</h1>
        <p>Check out this link:</p>
        <a class="hoverable">Hover meh</a>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script src="script.js"></script>
</body>

</html>