* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.body {
    background: #381f1fc8;
    height: 100vh;
}

.imgbackground {
    animation: zoom 25s infinite alternate-reverse;
    background-image: url("assets/background.jpg");
    background-size: cover;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    opacity: 1;
    overflow: hidden;
    scale: 2;
}

@keyframes zoom {
    25% {
        opacity: 1;
    }

    50% {
        opacity: .8;
        scale: 1;
    }

    60% {
        opacity: 0;
    }
}