<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./style.css">
    <title>Modern Navigation Bar</title>
</head>

<body>
    <nav class="navbar">
        <ul>
            <li><a href=""><i class="fa-solid fa-house"></i>Home</a></i></li>
            <li><a href=""><i class="fa-solid fa-magnifying-glass"></i>Search</a></li>
            <li><a href=""><i class="fa-solid fa-fire-flame-curved"></i>Work Out</a></li>
            <li><a href=""><i class="fa-solid fa-bell"></i>Notification</a></li>
            <li><a href=""><i class="fa-solid fa-gear"></i>Settings</a></li>
        </ul>
    </nav>
    <nav class="navbar2">
        <ul>
            <li><a href=""><i class="fa-solid fa-house"></i>Home</a></i></li>
            <li><a href=""><i class="fa-solid fa-magnifying-glass"></i>Search</a></li>
            <li><a href=""><i class="fa-solid fa-fire-flame-curved"></i>Work Out</a></li>
            <li><a href=""><i class="fa-solid fa-bell"></i>Notification</a></li>
            <li><a href=""><i class="fa-solid fa-gear"></i>Settings</a></li>
        </ul>
    </nav>
    <nav class="navbar3">
        <ul>
            <li><a href=""><i class="fa-solid fa-house"></i>Home</a></i></li>
            <li><a href=""><i class="fa-solid fa-magnifying-glass"></i>Search</a></li>
            <li><a href=""><i class="fa-solid fa-fire-flame-curved"></i>Work Out</a></li>
            <li><a href=""><i class="fa-solid fa-bell"></i>Notification</a></li>
            <li><a href=""><i class="fa-solid fa-gear"></i>Settings</a></li>
        </ul>
    </nav>

</body>

</html>