<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>OTP Verification Form</title>
</head>

<body>
    <div class="container">
        <h2>Verify your Account</h2>
        <p>
            We have sent a verification code to your email address. </br>
            Enter the verification code that you received
        </p>
        <div class="code-container">
            <input type="number" class="code" placeholder="0" min="0" max="9" maxlength="1" required>
            <input type="number" class="code" placeholder="0" min="0" max="9" maxlength="1" required>
            <input type="number" class="code" placeholder="0" min="0" max="9" maxlength="1" required>
            <input type="number" class="code" placeholder="0" min="0" max="9" maxlength="1" required>
            <input type="number" class="code" placeholder="0" min="0" max="9" maxlength="1" required>
            <input type="number" class="code" placeholder="0" min="0" max="9" maxlength="1" required>

        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>