* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 600px;
    border: 1px solid black;
    padding: 30px;
    text-align: center;
    border-radius: 20px;
    background-color: white;
}

.container h2 {
    margin-bottom: 20px;
    font-size: 2rem;
}

.container p {
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.code-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.code {
    height: 100px;
    width: 80px;
    border: 1px solid black;
    margin: 5px;
    font-size: 4rem;
    text-align: center;
}

.code::-webkit-outer-spin-button,
.code::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.code:valid {
    border: 1px solid green;
    box-shadow: 0 0 5px green;
}