<!DOCTYPE html> 
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Sign Up Form</title>
</head>

<body>
    <div class="login-container">
        <div class="form-container">
            <div class="form">
                <h1>Sign Up</h1>
                <form id="signupForm" action="" method="post">
                    <div class="input-group">
                        <div class="icon"><i class="ri-user-line"></i></div>
                        <input type="text" name="username" placeholder="Username" />
                    </div>
                    <div class="input-group">
                        <div class="icon"><i class="ri-user-line"></i></div>
                        <input type="text" name="fullName" placeholder="Full Name" />
                    </div>
                    <div class="input-group">
                        <div class="icon"><i class="ri-mail-line"></i></div>
                        <input type="text" name="company" placeholder="Company" />
                    </div>
                    <div class="input-group">
                        <div class="icon"><i class="ri-building-4-line"></i></div>
                        <input type="number" name="contact" placeholder="Contact" />
                    </div>
                    <div class="input-group">
                        <div class="icon"><i class="ri-lock-line"></i></div>
                        <input type="email" name="email" placeholder="Email" />
                    </div>
                    <div class="input-group">
                        <div class="icon"><i class="ri-lock-line"></i></div>
                        <input type="password" name="password" placeholder="Password" />
                    </div>
                    <input type="submit" value="Sign Up" />
                </form>
            </div>
            <div class="info">
                <h2>Why Sign Up?</h2>
                <p>Calling all agricultural sellers! Be part of a community dedicated to supporting farmers with diverse products essential for crop cultivation, health, and protection. Together, let's innovate, elevate farming practices, and safeguard crops against diseases, ensuring food security and sustainable agriculture for generations to come.</p>
                <p>Join Us and Grow!</p>
            </div>
        </div>
    </div>

    <script src="script.js"></script>
</body>

</html>