<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Infinite Carousel</title>
</head>

<body>
    <div class="header">Infinite Carousel</div>
    <div class="gallery">
        <img src="https://picsum.photos/id/199/400/300" alt="the beach">
        <img src="https://picsum.photos/id/1011/400/300" alt="a girl doing kayak">
        <img src="https://picsum.photos/id/124/400/300" alt="a small boat in the sea">
        <img src="https://picsum.photos/id/235/400/300" alt="a mountain">
        <img src="https://picsum.photos/id/423/400/300" alt="a forest">
    </div>
</body>

</html>