body {
    --basic: 80px;
    --color1: #a3d634;
    --color2: #991944;

    --_s: calc(2*var(--basic)) calc(2*var(--basic));
    --_g: var(--_s) conic-gradient(at 40% 40%, #0000 75%, var(--color1) 0);
    --_p: var(--_s) conic-gradient(at 20% 20%, #0000 75%, var(--color2) 0);
    background:
        calc(.9*var(--basic)) calc(.9*var(--basic))/var(--_p),
        calc(-.1*var(--basic)) calc(-.1*var(--basic))/var(--_p),
        calc(.7*var(--basic)) calc(.7*var(--basic))/var(--_g),
        calc(-.3*var(--basic)) calc(-.3*var(--basic))/var(--_g),
        conic-gradient(from 90deg at 20% 20%, var(--color2) 25%, var(--color1) 0) 0 0/var(--basic) var(--basic);
    animation: move 3s infinite;
}

@keyframes move {
    0% {
        background-position:
            calc(.9*var(--basic)) calc(.9*var(--basic)),
            calc(-.1*var(--basic)) calc(-.1*var(--basic)),
            calc(.7*var(--basic)) calc(.7*var(--basic)),
            calc(-.3*var(--basic)) calc(-.3*var(--basic)), 0 0
    }

    25% {
        background-position:
            calc(1.9*var(--basic)) calc(.9*var(--basic)),
            calc(-1.1*var(--basic)) calc(-.1*var(--basic)),
            calc(1.7*var(--basic)) calc(.7*var(--basic)),
            calc(-1.3*var(--basic)) calc(-.3*var(--basic)), 0 0
    }

    50% {
        background-position:
            calc(1.9*var(--basic)) calc(-.1*var(--basic)),
            calc(-1.1*var(--basic)) calc(.9*var(--basic)),
            calc(1.7*var(--basic)) calc(-.3*var(--basic)),
            calc(-1.3*var(--basic)) calc(.7*var(--basic)), 0 0
    }

    75% {
        background-position:
            calc(2.9*var(--basic)) calc(-.1*var(--basic)),
            calc(-2.1*var(--basic)) calc(.9*var(--basic)),
            calc(2.7*var(--basic)) calc(-.3*var(--basic)),
            calc(-2.3*var(--basic)) calc(.7*var(--basic)), 0 0
    }

    100% {
        background-position:
            calc(2.9*var(--basic)) calc(-1.1*var(--basic)),
            calc(-2.1*var(--basic)) calc(1.9*var(--basic)),
            calc(2.7*var(--basic)) calc(-1.3*var(--basic)),
            calc(-2.3*var(--basic)) calc(1.7*var(--basic)), 0 0
    }
}