<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Operating Search Bar</title>
</head>

<body>

    <div class="container">
        <input class="main" /><span class="searchicon"></span>
        <div class="microphone">
            <div class="mic-stand"></div>
        </div>
        <div class="icon-holder">
            <div class="icon" id="parking">
                <div class="tooltip">Parking</div>
            </div>
            <div class="icon" id="gas">
                <div class="base"></div>
                <div class="tooltip">Gas</div>
            </div>
            <div class="icon" id="eat">
                <div class="fork"></div>
                <div class="knife"></div>
                <div class="tooltip">Food</div>
            </div>
            <div class="icon" id="coffee">
                <div class="cup"></div>
                <div class="tooltip">Coffee</div>
            </div>
            <div class="icon" id="misc">
                <div class="dots"></div>
                <div class="tooltip">Misc</div>
            </div>
        </div>
    </div>
</body>

</html>