<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>3D Breadcrumb</title>
</head>

<body>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <div class="center-div">
        <ul class="breadcrumb">
            <li>
                <a href="#">
                    <span class="icon icon-file"></span>
                    <span class="text">contact</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon icon-folder-open"></span>
                    <span class="text">contributors</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon icon-code"></span>
                    <span class="text">components</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon icon-beaker"></span>
                    <span class="text">services</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon icon-home"></span>
                </a>
            </li>
        </ul>
    </div>
</body>

</html>