<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Bike Loader</title>
</head>

<body>
    <div class="main">
        <h1>The Biker's Club</h1>
        <div class="preloader-container">
            <img class="bike-image" src="https://i.postimg.cc/67Pfqf00/boots.png" alt="img 1">
            <img class="bike-image" src="https://i.postimg.cc/F13VFcJy/gloves.png" alt="img 2">
            <img class="bike-image" src="https://i.postimg.cc/305jCrz0/vision.png" alt="img 3">
            <img class="bike-image" src="https://i.postimg.cc/LgttyKMC/helmet.png[" alt="img 4">
            <img class="bike-image" src="https://i.postimg.cc/2bBFZL9f/motorcycle.png" alt="img 5">
        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>
