<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Contact Form</title>
</head>

<body>
    <div class="container">

        <div class="styling">
            <div class="circle1"></div>
            <div class="circle2"></div>
        </div>
        <div class="main">
            <div class="navbar">
                <div class="logo">Logo</div>
                <ul>
                    <li>Home</li>
                    <li>About</li>
                    <li>Gallery</li>
                    <li>Contact</li>
                </ul>
            </div>
            <div class="contact-form">
                <div class="title">
                    <div class="small-title">
                        Get In Touch
                    </div>
                    <div class="main-title">
                        Decide The Program
                    </div>
                </div>
                <form class="contact-section">
                    <div class="contact-form-container">
                        <div class="form main-form">
                            <div class="input-field">
                                <input type="text" id="name" autocomplete="off" />
                                <label for="name">Name</label>
                            </div>
                            <div class="input-field">
                                <input type="email" id="email" autocomplete="off" />
                                <label for="email">Email</label>
                            </div>
                            <div class="input-field">
                                <input type="number" id="pNo" autocomplete="off" />
                                <label for="pNo">Phone Number</label>
                            </div>
                            <div class="input-field">
                                <input type="text" id="message" autocomplete="off" />
                                <label for="message">Message</label>
                            </div>
                        </div>
                        <div class="file-upload">
                            <div class="upload-btn" style="width: 70%;">
                                <label for="file-upload" class="custom-file-upload">Attach File<span
                                        style="color: rgba(255, 255, 255, 0.7);">+</span></label>
                                <input id="file-upload" type="file" />
                            </div>
                        </div>
                    </div>
                    <div class="submit-button">
                        <button type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>