<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Newsletter Subscription Form-2</title>
</head>

<body>
    <form class="form">
        <span class="title">Subscribe to our newsletter.</span>
        <p class="description">Stay in the loop! Subscribe to our email newsletter for the latest updates, exclusive
            offers, and more.</p>
        <div>
            <input placeholder="Enter your email" type="email" name="email" id="email-address">
            <button type="submit">Subscribe</button>
        </div>
    </form>
</body>

</html>