<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Margarine|Rubik:400,500" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet'
        href='https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css'>
    <link rel="stylesheet" href="./style.css">
    <title>Toggle Animated Button</title>
</head>

<body>
    <div class="toggle-wrapper">
        <div class="toggle normal">
            <input id="normal" type="checkbox" />
            <label class="toggle-item" for="normal"></label>
        </div>
        <div class="name">Normal</div>
    </div>
    <div class="toggle-wrapper">
        <div class="toggle transparent">
            <input id="transparent" type="checkbox" />
            <label class="toggle-item" for="transparent"></label>
        </div>
        <div class="name">Transparent</div>
    </div>
    <div class="toggle-wrapper">
        <div class="toggle checkcross">
            <input id="checkcross" type="checkbox" />
            <label class="toggle-item" for="checkcross">
                <div class="check"></div>
            </label>
        </div>
        <div class="name">Yes & No</div>
    </div>
    <div class="toggle-wrapper">
        <div class="toggle">
            <input id="gravity" type="checkbox" />
            <label class="toggle-item" for="gravity"></label>
        </div>
        <div class="name">Gravity</div>
    </div>
    <div class="toggle-wrapper">
        <div class="toggle pancake-stack">
            <input id="pancake" type="checkbox" />
            <label class="toggle-item" for="pancake">
                <div class="pancakes">
                    <div class="pancake"></div>
                    <div class="pancake"></div>
                    <div class="pancake"></div>
                    <div class="butter"></div>
                </div>
            </label>
        </div>
        <div class="name">Pancake Stacks</div>
    </div>
    <div class="toggle-wrapper">
        <div class="toggle dog-rollover">
            <input id="doggo" type="checkbox" />
            <label class="toggle-item" for="doggo">
                <div class="dog">
                    <div class="ear"></div>
                    <div class="ear right"></div>
                    <div class="face">
                        <div class="eyes"></div>
                        <div class="mouth"></div>
                    </div>
                </div>
            </label>
        </div>
        <div class="name">Doggo Wants a Treat</div>
    </div>
    <div class="toggle-wrapper">
        <div class="toggle basketball-hoop">
            <input id="hoop" type="checkbox" />
            <label class="toggle-item" for="hoop">
                <div class="ball__wrapper">
                    <div class="ball"></div>
                </div>
                <div class="hoop"></div>
            </label>
        </div>
        <div class="name">Kobe Bryant Tribute</div>
    </div>
    <div class="toggle-wrapper">
        <div class="toggle beer-pong">
            <input id="beer-pong" type="checkbox" />
            <label class="toggle-item" for="beer-pong"></label>
            <div class="cup">
                <div class="lid"></div>
            </div>
        </div>
        <div class="name">Beer Pong</div>
    </div>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>

</body>

</html>