<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Newton Cradle Loader</title>
</head>

<body>
    <div class="container">
        <div class="cradle">
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
        </div>
        <div class="text">
            <h2 data-text="Loading..." id="txt">Loading...</h2>
        </div>
    </div>
</body>

</html>