body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('bg.jpg');
    background-size: cover;
    color:white;
}

header {
    background-color:black;
    color: #fff;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black; /* Changing navbar text color to black */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

nav h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size:1.2rem;
}

nav ul li {
    display: inline;
    margin-right: 200px;

}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff; /* Changing navbar link color to white */
    text-decoration: none;
    font-weight: bold;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.contact-form {
    width: 45%;
}


.contact-form form {
    max-width: 300px;
    margin: 0 auto;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    color:white; /* Changing form label color to red */
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form input[type="submit"] {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}

.contact-info {
    width: 45%;
    font-size:1.2rem;

}

.contact-info h2 {
    margin-top: 20px;
    font-family:'Dancing Script', cursive;
    color: red; /* Changing contact info heading color to red */
}

h2{
    font-family:'Dancing Script', cursive;
    color: red;
    margin-top: 20px;
    margin-left:15%;
    font-size:2.8rem;
    
}
.contact-info ul {
    list-style-type: none;
    padding: 0;

}

.contact-info ul li {
    margin-bottom: 5px;
}
