body {
    font-family:'Roboto', sans-serif;;
    margin: 0;
    padding: 0;
    background-image: url('assets/background.jpg');
    background-size: cover;
}

.post-container { 
    max-width: 600px;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
    
.header {
    background-color: purple;
    padding: 10px;
    color: white;
    text-align: center;
}

.profile-info {
    padding: 20px;
    text-align: center;
}

.profile-pic {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    display: block;
}

.message-button {
    display: inline-block;
    margin-left: 10px;
}

.message-icon {
    width: 20px;
    height: 20px;
}

.stats {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}

.stats div {
    text-align: center;
}

.social-media {
    text-align: center;
    margin-top: 20px; /* Add some spacing */
}

.social-media a {
    color: purple;
    margin: 0 5px;
    display: inline-block;
    padding: 10px;
    border: 2px solid purple;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.social-media a:hover {
    background-color: purple;
    color: white;
}


.message {
    padding: 20px;
}

.follow-button {
    text-align: center;
    margin-bottom: 20px;
}

.follow-button button {
    padding: 10px 20px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.follow-button button:last-child {
    margin-right: 0; 
}

.follow-button button:hover {
    box-shadow: 0 0 20px rgba(128, 0, 128, 0.7);
}
