<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Neumorphism Form</title>
</head>

<body>
    <div class="container">
        <div class="brand-logo"></div>
        <div class="brand-title">GITHUB</div>
        <div class="inputs">
            <label>EMAIL</label>
            <input type="email" placeholder="abc@gmail.com" />
            <label>PASSWORD</label>
            <input type="password" placeholder="Min 6 charaters long" />
            <button type="submit">LOGIN</button>
        </div>
    </div>
</body>

</html>