<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Voice Command Search Bar</title>    
</head>

<body>
    <div class="container">
        <form action="https://www.google.com/search" method="get" target="_blank" id="search-form">
            <input name="q" type="text" placeholder="Search Beautiify.." autocomplete="off" autofocus>
        </form>
        <p class="info"></p>
    </div>

    <script src="script.js"></script>
</body>

</html>