<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
    <title>Rainbow Scrollbar</title>
</head>
<body>
    <button onclick="LightAndDark()"> Toggle </button>
    <img src="assets/image1.jpg">
    <img src="assets/image2.jpg">
    <img src="assets/image3.jpg">
    <img src="assets/image4.jpg">

    <script src="./script.js"></script>
</body>
</html>
