<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="style.css">
    <title>Touch Slider Carousel</title>
</head>

<body>
    <h1 class="tck">TOUCH SLIDER CAROUSEL</h1>
    <div class="expk">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="picturek">
                        <img src="images/image1.png" alt="">
                    </div>
                    <div class="detailek">
                        <h3 class="switext1k">Flower Name</h3>
                        <span class="switext2k">Species</span>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="picturek">
                        <img src="images/image2.png" alt="">
                    </div>
                    <div class="detailek">
                        <h3 class="switext1k">Flower Name</h3>
                        <span class="switext2k">Species</span>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="picturek">
                        <img src="images/image3.png" alt="">
                    </div>
                    <div class="detailek">
                        <h3 class="switext1k">Flower Name</h3>
                        <span class="switext2k">Species</span>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="picturek">
                        <img src="images/image1.png" alt="">
                    </div>
                    <div class="detailek">
                        <h3 class="switext1k">Flower Name</h3>
                        <span class="switext2k">Species</span>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="picturek">
                        <img src="images/image2.png" alt="">
                    </div>
                    <div class="detailek">
                        <h3 class="switext1k">Flower Name</h3>
                        <span class="switext2k">Species</span>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="script.js"></script>
</body>

</html>
