body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

header {
    text-align: center;
    color: #060606;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background: linear-gradient(rgb(163, 201, 236), rgb(230, 126, 241));
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form:hover {
    transform: perspective(500px) rotateX(3deg);
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out;
}

input[type="text"]:focus {
    border-color: #4caf50;
}

.rating {
    display: flex;
    flex-direction: row;
    /* Change to row to display stars horizontally */
    align-items: center;
    margin-bottom: 16px;
}

.rating label {
    font-size: 24px;
    color: #ccc;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.rating input {
    display: none;
}

.rating label {
    font-size: 24px;
    color: #fff4f4;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.rating input:checked~label {
    color: #ffcc00;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    width: 80%;
    transition: background-color 0.3s ease-in-out;
    /* Added transition property */
}

input[type="submit"]:hover {
    background-color: #45a049;
}