<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Light Toggle Switch</title>
</head>
<body>
    <label class="switch">
        <div class="round"><input name="onoff" id="onoff" type="checkbox">
            <div class="back">
                <label for="onoff" class="but">
                    <span class="on">0</span>
                    <span class="off">I</span>
                </label>
            </div>
        </div>
    </label>    
</body>
</html>
