<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>3D Cube Loader</title>
</head>

<body>
    <div class="loader">
        <div class="box box0">
            <div></div>
        </div>
        <div class="box box1">
            <div></div>
        </div>
        <div class="box box2">
            <div></div>
        </div>
        <div class="box box3">
            <div></div>
        </div>
        <div class="box box4">
            <div></div>
        </div>
        <div class="box box5">
            <div></div>
        </div>
        <div class="box box6">
            <div></div>
        </div>
        <div class="box box7">
            <div></div>
        </div>
        <div class="ground">
            <div></div>
        </div>
    </div>
</body>

</html>
