<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Customizable Percentage Loader</title>
</head>

<body>
    <div id="box">
        <div id="outer">
            <div id="inner">
                <div id="number">
                    <h3 id="num">0</h3>
                </div>
            </div>
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
            <defs>
                <linearGradient id="GradientColor">
                    <stop offset="0%" stop-color="#e91e63" />
                    <stop offset="100%" stop-color="#673ab7" />
                </linearGradient>
            </defs>
            <circle id="circle" cx="80" cy="80" r="70" stroke-linecap="round" />
        </svg>
    </div>
    <div class="custom">
        <input type="number" id="ip" onchange="update()" value="50" min="0" max="100">
        <span class="text">%</span>
    </div>
    <div class="custom">
        <input type="number" id="ip1" onchange="update1()" value="2000" min="0">
        <span class="text">ms</span>
    </div>


</body>
<script src="script.js"></script>

</html>