<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Apple Themed Carousel</title>
</head>

<body>
    <div class="container mt-5">
        <div class="d-flex justify-content-between align-items-center">
            <button class="btn btn-theme" id="themeToggleBtn">Toggle Theme</button>
            <a href="https://github.com/Rakesh9100" target="_blank" class="btn btn-github"><i class="fab fa-github"></i></a>
        </div>
        <div class="carousel-container mt-5">
            <div class="carousel">
                <div class="carousel__face"><img src="./assets/image1.jpg" alt="Image 1"></div>
                <div class="carousel__face"><img src="./assets/image2.jpg" alt="Image 2"></div>
                <div class="carousel__face"><img src="./assets/image3.jpg" alt="Image 3"></div>
                <div class="carousel__face"><img src="./assets/image4.jpg" alt="Image 4"></div>
                <div class="carousel__face"><img src="./assets/image5.jpg" alt="Image 5"></div>
                <div class="carousel__face"><img src="./assets/image6.jpg" alt="Image 6"></div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="script.js"></script>
</body>

</html>