<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Simple Accordion</title>
</head>

<body>
    <div class="card">
        <details class="warning">
            <summary>Lorem ipsum</summary>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        </details>

        <details class="info">
            <summary>Lorem ipsum</summary>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        </details>

        <details class="alert">
            <summary>Lorem ipsum</summary>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        </details>
    </div>
</body>

</html>