@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');

:root {
    --color-bg: #fc6c81;
    --color-title: #0E1C4E;
    --color-summary-1: #fdead9;
    --color-summary-1-highlight: #FFC48B;
    --color-summary-2: #e4e4ff;
    --color-summary-2-highlight: #B4B3FF;
    --color-summary-3: #fcd4dc;
    --color-summary-3-highlight: #fba4c7;
    --font-ibm-plex-sans: 'IBM Plex Sans', sans-serif;
}

html,
body {
    height: 100vh;
    width: 100%;
    background: var(--color-bg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background: white;
    padding: 38px 36px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 4px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, .1);
    max-width: 30em;
    width: 100%;
}

.card h1 {
    font-family: var(--font-ibm-plex-sans);
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.2;
    color: var(--color-title);
    margin-bottom: 20px;
}

.card details {
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    background: rgba(0, 0, 0, .05);
    border-left: 15px solid gray;
    padding: 15px;
    margin-top: 15px;
}

.card details.warning {
    background: var(--color-summary-1);
    border-left-color: var(--color-summary-1-highlight);
}

.card details.info {
    background: var(--color-summary-2);
    border-left-color: var(--color-summary-2-highlight);
}

.card details.alert {
    background: var(--color-summary-3);
    border-left-color: var(--color-summary-3-highlight);
}

.card details summary,
.card details p {
    position: relative;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    font-family: var(--font-ibm-plex-sans);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: var(--color-title);
    padding: 20px;
    cursor: pointer;
}

.card details summary::-webkit-details-marker {
    display: none;
}

.card details summary:focus {
    outline: solid 3px var(--highlight);
}

.card details summary::selection {
    background-color: var(--highlight);
}

.card details p {
    display: list-item;
    cursor: default;
    margin-left: 3rem;
}

.card details summary::before {
    cursor: pointer;
    position: absolute;
    display: inline-flex;
    width: 1rem;
    height: 1rem;
    left: 0rem;
    margin-right: .5rem;
    content: '+';
    font-size: 1.5rem;
    line-height: 1rem;
    color: var(--color-title);
}

.card details[open] summary {
    font-weight: 700;
}

.card details[open] summary::before {
    transform: rotate(45deg);
    content: '-';
    font-size: 1.5rem;
    line-height: 1rem;
    color: var(--color-title);
}

@counter-style corona-warning {
    system: cyclic;
    symbols: 🧡 🍁;
    suffix: " ";
}

@counter-style corona-info {
    system: cyclic;
    symbols: 💜 🪻;
    suffix: " ";
}

@counter-style corona-alert {
    system: fixed;
    symbols: 💖 💞;
    suffix: " ";
}