* {
    font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif, Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
}

:root {
    --main-color: #6f1227;
}

main {
    background-color: var(--main-color);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100dvh;
    color: white;
}

.context-menu {
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgb(238, 238, 238);
    list-style-type: none;
    width: 150px;
    display: none;
}

.context-menu li {
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid rgb(183, 183, 183);
}

.context-menu li:hover {
    background-color: rgb(198, 198, 198);
}
