<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Circle-Carousel</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="main" id="main">
        <div class="crop">
            <ul id="card-list" style="--count: 6;">
                <li>
                    <div class="card"><span class="card-title">Demo Card</span><span>Add your own text here to use this
                            template and make your website more interesting.</span></div>
                </li>
                <li>
                    <div class="card"><span class="card-title">Demo Card</span><span>Add your own text here to use this
                            template and make your website more interesting.</span></div>
                </li>
                <li>
                    <div class="card"><span class="card-title">Demo Card</span><span>Add your own text here to use this
                            template and make your website more interesting.</span></div>
                </li>
                <li>
                    <div class="card"><span class="card-title">Demo Card</span><span>Add your own text here to use this
                            template and make your website more interesting.</span></div>
                </li>
                <li>
                    <div class="card"><span class="card-title">Demo Card</span><span>Add your own text here to use this
                            template and make your website more interesting.</span></div>
                </li>
                <li>
                    <div class="card"><span class="card-title">Demo Card</span><span>Add your own text here to use this
                            template and make your website more interesting.</span></div>
                </li>
            </ul>
            <div class="last-circle"></div>
            <div class="second-circle"></div>
        </div>
        <div class="mask"></div>
        <div class="center-circle"></div>
    </div>

</body>

</html>