<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Customizable Tooltip</title>
</head>

<body>
    <section class="tooltip-container">
        <div class="tooltip-btn top">
            <span>Top</span>
            <div class="tooltip-content">
                <span>Info</span>
            </div>
        </div>

        <div class="tooltip-btn left">
            <span>Left</span>
            <div class="tooltip-content">
                <span>Info</span>
            </div>
        </div>

        <div class="tooltip-btn right">
            <span>Right</span>
            <div class="tooltip-content">
                <span>Info</span>
            </div>
        </div>

        <div class="tooltip-btn bottom">
            <span>Bottom</span>
            <div class="tooltip-content">
                <span>Info</span>
            </div>
        </div>
    </section>
</body>

</html>