body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #72EDF2 10%, #5151E5 100%);
}

.reset-password-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-family: 'Georgia', serif;
}

.input-group {
    margin-bottom: 15px;
    font-family: 'Lobster', cursive;
}

.label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
    
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #5151E5;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Lobster', cursive;
}

button:hover {
    background-color: #333;
}

#error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
}
