body {
    background-color: rgb(20, 19, 19);
    overflow: hidden;
}

h2 {
    color: azure;
    text-align: center;
    text-shadow: 0px 0px 5px rgb(223, 223, 223);
}

#main {
    cursor: move;
    position: absolute;
    z-index: 10;
    padding: 20px 20px;
    width: 18vw;
    margin: auto;
    background-color: rgba(133, 47, 133, 0.479);
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
}

.info {
    z-index: 10;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 15vw;
    margin: auto;
    padding: 10px 10px;
    color: azure;
    background-color: rgba(198, 114, 189, 0.646);
    box-shadow: inset 0px 0px 20px rgba(163, 26, 161, 0.68);
    text-align: center;
    border-radius: 20px;

}

.info:hover {
    background-color: rgb(214, 191, 214);
    box-shadow: 0px 0px 7px white;
    color: rgb(21, 21, 21);
}

.info:active {
    background-color: rgba(219, 209, 219, 0.813);
}
