* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

h1 {
    position: relative;
    font-size: 8em;
    color: #222;
    text-transform: uppercase;
    border-bottom: 16px solid #222;
    letter-spacing: 0.05em;
    line-height: 1.2em;
}

h1::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #03a9f4;
    overflow: hidden;
    border-bottom: 16px solid #03a9f4;
    animation: animate 10s linear infinite;
}

@keyframes animate {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}