body {
    margin: 0;
    height: 100vh;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-size: 400% 400%;
    animation: gradientBG 10s ease infinite;
    background: linear-gradient(-45deg, rgba(251, 194, 235, 0.6), rgba(166, 193, 238, 0.6), rgba(251, 194, 235, 0.6), rgba(166, 193, 238, 0.6));
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.bubble {
    position: absolute;
    width: 20px;
    height: 20px;
    background: rgb(255, 255, 255); /* Increased opacity */
    border-radius: 50%;
    opacity: 1; /* Set full opacity */
    animation: floatUp linear infinite;
}

@keyframes floatUp {
    0% {
        transform: translateY(100vh) scale(1);
        opacity: 1; /* Start with full opacity */
    }

    100% {
        transform: translateY(-10vh) scale(1.3);
        opacity: 0.3; /* Reduced opacity slightly */
    }
}